.enhancement{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.enhancement-content {
  margin-bottom: -10px;
}

.enhancement-date{
  color: gray;
}

a{
  font-size: 1em;
  font-weight: bold;
}

app-user-avatar-circle{
  width: 35px !important;
  height: 35px !important;
  margin-right: 24px;
}

