<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <button mat-button class="back-button" routerLink="/login">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <ng-container i18n="@@registerConfirmationBackButton">
        Back to login
      </ng-container>
    </button>

    <img src="../../../assets/images/treviz-logo.png" id="confirmation-logo" alt="Treviz Logo">

    <div *ngIf="displayErrorMessage" class="error-card">
      <button mat-icon-button (click)="closeErrorMessage()"><mat-icon>clear</mat-icon></button>
      <span *ngIf="isUserNotFound" i18n="@@forgotPasswordInvalidUser">
        We could not find this user
      </span>
      <span *ngIf="isUserAlreadyEnabled" i18n="@@registerConfirmationUserAlreadyEnabled">
        This user is already enabled
      </span>
      <span *ngIf="isTokenExpired" i18n="@@registerConfirmationExpiredLink">
        This link has expired, try creating a new one by resetting your password
      </span>
      <span *ngIf="isTokenInvalid" i18n="@@resetPasswordInvalidLink">
        This link is invalid
      </span>
      <span *ngIf="displayGenericError" i18n="@@loginComponentGenericError">
        An error occurred, please try again later or contact the platform's administrator
      </span>
    </div>

    <mat-card class="authentication-card" *ngIf="displaySuccessMessage">
      <h3 *ngIf="!displayErrorMessage" i18n="@@registerConfirmationSuccess">User successfully activated</h3>
    </mat-card>
    <div class="loading-spinner" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

  </div>

</div>
