<form [formGroup]="form" class="flex flex-column">

  <mat-form-field>
    <input matInput
           placeholder="Name"
           i18n-placeholder="@@name"
           name="name"
           formControlName="name">
  </mat-form-field>

  <mat-form-field>
          <textarea matInput
                    placeholder="Description"
                    i18n-placeholder="@@description"
                    name="description"
                    formControlName="description"
                    rows="5"></textarea>
    <mat-hint align="end"><a href="https://guides.github.com/features/mastering-markdown/">We suppport Markdown!</a></mat-hint>
  </mat-form-field>

  <section>
    <h3 i18n="@@createCommunityVisibility">Visibility</h3>
    <div i18n="@@createCommunityVisibilityDescription">
      A community can either be public or private. A public community can be seen by anyone, while a private one
      is ony accessible to its members, on invitation.
      <br/>
      Public communities can be open: joining them does not require the approval of any administrator.
    </div>
    <mat-checkbox
      name="isVisible"
      [(ngModel)]="communityDto.isVisible"
      [ngModelOptions]="{standalone: true}"
      i18n="@@createCommunityPublicCommunity">Public community</mat-checkbox>

    <mat-checkbox
      name="isOpen"
      [disabled]="!communityDto.isVisible"
      [checked]="communityDto.isVisible && communityDto.isOpen"
      [(ngModel)]="communityDto.isOpen"
      [ngModelOptions]="{standalone: true}"
      i18n="@@createCommunityPrivateCommunity">Open community</mat-checkbox>
  </section>

  <h3>Logo</h3>
  <div i18n="@@createCommunityUploadLogo">Upload a logo</div>

  <treviz-file-field
    [file]="logo"
    mimeTypes="image/png, image/jpeg, image/svg+xml"
    class="mt-1"
    reduceImageSize
    (onFileDrop)="setFile($event)"></treviz-file-field>

</form>
