<div class="flex flex-column p-2">
  <h1 i18n="@@createCommunityTitle">Create a community</h1>

  <treviz-community-form
    #communityForm
    (onSubmit)="onSubmit($event)"
    (onStatusChange)="onStatusChange($event)"></treviz-community-form>

  <button mat-raised-button
          color="primary"
          type="submit"
          (click)="communityForm.submit()"
          i18n="@@createCommunitySubmit"
          [disabled]="submitted || !isFormValid">Create</button>
</div>
