@import "../../../assets/theme";

.section-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;

  button {
    margin-left: 24px;
  }
}

.search-load-more{
  width: 50px;
  margin: auto;
}

.load-more-button{
  width: 100%;
  margin: 10px auto;
}

#no-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

app-job-thumbnail {
  margin: auto;

  @include media-breakpoint-small {
    width: 100%;
  }
}
