<mat-progress-bar
  mode="indeterminate"
  *ngIf="!personalJobsFetched || !jobsFetched"
  class="top-progress-bar"></mat-progress-bar>

<div class="p-1">
  <h3>Jobs</h3>
</div>

<ng-container *ngIf="personalJobsFetched">
  <mat-tab-group *ngIf="personalJobs?.length > 0; else availableJobs">

    <!-- Display the jobs the user takes part in -->
    <mat-tab label="My jobs"
             i18n-label="@@jobListMyJobs">
      <div class="flex flex-column align-items-center pt-1 pb-1 p-md-1">
        <app-job-thumbnail *ngFor="let job of personalJobs"
                           [job]="job"
                           class="mb-1"></app-job-thumbnail>
      </div>
    </mat-tab>

    <mat-tab label="Available jobs" i18n-label="@@jobListAvailableJobs">
      <ng-container *ngTemplateOutlet="availableJobs"></ng-container>
    </mat-tab>

  </mat-tab-group>
</ng-container>

<ng-template #availableJobs>
  <section class="flex flex-column">
    <treviz-filter-component
      placeholder="Search a job"
      i18n-placeholder="@@searchJobByName"
      class="p-1"
      (onFiltersUpdate)="search($event)"></treviz-filter-component>

    <div class="flex flex-column align-items-center pb-1 p-md-1" *ngIf="jobs?.length > 0">
      <app-job-thumbnail
        *ngFor="let job of jobs"
        [job]="job"
        class="mb-1"></app-job-thumbnail>
    </div>

    <div *ngIf="jobsFetched && jobs.length === 0" id="no-jobs">
      <h2 i18n="@@jobListNone">No job was found</h2>
    </div>

    <button mat-button color="primary" (click)="loadMore()" class="load-more-button" *ngIf="jobsFetched && moreToLoad">
      <ng-container i18n="@@jobListLoadMore">Load More</ng-container>
    </button>
  </section>
</ng-template>
