<!--component html goes here -->

<div id="project-manage-team-dialog">

  <button mat-icon-button (click)="dialogRef.close()" id="close-button">
    <mat-icon>close</mat-icon>
  </button>

  <mat-tab-group>

    <mat-tab label="Manage Team" i18n-label="@@manageTeam">

      <div id="manage-memberships" *ngIf="rolesFetched; else loadMemberships">

        <div id="users-membership-list-header">
          <span i18n="@@projectManageTeamMembers">Member</span>
          <span i18n="@@projectManageTeamRole">Role</span>
        </div>

        <div *ngFor="let membership of memberships"
            class="user-membership"
            [class.active]="membership.hash === membershipToEdit.hash">

          <div class="user-avatar-name"
              (click)="editMembership(membership)">
            <app-user-avatar-circle [user]="membership.user"></app-user-avatar-circle>
            <span>{{membership.user.firstName}} {{membership.user.lastName}}</span>
          </div>

          <div class="spacer"
               (click)="editMembership(membership)"></div>

          <div>
            <div *ngIf="membershipToEdit.hash !== membership.hash"
                 (click)="editMembership(membership)">
            {{membership.role.name}}
            </div>

            <div *ngIf="membershipToEdit.hash === membership.hash">
              <mat-form-field>
                <mat-select [(ngModel)]="membershipToEdit.role.hash">
                  <mat-option *ngFor="let role of roles" [value]="role.hash">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-icon-button (click)="saveMembershipChanges()"><mat-icon>check</mat-icon></button>
              <button mat-icon-button (click)="abortMembershipChange()"><mat-icon>clear</mat-icon></button>
              <button *ngIf="membershipToEdit.user"
                mat-icon-button
                (click)="deleteMembership()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

        </div>

      </div>
      <ng-template #loadMemberships>
        <div class="progress-spinner">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Manage Invitations" i18n-label="@@manageInvitations">

      <div class="manage-invitations">

        <mat-form-field id="invitation-input">
          <input matInput name="username" [formControl]="userCtrl"
                 placeholder="Username of the user you wish to invite"
                 i18n-placeholder="@@projectManageTeamInvitePlaceholder"/>
        </mat-form-field>

        <div *ngFor="let user of filteredUsers"
             class="user-membership"
             [class.active]="invitation.user === user.username">

          <div class="user-avatar-name">
            <app-user-avatar-circle [user]="user"></app-user-avatar-circle>
            <span>{{user.firstName}} {{user.lastName}}</span>
          </div>

          <div class="spacer" [class.unfixedHeight]="invitation.user === user.username">
            <mat-form-field *ngIf="invitation.user === user.username">
              <textarea placeholder="Send a message" i18n-placeholder="@@projectManageTeamSendMessagePlaceholder" matInput [(ngModel)]="invitation.message"></textarea>
            </mat-form-field>
          </div>

          <div>
            <div *ngIf="canInvite(user)">
              <div>
                <button *ngIf="invitation.user !== user.username"
                        mat-raised-button
                        color="primary"
                        (click)="triggerInvitation(user)">
                  <ng-container i18n="@@projectManageTeamInvite">Invite</ng-container>
                </button>
                <button *ngIf="invitation.user === user.username"
                        mat-raised-button
                        color="primary"
                        (click)="sendInvitation()"
                        [disabled]="invitationSubmitted">
                  <ng-container i18n="@@projectManageTeamSendInvitation">Send Invitation</ng-container>
                </button>
              </div>
            </div>
            <div *ngIf="!canInvite(user)">
              <button disabled mat-raised-button *ngIf="isCandidate(user)">
                <ng-container i18n="@@projectManageTeamUserAlreadyCandidate">User is already candidate</ng-container>
              </button>
              <button disabled mat-raised-button *ngIf="isMember(user)">
                <ng-container i18n="@@projectManageTeamUserAlreadyMember">User is already member</ng-container>
              </button>
              <button mat-raised-button *ngIf="isInvited(user)" [disabled]="invitationPendingRemoval">
                <ng-container i18n="@@projectManageTeamRemoveInvitation">Remove Invitation</ng-container>
              </button>
            </div>
          </div>
        </div>

        <div *ngFor="let invitation of invitations"
             class="user-invitation">

          <div class="user-avatar-name">
            <app-user-avatar-circle [user]="invitation.user"></app-user-avatar-circle>
            <span>{{invitation.user.firstName}} {{invitation.user.lastName}}</span>
          </div>

          <div class="spacer"></div>

          <div>
            <button mat-button (click)="removeInvitation(invitation)" [disabled]="invitationPendingRemoval">
              <ng-container i18n="@@projectManageTeamRemoveInvitation">Remove Invitation</ng-container>
            </button>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Manage Candidacies" i18n-label="@@manageCandidacies">

      <div class="manage-invitations">

        <div *ngFor="let candidacy of candidacies"
             class="user-candidacy">

          <div class="user-avatar-name">
            <app-user-avatar-circle [user]="candidacy.user"></app-user-avatar-circle>
            <span>
              {{candidacy.user.firstName}} {{candidacy.user.lastName}}
              <ng-template *ngIf="candidacy.job"> for job <a [routerLink]="['/jobs', candidacy.job.hash]">{{candidacy.job.name}}</a></ng-template>
            </span>

          </div>

          <div class="spacer">
            {{candidacy.message}}
          </div>

          <div>
              <button mat-button (click)="removeCandidacy(candidacy)" [disabled]="candidacySubmitted">
                <ng-container i18n="@@projectManageTeamRemoveCandidacy">Remove Candidacy</ng-container>
              </button>
              <button mat-button (click)="acceptCandidacy(candidacy)" class="accept-button" [disabled]="candidacySubmitted">
                <ng-container i18n="@@projectManageTeamAcceptCandidacy">Accept Candidacy</ng-container>
              </button>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Manage Roles" i18n-label="@@manageRoles">

      <div id="manage-roles" *ngIf="rolesFetched; else loadRoles">

        <mat-list id="roles-list">
          <mat-list-item>
            <button mat-button (click)="newRole()">
              <mat-icon>add</mat-icon>
              <ng-container i18n="@@projectManageTeamNewRole">New Role</ng-container>
            </button>
          </mat-list-item>
          <mat-list-item *ngFor="let role of roles">
            <button mat-button (click)="selectRole(role)" [disabled]="role === selectedRole">
              {{role.name}}
            </button>
          </mat-list-item>
        </mat-list>

        <app-project-role-management
          [role]="selectedRole"
          [project]="project"
          (onRoleUpdate)="updateRole($event)"
          (onRoleDelete)="deleteRole($event)"></app-project-role-management>

      </div>
      <ng-template #loadRoles>
        <div class="progress-spinner">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>

    </mat-tab>

  </mat-tab-group>

</div>
