<h2 matDialogTitle i18n="@@jobCreateDialogTitle">Create Job</h2>

<mat-dialog-content id="job-input">

  <div id="general-job-info">

      <mat-form-field>
        <input matInput
               name="name"
               placeholder="Job name"
               i18n-placeholder="@@jobName"
               [(ngModel)]="jobDto.name"/>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput name="name" placeholder="Description" i18n-placeholder="@@description" [(ngModel)]="jobDto.description"></textarea>
      </mat-form-field>

      <treviz-chip-autocomplete
        placeholder="Specify the skills required to this job"
        i18n-placeholder="@@jobCreateSkillsPlaceholder"
        [elements]="skills"
        [selectedElements]="jobDto.skills"
        (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>

      <treviz-chip-autocomplete
        placeholder="Specify the domains this job is linked to."
        i18n-placeholder="@@jobCreateTagsPlaceholder"
        [elements]="tags"
        [selectedElements]="jobDto.tags"
        (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

    </div>

  <div id="job-relations">

      <!-- Select task contact -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Contact"
                 i18n-placeholder="@@contact"
                 [matAutocomplete]="contactAutocomplete"
                 [formControl]="contactCtrl"
                 #name
                 (keyup.enter)="setContact(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #contactAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredContact"
                      [value]="user.username"
                      (click)="setContact(user.username)">
            <div class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                <img [src]="user.avatarUrl" *ngIf="user.avatarUrl">
              </div>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="contact">
          <div class="image-cropper">
            <img src="../../../../assets/images/profile.svg" *ngIf="!contact.avatarUrl">
            <img [src]="contact.avatarUrl" *ngIf="contact.avatarUrl">
          </div>
          <span>{{contact.username}}</span>
          <button mat-icon-button (click)="removeContact()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

      <!-- Select task holder -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Holder"
                 i18n-placeholder="@@holder"
                 [matAutocomplete]="holderAutocomplete"
                 [formControl]="holderCtrl"
                 #name
                 (keyup.enter)="setHolder(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #holderAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredHolder"
                      [value]="user.username"
                      (click)="setHolder(user.username)">
            <div class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                <img [src]="user.avatarUrl" *ngIf="user.avatarUrl">
              </div>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="holder">
          <div class="image-cropper">
            <img src="../../../../assets/images/profile.svg" *ngIf="!holder.avatarUrl">
            <img [src]="holder.avatarUrl" *ngIf="holder.avatarUrl">
          </div>
          <span>{{holder.username}}</span>
          <button mat-icon-button (click)="removeHolder()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="jobSubmitted"
    i18n="@@jobCreateDialogSubmit">Create Job</button>
</mat-dialog-actions>
