@import "../../../../assets/theme";

#job-input {
  display: flex;
  flex-direction: column;
  width: 80vw;

  @include media-breakpoint-small {
    flex-direction: row;
    width: 60vw;
    max-width: 980px;
  }
}

mat-form-field {
  width: 100%;
}

/*
 * General information regarding the job
 */

#general-job-info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-small {
    width: 50%;
    padding-right: .5em;
  }
}

/*
 * Candidacies, job contact and holder
 */

#job-relations {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-small {
    width: 50%;
    padding-left: .5em;
  }

}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;

  > span {
    margin-left: 12px;
  }
}

.image-cropper{
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}
