<div class="feedback">

  <div class="feedback-text">
    <span *ngIf="!feedback.praise; else praise">
      <strong>
        <a [routerLink]="['/users', feedback.giver.username]">
        {{feedback.giver.firstName}} {{feedback.giver.lastName}}
        </a></strong> <ng-container i18n="@@feedbackGivenBy">gave you feedback:</ng-container>
    </span>
    <ng-template #praise>
      <span>
        <mat-icon>star</mat-icon>
        <strong>
          <a [routerLink]="['/users', feedback.giver.username]">{{feedback.giver.firstName}} {{feedback.giver.lastName}}</a>
        </strong> <ng-container i18n="@@feedbackPraised">praised your work</ng-container>:
      </span>
    </ng-template>

    <ngx-md [data]="feedback.feedback"> </ngx-md>
  </div>

  <mat-card class="task-card">
    <app-task [task]="feedback.task"></app-task>
  </mat-card>

</div>
