@import "../../../../assets/theme";

.feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  @include if-larger-device {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  @include if-large-device {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

}

.feedback-text {
  width: 100%;
  padding: 12px;

  > span {
    display: flex;
    align-items: center;

    > strong {
      margin: 0 6px;
    }
  }

  > markdown {
    padding-top: 12px;
  }
}

mat-card {
  margin: 12px;
  padding: 0;
  width: 320px;

  @include if-small-device {
    width: 90%;
    margin: auto;
  }

  @include if-small-device {
    width: 90%;
    margin: auto;
  }
}
