<h2 mat-dialog-title i18n="@@communityNotificationPreferencesTitle">Notifications</h2>

<mat-dialog-content>

    <p i18n="@@communityNotificationPreferencesDescription">
        Select the type of events for which Treviz should send you notifications
    </p>

    <div>

        <h4 i18n="@@communityNotificationPreferencesGeneral">General community settings</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onPost" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnPostAdded">
                        A new post is added to the community
                    </span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onNewProject" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnNewProject">
                        A new project is linked to the community
                    </span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onNewDocument" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnNewDocument">
                        A new document is added to the community
                    </span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

        <h4 i18n="@@communityNotificationPreferencesCandidaciesInvitations">Candidacies and invitations</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onCandidacy" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnCandidacy">
                        Someone candidates to the community
                    </span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onInvitationAccepted" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnInvitationAccepted">
                        An invitation is accepted
                    </span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onInvitationRejected" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnInvitationRejected">
                        An invitation is rejected
                    </span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

        <h4>Brainstormings</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="communityNotificationPreferences.onNewBrainstorming" [disabled]="loading">
                    <span class="permission-description" i18n="@@communityNotificationPreferencesOnBrainstorming">
                        A new brainstorming session is created
                    </span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="updatePreferences()"
    [disabled]="loading"
    i18n="@@communityNotificationPreferencesUpdateButton">
    Update my preferences
  </button>
</mat-dialog-actions>
