<mat-card *ngIf="column">
  <div class="column-header">
    <span>{{column.name}}</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="canEdit" (click)="deleteColumn()" [disabled]="pending"><mat-icon>delete</mat-icon></button>
  </div>

  <div class="column-tasks" [dragula]='"kanban-board"' [dragulaModel]='column.tasks'>
    <app-task *ngFor="let task of column.tasks"
      [task]="task" [availableLabels]="labels"
      (onTaskUpdate)="updateTask($event)"
      (onTaskDelete)="removeTask($event)"></app-task>
  </div>

  <div>
    <div class="new-task-input" [class.hidden]="!displayNewTaskInput">
      <mat-form-field>
        <textarea
          matInput
          name="task"
          placeholder="New task"
          maxlength="255"
          i18n-placeholder="@@boardComponentNewTaskPlaceholder"
          [(ngModel)]="taskDto.name"
          [disabled]="taskSubmitted"></textarea>
        <mat-hint align="end">{{taskDto.name.length}}/255</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button (click)="triggerTaskInput()" [disabled]="taskSubmitted"><mat-icon>clear</mat-icon></button>
        <button mat-button (click)="onSubmit()" [disabled]="taskSubmitted"><mat-icon>check</mat-icon></button>
      </div>
    </div>
    <div>
      <a class="new-task-trigger" (click)="triggerTaskInput()" [class.hidden]="displayNewTaskInput">
        <ng-container i18n="@@columnNewTask">Add a new task</ng-container>
      </a>
    </div>
  </div>
</mat-card>
