<div id="feedback-list-component">

  <h3 *ngIf="feedbackLoaded && feedbacks.length > 0" i18n="@@feedbackListTitle">Feedback</h3>

  <div id="feedback-list" *ngIf="feedbackLoaded; else loading">
    <app-feedback *ngFor="let feedback of feedbacks" [feedback]="feedback"></app-feedback>
  </div>

  <ng-template #loading>
    <div class="load-spinner-tab">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>

  <div *ngIf="!feedbackLoaded && feedbacks.length == 0">
    <h3 i18n="@@feedbackListNoFeedback">You do not have any feedback yet</h3>
    <span i18n="@@feedbackListHowToGet">Complete tasks in various projects to get some</span>
  </div>

</div>
