<button mat-button class="back-icon-button" routerLink="">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<mat-card class="center-card">
  <mat-card-title i18n="@@notFoundTitle">Resource not found</mat-card-title>
  <mat-card-content i18n="@@notFoundDescription">
    The requested resource could not be found
  </mat-card-content>
</mat-card>
