<form (submit)="onSubmit()" class="flex flex-column edit-dialog-form">

  <mat-form-field>
      <textarea
        matInput
        name="message"
        placeholder="Update this comment"
        i18n-placeholder="@@updateMsgPlaceholder"
        minRows="3"
        [disabled]="submitted"
        [(ngModel)] = "messageDto.text"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="submitted"
    i18n="@@update">
    Update
  </button>

</form>
