<div class="message">
  <app-user-avatar-circle
    [user]="message.owner"
    [small]="true">
  </app-user-avatar-circle>

  <div class="message-content">
        <div class="message-meta">
            <a class="username" [routerLink]="['/users', message.owner.username]">
              {{message.owner.firstName}} {{message.owner.lastName}}
            </a>
            <span> {{message.posted | dateInterval }} </span>
            <button
              *ngIf="canEdit"
              mat-icon-button
              [matMenuTriggerFor]="messageMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>


          <mat-menu #messageMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openEditDialog()" i18n="@@update">Update</button>
            <button mat-menu-item (click)="deleteMessage()" i18n="@@delete">Delete</button>
          </mat-menu>
        </div>
    <ngx-md>{{message.text}}</ngx-md>
  </div>
</div>
