.message{
  display: flex;
  flex-direction:row;
  padding: 1em 2em;
  transition: all .2s ease-in-out;

  .message-meta {
    width: 100%;
    height: 2em;

    button {
      float: right;
    }
  }

  .message-content {
    padding-left: 1em;
    flex: 1;
  }

}

.username{
  font-weight: bold;
}
