@media screen and (min-width: 768px) {
  .chat-room-description{
    min-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .chat-room-description {
    min-width: 300pt;
  }
}

.close-dialog-button {
  float: right;
}

.user-invite-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}

.user-invite-list {
  margin-bottom: 1em;

  > button {
    margin: .5em;
  }
}

.image-cropper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  display: flex;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.users-invite {
  display: flex;
  flex-direction: column;
}
