<button mat-icon-button (click)="dialogRef.close()" class="float-right">
  <mat-icon>close</mat-icon>
</button>

<h2 matDialogTitle>{{room.name}}</h2>

<mat-dialog-content class="chat-room-description">

  <p>
    {{room.description}}
  </p>

  <h4 i18n="@@chatRoomDetailDialogMembers">Members:</h4>
  <mat-list>
    <mat-list-item *ngFor="let user of room.users">
      <div class="image-cropper">
        <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!user.avatarUrl">
        <img [src]="user.avatarUrl" class="message-avatar" *ngIf="user.avatarUrl">
      </div>
      <a routerLink="/users/{{user.username}}">{{user.username}}</a>
    </mat-list-item>
  </mat-list>

  <form class="users-invite" (submit)="inviteUser()">
    <h4 i18n="@@chatRoomDetailDialogInviteUsers">Invite users</h4>
    <mat-form-field>
      <input matInput
             placeholder="Pseudo"
             i18n-placeholder="@@pseudo"
             [matAutocomplete]="usersAutocomplete"
             [formControl]="userCtrl"
             #name
             (keyup.enter)="addUserFromUsername(name.value); name.value = ''">
    </mat-form-field>

    <mat-autocomplete #usersAutocomplete="matAutocomplete">
      <mat-option *ngFor="let user of filteredUsers"
                 [value]="user.username"
                 (click)="addUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
            <img [src]="user.avatarUrl" *ngIf="user.avatarUrl">
          </div>
          <span>{{user.username}}</span>
        </div>
      </mat-option>
    </mat-autocomplete>

    <div class="user-invite-list">
      <button mat-raised-button *ngFor="let user of usersToInvite" (click)="removeUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!user.avatarUrl">
            <img [src]="user.avatarUrl" class="message-avatar" *ngIf="user.avatarUrl">
          </div>
          <span>{{user.username}}</span>
        </div>
      </button>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="warn"
    (click)="deleteRoom()"
    class="mr-1"
    i18n="@@chatRoomDetailDelete">Delete this discussion</button>

  <button
    mat-raised-button
    (click)="leaveRoom()"
    i18n="@@chatRoomDetailLeaveButton">Leave discussion</button>

  <div class="spacer"></div>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="inviteUser()"
    i18n="@@chatRoomDetailInviteButton">Invite</button>
</mat-dialog-actions>
