#admin-mail-domains {
  padding: 1em 2em;

  p {
    margin-bottom: 2em;
  }
}

table {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

  thead {
    text-align: left;
  }

  td, th {
    padding: 1em 2em !important;
    width: 50%;
  }

  mat-form-field {
    width: 100%;
  }

  #toggle-create-mode {
    text-align: center;
  }
}

