<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div id="admin-mail-domains" *ngIf="platformService.settings != null">
  <header>
    <div *ngIf="platformService.settings.open; then blackListTitle else whiteListTitle"></div>
    <ng-template #whiteListTitle>
      <h1 i18n="@@mailDomainWhitelistedTitle">Whitelisted Emails domains</h1>
    </ng-template>
    <ng-template #blackListTitle>
      <h1 i18n="@@mailDomainblacklistedTitle">Blacklisted Emails domains</h1>
    </ng-template>

    <p *ngIf="platformService.settings.open; then blackListDescription else whiteListDescription"></p>
    <ng-template i18n="@@mailDomainsWhitelistDescription" #whiteListDescription>
      Your organization is closed: by default, only administrators can create accounts. However, you can allow people
      with mails ending with a specific domain to register. Just list below the various domains that should be
      authorized. For instance, if you want to allow registrations with mails ending with @acme.org, simply add "acme.org".
    </ng-template>
    <ng-template i18n="@@mailDomainsBlacklistDescription" #blackListDescription>
      Your organization is open: by default, anyone can create an account. However, you can still blacklist some emails
      ending with a specific domains from registering, for instance to prevent fake account creations. Just list below
      the various domains that should be prohibited. For instance, if you want to prevent registrations with
      ending with @acme.org, simply add "acme.org".
    </ng-template>
  </header>

  <div>
    <table>
      <thead>
      <tr>
        <th i18n="@@domainName">Domain Name</th>
        <th i18n="@@action">Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mailDomain of mailDomains; let i = index">
          <td *ngIf="!isMailDomainEdited(i); else editDomain">
            <a [routerLink]="['/users']" [queryParams]="{mailDomain: mailDomain.domain}">
              {{mailDomain.domain}}
            </a>
          </td>
          <td *ngIf="!isMailDomainEdited(i); else editButtons">
            <button mat-icon-button (click)="toggleEditMode(i)" [disabled]="loading">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(i)" [disabled]="loading">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

          <ng-template #editDomain>
            <td>
              <mat-form-field *ngIf="mailDomainsToEdit[i]">
                <input type="text"
                       matInput
                       placeholder="Domain Name"
                       i18n-placeholder="@@domain"
                       [(ngModel)]="mailDomainsToEdit[i].domain">
              </mat-form-field>
            </td>
          </ng-template>
          <ng-template #editButtons>
            <td>
              <button mat-icon-button (click)="toggleEditMode(i)" [disabled]="loading">
                <mat-icon>clear</mat-icon>
              </button>
              <button mat-icon-button (click)="editMailDomain(i)" [disabled]="loading">
                <mat-icon>check</mat-icon>
              </button>
            </td>
          </ng-template>
        </tr>

        <tr *ngIf="createModeEnabled; else enableCreateModeButton">
          <td>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Add a new domain name"
                i18n-placeholder="@@mailDomainsCreatePlaceholder"
                [(ngModel)]="mailDomain.domain">
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button (click)="toggleCreateMode()" [disabled]="loading">
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button (click)="createMailDomain()" [disabled]="loading">
              <mat-icon>check</mat-icon>
            </button>
          </td>
        </tr>

        <ng-template #enableCreateModeButton>
          <tr>
            <td colspan="2" id="toggle-create-mode">
              <button mat-icon-button (click)="toggleCreateMode()">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</div>
