@import "../../../assets/theme";


#room-container-list{
  width: 75px;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;

  @include if-smaller-device {
    width: 100px;
    scrollbar-width: initial;
  }
}

.chat-server-thumbnail {
  width: 50px;
  height: 50px;
  background-color: $grey900;
  border-radius: 50%;
  margin: 6px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  flex-shrink: 0;
  overflow: hidden;
  

  @include if-smaller-device {
    width: 60px;
    height: 60px;
    scrollbar-width: initial;
    overflow-y: scroll;
  }

  &:hover{
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
}

.active{
  border-radius: 5px;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > mat-icon{
    margin: 13px;
  }
}

#room-list{
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow-y: auto;
  background-color: $grey800;
  max-height: calc(100vh - 56px);

  @include media-breakpoint-small {
    max-height: 100vh;
  }

  > div {
    padding: 1em;
  }
}

mat-sidenav-container {

  #chat-list-container {
    width: 250px;
  
    @include if-smaller-device {
      width: 300px;
    }

    #chat-list {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

}

.mat-list{
  padding-top: 6px;
}

.new-room-button{
  margin: 1em;
}

.room-link{
  padding-left: 12px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #BDBDBD;

  &:hover {
    color: white;
    background: #515151;
    cursor: pointer;
  }

  &.current {
    color: white;
    background: #515151;
  }
}

.other-room{
  padding-left: 12px;
  display: flex;
  justify-content: space-between;

  > button {
    color: white;
  }
}

.chat-content {
  height: calc(100vh - 56px);

  @include media-breakpoint-small {
    height: 100vh;
  }

}

.news{
  font-weight: bolder;
}

.pending-notification {
  -webkit-box-shadow: 0 0 5px #C2185B;
  -moz-box-shadow: 0 0 5px #C2185B;
  box-shadow: 0 0 5px #C2185B;
}

.notifications {
  position: relative;
  top: -20px;
  left: 30px;
  border-radius: 50%;
  margin-bottom: -25px;
  background-color: #C2185B;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
