<mat-sidenav-container>

  <mat-sidenav [mode]="mode"
               opened="true"
               id="chat-list-container" #chatlist>

    <div id="chat-list">
      <!-- Lists the projects and communities the rooms are linked to -->
      <div id="room-container-list">
        <div matTooltip="General chat rooms"
             i18n-matTooltip="@@generalChatRooms"
             matTooltipPosition="after"
             (click)="showRooms({})">
          <div class="chat-server-thumbnail"
               [class.active]="selectedServer.value.project == null && selectedServer.value.community == null">
            <div class="thumbnail-image">
              <mat-icon>people</mat-icon>
            </div>
          </div>
          <div *ngIf="notifications.unlinked > 0" class="notifications">
            {{notifications.unlinked}}
          </div>
        </div>

        <!-- List projects -->
        <div *ngFor="let project of chatServers.projects"
             matTooltip="{{project.name}}"
             matTooltipPosition="after"
             (click)="showRooms({project: project})">
          <div
            class="chat-server-thumbnail"
            [class.active]="project === selectedServer.value.project">
            <div class="thumbnail-image">
              <img
                *ngIf="project.logoUrl; else projectPlaceholder"
                [src]="project.logoUrl"
                [alt]="project.name">
              <ng-template
                #projectPlaceholder>
              <span>
                {{project.name[0]}}
              </span>
              </ng-template>
            </div>
          </div>
          <div *ngIf="notifications.projects.get(project.hash) > 0" class="notifications">
            {{notifications.projects.get(project.hash)}}
          </div>
        </div>

        <!-- List communities -->
        <div *ngFor="let community of chatServers.communities"
             matTooltip="{{community.name}}"
             matTooltipPosition="after"
             [class.pending-notification]="community.pendingNotification"
             (click)="showRooms({community: community})">
          <div class="chat-server-thumbnail"
               [class.active]="community === selectedServer.value.community">
            <div class="thumbnail-image">
              <img
                *ngIf="community.logoUrl; else communityPlaceholder"
                [src]="community.logoUrl"
                [alt]="community.name">
              <ng-template #communityPlaceholder>
              <span>
                {{community.name[0]}}
              </span>
              </ng-template>
            </div>
          </div>
          <div *ngIf="notifications.communities.get(community.hash) > 0" class="notifications">
            {{notifications.communities.get(community.hash)}}
          </div>
        </div>
      </div>

      <!-- Lists the rooms linked to the selected project or community -->
      <div id="room-list">
          <button
            mat-raised-button (click)="openCreateDialog()"
            class="new-room-button"
            i18n="@@chatListNewDiscussion">
            New discussion
          </button>
          <div *ngFor="let room of roomsInWhichMember | async"
                         class="room-link"
                         [class.current]="room.hash === selectedRoom?.hash"
                         [class.news]="room.nbNotifications > 0"
                         (click)="goToRoom(room)">
            # {{room.name}}
          </div>

          <div
            *ngIf="(roomsInWhichNotMember | async).length > 0"
            i18n="@@chatListOtherRooms">
            Other rooms
          </div>
          <div
            *ngFor="let room of roomsInWhichNotMember | async"
            class="room-link"
            [class.current]="room.hash === selectedRoom?.hash"
            (click)="goToRoom(room)">
            # {{room.name}}
          </div>
        </div>
    </div>

  </mat-sidenav>

  <div class="chat-content">
    <app-chat-room
      [room]="selectedRoom"
      [chatlist]="chatlist">
    </app-chat-room>
  </div>

</mat-sidenav-container>
