.task {
  padding: .5em;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  max-width: 250px;

  &:hover {
    background-color: #E0E0E0;
    cursor: pointer;
  }
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.flex-spacer{
  flex: 1 1 auto;
}

.task-deadline{
  font-weight: bold;
}

.avatar-search-crop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
  }
}

.task-footer{
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.label-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .label {
    height: .5em;
    margin: 6px 6px 6px 0;
    padding: 6px 18px;
    border-radius: 1em;
    font-weight: bold;
  }

}
