mat-card{
  margin-bottom: 10px;
}

.file-pic{
  width: 35px;
  margin-right: 15px;
}

mat-panel-title, mat-panel-description{
  align-items: center;
}

mat-panel-description{
  flex-direction: row-reverse;
}

mat-panel-description > span {
  margin-right: 15px;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
}
