<mat-expansion-panel>

  <mat-expansion-panel-header>

    <mat-panel-title>
      <img [src]="document.extension | filePreview"
           class="file-pic"
           alt="{{document.extension}}">
      <a [href]="document.fileUrl">{{document.name}}</a>
    </mat-panel-title>

    <mat-panel-description>
      <span>
        <ng-container i18n="@@documentPanelCreated">Created on</ng-container> {{document.date.slice(0,10)}}
      </span>
      <span>{{document | fileSize}}</span>
    </mat-panel-description>

  </mat-expansion-panel-header>

  <ngx-md>
    {{document?.description || ''}}
  </ngx-md>

  <div>
    <ng-container i18n="@@author">Author</ng-container> :
    <a routerLink="/users/{{document.owner.username}}">{{document.owner.firstName}} {{document.owner.lastName}}</a>
  </div>

  <div *ngIf="canDelete()">
      <button mat-raised-button color="warn" (click)="deleteFile()" i18n="@@delete">Delete</button>
  </div>

</mat-expansion-panel>
