@import '../../../../assets/theme.scss';

#board-list {
  padding: 24px;
}

nav {
  @include if-large-device {
    width: fit-content;
    width: -moz-fit-content;
  }

  @include if-larger-device {
    width: fit-content;
    width: -moz-fit-content;
  }

  .mat-tab-links {
    @include if-large-device {
      width: fit-content;
      width: -moz-fit-content;
    }

    @include if-larger-device {
      width: fit-content;
      width: -moz-fit-content;
    }
  }
}

#board-description {
  margin-top: 2em;
  color: grey;
}

#no-kanban {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
