<div *ngIf="boardsFetched" id="board-list">

  <div *ngIf="boards.length > 0; else noBoards">
    <div class="flex" *ngIf="canEdit">
      <div class="spacer"></div>
      <button mat-button *ngIf="selectedBoard" (click)="openBoardUpdateDialog()">
        <mat-icon>edit</mat-icon>
        <ng-container i18n="@@boardListManage">Manage Board</ng-container>
      </button>
      <button mat-button class="ml-1" (click)="openBoardCreationDialog()" *ngIf="boards.length > 0">
        <mat-icon>add</mat-icon>
        <ng-container i18n="@@boardListNew">New Board</ng-container></button>
    </div>

    <nav mat-tab-nav-bar>
      <span mat-tab-link
        *ngFor="let board of boards"
        (click)="selectBoard(board)"
        [active]="board === selectedBoard">
        {{board.name}}
      </span>
    </nav>

    <div
      *ngIf="'' !== selectedBoard.description"
      id="board-description">
      {{selectedBoard.description}}
      </div>

    <app-board [board]="selectedBoard" [membership]="membership" *ngIf="selectedBoard"></app-board>
  </div>

  <ng-template #noBoards>
    <div *ngIf="boards.length === 0" id="no-kanban">
      <h3 i18n="@@boardListNoBoard">No kanban board was found</h3>
      <button mat-button (click)="openBoardCreationDialog()" *ngIf="project && canEdit">
        <ng-container i18n="@@boardListCreate">Create a board</ng-container>
      </button>
    </div>
  </ng-template>

</div>

<div *ngIf="!boardsFetched" class="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
