<mat-progress-bar mode="indeterminate" *ngIf="loadingMessages"></mat-progress-bar>

<div class="chatroom">
  <mat-toolbar>
    <button mat-icon-button (click)="chatlist.toggle()">
      <mat-icon>
        view_list
      </mat-icon>
    </button>
    <span *ngIf="room == null" i18n="@@chatSelectRoom">
      No selected room
    </span>
    <span *ngIf="room != null && !firstLoad">
    # {{room.name}}
    </span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="room != null && !firstLoad" (click)="openDialog()">
      <mat-icon>details</mat-icon>
    </button>
  </mat-toolbar>

  <div class="messages" #chatScrollMessages *ngIf="room != null">

    <div *ngIf="noMoreMessagesToLoad; else loadMore" id="room-description">
      <h1>{{room.name}}</h1>
      <ngx-md [data]="room.description"></ngx-md>
      <mat-divider></mat-divider>
    </div>
    <ng-template #loadMore>
      <button mat-button (click)="loadMessages()" *ngIf="!loadingMessages">Load More</button>
    </ng-template>

    <div *ngIf="!isRoomMember" id="not-member-message">
      <h2 i18n="@@chatRoomNotMemberTitle">You are not member of this room</h2>
      <p i18n="@@chatRoomNotMemberMessage">You cannot fetch messages of a chat room you are not part of.</p>
    </div>

    <app-chat-message
      *ngFor="let message of messages | async"
      [message]="message"
      (onMessageUpdate)="updateMessage($event)"
      (onMessageDelete)="deleteMessage($event)"></app-chat-message>
  </div>

  <div class="input" *ngIf="room != null">

    <mat-form-field class="message-input">
      <textarea matInput
                name="message"
                placeholder="Send a message"
                i18n-placeholder="@@chatRoomSendMessagePlaceholder"
                [disabled]="submitted ||! isRoomMember"
                [(ngModel)] = "messageToPost.text"
                (keydown.enter)="sendMessage()">
      </textarea>
    </mat-form-field>

    <button mat-icon-button (click)="sendMessage()" [disabled]="!isRoomMember">
      <mat-icon>send</mat-icon>
    </button>

  </div>

</div>
