<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <button mat-button class="back-button" routerLink="/login">
      <ng-container i18n="@@resetPasswordBackButton">
        Back to login
      </ng-container>
    </button>

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <div *ngIf="displayErrorMessage" class="error-card">
      <button mat-icon-button (click)="closeErrorMessage()"><mat-icon>clear</mat-icon></button>
      <span *ngIf="invalidLink" i18n="@@resetPasswordInvalidLink">
        This link is invalid
      </span>
      <span *ngIf="invalidUser" i18n="@@forgotPasswordInvalidUser">
        We could not find this user
      </span>
      <span *ngIf="expiredToken" i18n="@@resetPasswordExpiredLink">
        The link to reset your password has expired, please generate a new one
      </span>
      <span *ngIf="defaultErrorMessage" i18n="@@loginComponentGenericError">
        An error occurred, please try again later or contact the platform's administrator
      </span>
    </div>

    <mat-card class="authentication-card">
      <h3 i18n="@@resetPasswordTitle" *ngIf="!displaySuccess">Prompt a new password</h3>
      <h3 i18n="@@resetPasswordSuccess" *ngIf="displaySuccess">Password successfully reset !</h3>
      <form class="credentials-inputs" (submit)="sendResetRequest()" #resetForm="ngForm" *ngIf="!displaySuccess">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" i18n-placeholder="@@password" required name="password1" [(ngModel)]="password1">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm your new password" i18n-placeholder="@@passwordConfirm" required name="password2" [(ngModel)]="password2">
        </mat-form-field>

        <button mat-raised-button
                color="primary"
                type="submit"
                i18n="resetPasswordConfirm"
                [disabled]="!resetForm.form.valid || isSubmitted || (password1 !== password2)">
          Send
        </button>
      </form>
    </mat-card>

  </div>

</div>
