<div id="account-creation-dialog">
  <form id="credentials-inputs" (submit)="onSubmit()">
    <div id="credentials-row">
      <mat-form-field>
        <input matInput required type="text" placeholder="First name" i18n-placeholder="@@firstName" name="firstName" [(ngModel)]="user.firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput required type="text" placeholder="Last name" i18n-placeholder="@@lastName" name="lastName" [(ngModel)]="user.lastName">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput required type="text" placeholder="Username" i18n-placeholder="@@userName" name="username" [(ngModel)]="user.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="email" placeholder="E-mail" i18n-placeholder="@@email" name="email" [(ngModel)]="user.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="password" placeholder="Password" i18n-placeholder="@@password" name="password" [(ngModel)]="user.password">
    </mat-form-field>
    <mat-checkbox name="makeUserAdmin" [(ngModel)]="admin" i18n="@@administrator">Administrator</mat-checkbox>
    <button mat-raised-button
            class="log-button"
            color="primary"
            type="submit"
            [disabled]="submitted" i18n="@@createAccount">Create account</button>
  </form>
</div>
