<div *ngIf="user && userFetched">

  <header>
    <!-- If the user fetched is not the current user, display menu to invite him·er, discuss... -->
    <button mat-raised-button (click)="openChatCreation()" *ngIf="!editPossible" class="menu-trigger">
      <mat-icon>chat</mat-icon>
      <span i18n="@@userDetailDiscuss">Discuss</span>
    </button>

    <!-- Otherwise, display the edit button -->
    <button mat-raised-button class="menu-trigger" (click)="openEditDialog()" *ngIf="editPossible">
      <mat-icon>mode_edit</mat-icon>
      <span i18n="@@userDetailEdit">Edit profile</span>
    </button>

    <button mat-raised-button
            (click)="backgroundInput.click()"
            *ngIf="editPossible"
            [disabled]="backgroundBeingUploaded"
            class="background-upload-button"
            i18n="@@changeBackground">
      Change Background
    </button>

    <input
      type="file"
      (change)="changeBackgroundPicture($event)"
      accept="image/png, image/jpeg, image/svg+xml"
      #backgroundInput
      class="d-none">

    <img [src]="user.backgroundImageUrl"
         *ngIf="user.backgroundImageUrl"
         class="user-background-image"
         [alt]="user.username">

  </header>

  <div class="profile-header-data">
    <div class="avatar-crop">
      <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl" [alt]="user.username">
      <img [src]="user.avatarUrl" *ngIf="user.avatarUrl" [alt]="user.username">
      <div class="avatar-overlay" *ngIf="editPossible">
        <mat-spinner *ngIf="avatarBeingUploaded" [diameter]="60"></mat-spinner>
        <div class="upload-zone" (click)="avatarInput.click()" *ngIf="!avatarBeingUploaded">
          <mat-icon>file_upload</mat-icon>
        </div>
        <input
          type="file"
          accept="image/png, image/jpeg, image/svg+xml"
          (change)="changeAvatar($event)"
          #avatarInput
          class="d-none">
      </div>
    </div>

    <div class="profile-names flex">
      <h3>{{user.firstName}} {{user.lastName}}</h3>
      <h5>@{{user.username}}</h5>
      <div class="spacer"></div>
      <h5 *ngIf="null != user.organization">
        <span>
          <ng-container i18n="@@userDetailOrganizationMember">Member of the organization: </ng-container>
          <a [routerLink]="['/users']" [queryParams]="{organization: user.organization}">{{user.organization}}</a>
        </span>
      </h5>
    </div>
  </div>

  <div class="user-content">

    <mat-tab-group>

      <mat-tab label="General" i18n-label="@@general">

        <div id="user-general">
          <div id="user-info">
            <mat-card>
              <mat-card-title i18n="@@description">Description</mat-card-title>
              <mat-card-content>
                <ngx-md [data]="user.description" *ngIf="user.description; else noDescription"></ngx-md>
                <ng-template #noDescription i18n="@@NoCurrentDescription">No current description</ng-template>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title i18n="@@skills">Skills</mat-card-title>
              <mat-card-content class="skills">
                <mat-chip-list>
                  <mat-chip *ngFor="let skill of user.skills" selectable="false" removable="true">
                    {{skill.name}}
                  </mat-chip>
                </mat-chip-list>
                <div *ngIf="user.skills.length === 0" i18n="@@userDetailNoSkill">
                  No skill for now
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title i18n="@@interests">Interests</mat-card-title>
              <mat-card-content class="skills">
                <mat-chip-list>
                  <mat-chip *ngFor="let interest of user.interests" selectable="false" removable="true">
                    {{interest.name}}
                  </mat-chip>
                </mat-chip-list>
                <div *ngIf="user.interests.length === 0" i18n="@@userDetailNoInterest">
                  No interest for now
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="user-current-commitment">
            <h2 *ngIf="projects.length > 0" i18n="@@userDetailCurrentProjects">Current Projects</h2>
            <div class="commitment-list">
              <app-project-thumbnail *ngFor="let project of projects" [project]="project"></app-project-thumbnail>
            </div>

            <h2 *ngIf="communities.length > 0" i18n="@@communities">Communities</h2>
            <div class="commitment-list">
              <app-community-thumbnail
                *ngFor="let community of communities"
                (click)="goToCommunity(community)"
                [community]="community"></app-community-thumbnail>
            </div>

            <h2 *ngIf="jobs.length > 0" i18n="@@jobs">Jobs</h2>
            <div class="commitment-list">
              <app-job-thumbnail *ngFor="let job of jobs" [job]="job"></app-job-thumbnail>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Boards" i18n-label="@@boards">
        <app-board-list [user]="user"></app-board-list>
      </mat-tab>

      <mat-tab label="Feedback" *ngIf="editPossible" i18n-label="@@feedback">
        <app-feedback-list [user]="user"></app-feedback-list>
      </mat-tab>

      <mat-tab label="Invitations and Candidacies" *ngIf="editPossible" i18n-label="@@invitationsAndCandidacies">
        <div class="p-1">
          <app-candidacy-thumbnail-list [canDiscard]="editPossible" [user]="user"></app-candidacy-thumbnail-list>
          <app-invitation-thumbnail-list [canApprove]="editPossible" [canDiscard]="editPossible" [user]="user"></app-invitation-thumbnail-list>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>

</div>

<div class="load-spinner" *ngIf="!userFetched">
  <mat-spinner></mat-spinner>
</div>
