@import "../../../assets/theme.scss";

/* Variables */

$header-larger: 250px;
$header-large: 220px;
$header-medium: 190px;
$header-small: 160px;
$header-smaller: 130px;

$avatar-big: 150px;
$avatar-medium: 125px;
$avatar-small: 100px;
$avatar-smaller: 75px;

$border-big: 5px;
$border-small: 4px;
$border-smaller: 3px;


/*
 * Properties for Header display
 */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: white;

  @include if-smaller-device {
    height: $header-smaller;
  }

  @include if-small-device {
    height: $header-small;
  }

  @include if-medium-device {
    height: $header-medium;
  }

  @include if-large-device {
    height: $header-large;
  }

  @include if-larger-device {
    height: $header-larger;
  }
}

.avatar-crop {
  width: $avatar-big;
  height: $avatar-big;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  border: $border-big solid white;
  flex-shrink: 0;

  &:focus {
    outline: none;
  }

  @include if-smaller-device {
    width: $avatar-smaller;
    height: $avatar-smaller;
    border: $border-smaller solid white;
  }

  @include if-small-device {
    width: $avatar-small;
    height: $avatar-small;
    border: $border-small solid white;
  }

  @include if-medium-device {
    width: $avatar-medium;
    height: $avatar-medium;
  }

  > img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.avatar-overlay{
  $size: $avatar-big - 2 * $border-big;
  width: $size;
  height: $size;
  margin-top: -$size;
  border-radius: 50%;
  position: absolute;
  transition-duration: .2s;
  display: flex;
  justify-content: center;
  align-items: center;

  @include if-smaller-device {
    $size: $avatar-smaller - 2 * $border-smaller;
    width: $size;
    height: $size;
    margin-top: -$size;
  }

  @include if-small-device {
    $size: $avatar-small - 2 * $border-small;
    width: $size;
    height: $size;
    margin-top: -$size;
  }

  @include if-medium-device {
    $size: $avatar-medium - 2 * $border-big;
    width: $size;
    height: $size;
    margin-top: -$size;
  }

  .upload-zone {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $accent-color;
      opacity: 0.5;
      transition-duration: .2s;
      cursor: pointer;
    }
  }
}

.shown{
  opacity: 1;
}

.profile-header-data {
  margin-bottom: -48px;
  padding-bottom: 50px;
  height: 110px;


  @include if-smaller-device {
    height: 100px;
  }

}

.profile-names {
  align-items: baseline;
  width: 80%;

  h3{
    margin: 0 .5em 1em .5em;
    font-weight: bold;

    @include if-smaller-device {
      font-size: 18px;
      font-weight: normal;
    }
  }

  h5{
    margin: 0 1em 1em 1em;

    @include if-smaller-device {
      display: none;
    }

    @include if-small-device {
      display: none;
    }
  }
}

.profile-header-data {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: black;
  z-index: 2;
  padding-left: 24px;
}

.menu-trigger{
  position: absolute;
  right: 24px;
  top: 24px;
  color: #1F1F1F;
}

.background-upload-button {
  position: absolute;
  right: 24px;
  color: black;

  @include if-smaller-device {
    top: 90px;
  }

  @include if-small-device {
    top: 100px;
  }

  @include if-medium-device {
    top: 130px;
  }

  @include if-large-device {
    top: 160px;
  }

  @include if-larger-device {
    top: 190px;
  }
}

.user-background-image {
  width: 100%;
  height:100%;
  object-fit: cover;
}

/*
 * Properties for General Tab display
 */

/*
 * On large screens, display user info and current commitment side by side
 */
@media screen and (min-width: 992px) {

  #user-general{
    display: flex;
    flex-direction: row;
  }

  #user-info{
    flex: 1;
  }

  #user-current-commitment {
    flex: 2;
  }

}

/*
 * On smaller screens, first display user info, then current commitment
 */
@media screen and (max-width: 992px) {
  #user-general{
    display: flex;
    flex-direction: column;
  }

  #user-current-commitment {
    padding: 1em;
  }
}

#user-info mat-card {
  margin: 1em;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.commitment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include if-smaller-device {
    flex-direction: column;
    align-content: center;
  }

  @include if-small-device {
    flex-direction: column;
    justify-content: center;
  }
}

app-project-thumbnail, app-community-thumbnail, app-job-thumbnail {
  margin: .5em;
}
