<h2 mat-dialog-title i18n="@@projectNotificationPreferencesTitle">Notifications</h2>

<mat-dialog-content>

    <p i18n="@@projectNotificationPreferencesDescription">
      Select the type of events for which Treviz should send you notifications.
    </p>

    <div>

        <h4 i18n="@@projectNotificationPreferencesGeneral">General project settings</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onPost" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnPostAdded">A new post is added to the project</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onFork" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnProjectForked">The project is forked</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onNewDocument" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnDocumentAdded">A new document is added</span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

        <h4 i18n="@@projectNotificationPreferencesCandidaciesInvitations">Candidacies and invitations</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onCandidacy" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnNewCandidacy">Someone candidates to the project</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onInvitationAccepted" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnInvitationAccepted">An invitation is accepted</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onInvitationRejected" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnInvitationRejected">An invitation is rejected</span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

        <h4 i18n="@@projectNotificationPreferencesBoardsTasks">Boards and tasks</h4>

        <mat-list>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onNewTask" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnNewTask">A new task is created in the project</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onAssignedTask" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnTaskAffected">A task is affected to me</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onTaskSubmission" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnTaskSubmitted">A task I supervise is submitted</span>
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox [(ngModel)]="projectNotificationPreferences.onTaskApprovalOrRefusal" [disabled]="loading">
                    <span class="permission-description"
                          i18n="@@projectNotificationPreferencesOnTaskAcceptedRejected">A task I submitted was accepted or rejected</span>
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          (click)="updatePreferences()"
          [disabled]="loading"
          i18n="@@projectNotificationPreferencesSubmit">Update my preferences</button>
</mat-dialog-actions>
