<ng-container *ngIf="!small; else noLinkThumbnail">
  <a
    class="community-thumbnail"
    [class.selected]="selected"
    [routerLink]="['/communities', community.hash]">
    <ng-container *ngTemplateOutlet="thumbnailContent"></ng-container>
  </a>
</ng-container>

<ng-template #noLinkThumbnail>
  <div
    class="community-thumbnail small"
    [class.selected]="selected">
    <ng-container *ngTemplateOutlet="thumbnailContent"></ng-container>
  </div>
</ng-template>

<ng-template #thumbnailContent>
  <div class="thumbnail-background">
    <img *ngIf="community.logoUrl" [src]="community.logoUrl">
  </div>

  <div class="thumbnail-content">
    <div class="spacer"></div>
    <p class="thumbnail-name">{{community.name}}</p>
    <div class="thumbnail-footer">

      <span>
        <img src="../../../../assets/icons/group-black-outline-18dp.svg" alt="Members">
        <span [ngPlural]="community.nbMembers">
          <ng-template ngPluralCase="=1">
            <strong>1</strong>
            <ng-container i18n="@@member_m">member</ng-container>
          </ng-template>
          <ng-template ngPluralCase="other">
            <strong>{{community.nbMembers}}</strong>
            <ng-container i18n="@@members_m">members</ng-container>
          </ng-template>
        </span>
      </span>

      <span>
        <mat-icon>assignment</mat-icon>
        <span [ngPlural]="community.nbProjects">
          <ng-template ngPluralCase="=0" i18n="@@communityThumbnailNoProject">
            No project
          </ng-template>
          <ng-template ngPluralCase="=1">
            <strong>1</strong>
            <ng-container i18n="@@project">project</ng-container>
          </ng-template>
          <ng-template ngPluralCase="other">
            <strong>{{community.nbProjects}}</strong>
            <ng-container i18n="@@projects_m">projects</ng-container>
          </ng-template>
        </span>
      </span>

    </div>
  </div>
</ng-template>
