@import "../../../assets/theme";

.community-thumbnail {
  display: block;
  width: 360px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    text-decoration: none;
  }

  .thumbnail-background {
    width: 100%;
    height: 100%;
    background: $indigo-500;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .thumbnail-content {
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }

  .thumbnail-name {
    font-weight: bold;
    font-size: 1.3em;
  }

  .thumbnail-footer {
    display: flex;
    justify-content: space-between;
    height: 2em;
    padding-bottom: .5em;

    img {
      filter: brightness(0) saturate(100%) invert(91%) sepia(1%) saturate(34%) hue-rotate(6deg) brightness(99%) contrast(108%);
    }

    > span {
      display: flex;
      align-items: center;
      color: $grey200;

      > img, mat-icon {
        height: 24px;
        margin-right: .5em;
      }

      strong {
        color: white;
        font-weight: bolder;
        margin-right: .2em;
      }
    }
  }

}

.selected {
  transition: all .2s;

  .thumbnail-background {
    background-color: #388E3C;

    > img {
      filter: opacity(.5) !important;
    }
  }
}

.small {
  width: 270px;
  height: 150px;
}
