<div class="flex flex-column p-2">

  <h1 i18n="@@projectCreateTitle">Create a project</h1>

  <mat-card *ngIf="ideaFetched && idea.session.community !== undefined">
    <mat-card-title i18n="@@projectCreateIdea">
      This project is based on the idea of the community
      <a routerLink="/communities/{{idea.session.community.hash}}">{{idea.session.community.name}}</a> :
    </mat-card-title>
    <mat-card-content>{{idea.content}}</mat-card-content>
  </mat-card>

  <mat-card *ngIf="parentProjectFetched && parentProject != null">
    <mat-card-title i18n="@@projectCreateFork">
      This project is a fork of the project
      <a routerLink="/projects/{{parentProject.hash}}">{{parentProject.name}}</a> :
    </mat-card-title>
  </mat-card>

  <h3 i18n="@@projectCreateGeneral">General information</h3>
  <label i18n="@@projectCreateName">
    Give a name to your project :
  </label>
  <mat-form-field>
    <input matInput
           [disabled]="submitted"
           required
           name="title"
           placeholder="Name"
           i18n-placeholder="@@name"
           [(ngModel)]="projectDto.name">
  </mat-form-field>

  <label i18n="@@projectCreateShortDescription">
    Pitch your idea in less than 140 characters.
  </label>
  <mat-form-field>
    <textarea matInput
              required
              [disabled]="submitted"
              name="shortDescription"
              placeholder="Short description"
              i18n-placeholder="@@shortDescription"
              #shortDescription
              [(ngModel)]="projectDto.shortDescription"></textarea>
    <mat-hint align="end">{{140 - shortDescription.value.length}}</mat-hint>
  </mat-form-field>

  <label>
    <ng-container i18n="@@projectCreateDescription">Describe your project in detail:</ng-container>
    <ul>
      <li i18n="@@projectCreateDescriptionOrigin">What is its origin, its history ?</li>
      <li i18n="@@projectCreateDescriptionState">What is its current state ?</li>
      <li i18n="@@projectCreateDescriptionLookingFor">What are you looking for ?</li>
    </ul>
    <ng-container i18n="@@projectCreateDescriptionTodo">
      Do not hesitate to create a small to-do list for other members to see exactly what they can bring.
    </ng-container>
  </label>
  <mat-form-field>
    <textarea
      matInput
      required
      name="description"
      [disabled]="submitted"
      placeholder="Description"
      i18n-placeholder="@@description"
      [(ngModel)]="projectDto.description"></textarea>
    <mat-hint align="end">
      <a href="https://guides.github.com/features/mastering-markdown/" i18n="@@projectCreateDescriptionMarkdown">We support markdown !</a>
    </mat-hint>
  </mat-form-field>

  <label i18n="@@projectCreateSkills">What skills do you need ?</label>
  <treviz-chip-autocomplete
    placeholder="Add a skill"
    i18n-placeholder="@@addSkill"
    [elements]="skills"
    [selectedElements]="projectDto.skills"
    (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>

  <label i18n="@@projectCreateTags">Give additional tags to your project</label>
  <treviz-chip-autocomplete
    placeholder="Add an interest"
    i18n-placeholder="@@addTag"
    [elements]="tags"
    [selectedElements]="projectDto.tags"
    (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

  <label i18n="@@projectCreatePicture">Upload a picture to illustrate your project</label>
  <treviz-file-field
    reduceImageSize
    mimeTypes="image/png, image/jpeg, image/svg+xml"
    (onFileDrop)="setFile($event)"
    [file]="logoBeingUploaded"></treviz-file-field>

  <ng-container *ngIf="logoBeingUploaded == null">
    <label i18n="@@projectCreatePictureLibrary">Or chose one from our library</label>
    <div class="project-base-illustration-grid">
      <div *ngFor="let image_url of projectBaseIllustrations"
           class="project-base-illustration-cropper"
           (click)="selectPicture(image_url)"
           [class.selected]="image_url == this.projectDto.logoUrl">
        <img [src]="image_url" class="project-base-illustration-picture">
      </div>
    </div>
  </ng-container>

  <h3 i18n="@@projectCreatePictureVisibilityTitle">Visibility</h3>

  <label i18n="@@projectCreatePictureVisibilityDescription">Who can see your project ?</label>

  <div class="select-visibility">
    <div
      (click)="projectDto.isVisible = false"
      class="select-visibility-option"
      [class.isSelected]="!projectDto.isVisible && projectDto.isVisible != null">
      <div class="select-visibility-option-head">
        <mat-icon>not_interested</mat-icon>
        <strong i18n="@@private">Private</strong>
      </div>
      <div
        class="select-visibility-option-description"
        i18n="@@privateDescription">
        Only connected users members of the communities this project is linked to will be able to see it.
      </div>
    </div>

    <div
      (click)="projectDto.isVisible = true"
      class="select-visibility-option"
      [class.isSelected]="projectDto.isVisible">
      <div class="select-visibility-option-head">
        <mat-icon>public</mat-icon>
        <strong i18n="@@public">Public</strong>
      </div>
      <div
        class="select-visibility-option-description"
        i18n="@@publicDescription">
        Any connected user can see your project
      </div>
    </div>
  </div>

  <div class="mb-1">
    <h3 i18n="@@projectCreatePictureVisibilityCommunities">Communities</h3>
    <div id="community-list">
      <mat-form-field>
        <input matInput
               placeholder="Search a community"
               i18n-placeholder="@@searchCommunity"
               name="searchCommunityInput"
               [(ngModel)]="searchCommunityInput"
               [disabled]="submitted">
      </mat-form-field>
      <mat-progress-bar mode="indeterminate" *ngIf="searchingCommunities"></mat-progress-bar>
      <app-community-thumbnail
          *ngFor="let community of filteredCommunities"
          (click)="triggerSelect(community)"
          [class.selected]="community.isSelected"
          [selected]="community.isSelected"
          [community]="community"
          small></app-community-thumbnail>
    </div>
  </div>

  <button mat-raised-button
          type="submit"
          color="primary"
          [disabled]="submitted || !valid"
          i18n="@@projectCreatePictureSubmit"
          (click)="onSubmit()">Validate</button>

</div>
