@import "../../../assets/theme.scss";

mat-sidenav-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #eceff1;

  #mat-sidenav {
    width: 250px;
    background-color: #212121;
    border-right: 1px transparent;

    #sidenav-content {
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
    }
  }
}

@media screen and (min-width: 752px) {
  #mat-sidenav {
    width: 100px !important;
  }

  .nav-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px !important;

    h3 {
      display: none;
    }
  }

  .nav-list-header{
    margin: 0 !important;
    padding: 0 !important;
    color: #757575;
  }

  .nav-link {
    width: 100px !important;
    height: 62px !important;
    padding: 0 !important;

    .nav-link-content {
      font-size: 0.7em;
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      width: 100px;
      font-weight: 100 !important;
      padding: 0 !important;

      .icon {
        margin: 0 0 4px 0 !important;
      }
    }
  }

  .active {
    border-right: 3px solid white;
  }
}

.nav-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 12px 24px 12px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    h3 {
      margin: 6px;
      font-size: 1.3em;
    }

  }

  #logo{
    width: 125px;
    height: 125px;

    @include if-smaller-device {
      width: 100px !important;
      height: 100px !important;;
    }
  }

  h3 {
    color: white;
  }

}

mat-list-item{
  padding: 0 16px 10px 16px;
}

.nav-list-header{
  margin-left: 12px;
  font-family: "Roboto", "Lato", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #757575;
}

.icon{
  margin-right: 10px;
  margin-left: 24px;
}

.nav-link{
  font-family: "Roboto", "Lato", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: $grey500;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: $grey0;
    cursor: pointer;
    background-color: $grey900;
    transition: all .1s ease-in;
  }

  .nav-link-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.active {
  color: white;
}

#mobile-toolbar{
  position: fixed;
  z-index: 999;
  background: $grey900;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

  @include media-breakpoint-small {
    display: none;
  }
}

#content {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;

  @include media-breakpoint-small {
    top: 0;
  }
}

a {
  color: white;
}

.notifications {
  border-radius: 50%;
  background-color: $accent-color;
  height: 25px;
  width: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-small {
    position: relative;
    top: -25px;
    margin-top: -25px;
  }
}

span {
  word-break: normal;
}
