<mat-sidenav-container>
  <mat-sidenav
    id="mat-sidenav"
    #sidenav
    [mode]="mode"
    [opened]="isOpen">

    <div id="sidenav-content">
      <div class="nav-user-info" (click)="goToProfile()" *ngIf="currentUserService.getCurrentUser()">
        <app-user-avatar-circle [user]="currentUserService.getCurrentUser()"></app-user-avatar-circle>
        <h3>
          <a [routerLink]="['/users', currentUserService.getCurrentUser().username]">
            {{currentUserService.getCurrentUser().firstName}} {{currentUserService.getCurrentUser().lastName}}
          </a>
        </h3>
      </div>

      <div class="nav-user-info" *ngIf="!currentUserService.getCurrentUser()">
        <img src="../../../assets/images/treviz-logo.png" id="logo" alt="Treviz Logo">
      </div>

      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item (click)="goTo('')" class="nav-link" [class.active]="isHomePage()">
          <div class="nav-link-content">
            <mat-icon class="icon">home</mat-icon>
            <span i18n="@@navHome">Home</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/chat')" class="nav-link" [class.active]="isCurrentRoute('/chat')">
          <div class="nav-link-content">
            <mat-icon class="icon">chat</mat-icon>
            <span i18n="@@navChat">Chat</span>
            <div *ngIf="notifications > 0" class="notifications">
              {{notifications}}
            </div>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/projects')" class="nav-link" [class.active]="isCurrentRoute('/projects')">
          <div class="nav-link-content">
            <mat-icon class="icon">assignment</mat-icon>
            <span i18n="@@navProjects">Projects</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/boards')" class="nav-link" [class.active]="isCurrentRoute('/boards')">
          <div class="nav-link-content">
            <mat-icon class="icon">dashboard</mat-icon>
            <span i18n="@@navBoards">Boards</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/jobs')" class="nav-link" [class.active]="isCurrentRoute('/jobs')">
          <div class="nav-link-content">
            <mat-icon class="icon">work</mat-icon>
            <span i18n="@@navJobs">Jobs</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/communities')" class="nav-link" [class.active]="isCurrentRoute('/communities')">
          <div class="nav-link-content">
            <mat-icon class="icon">language</mat-icon>
            <span i18n="@@navCommunities">Communities</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="goTo('/users')" class="nav-link" [class.active]="isCurrentRoute('/users')">
          <div class="nav-link-content">
            <mat-icon class="icon">people</mat-icon>
            <span i18n="@@navUsers">Users</span>
          </div>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item (click)="goTo('/settings')" class="nav-link" [class.active]="isCurrentRoute('/settings')">
          <div class="nav-link-content">
            <mat-icon class="icon">settings</mat-icon>
            <span i18n="@@navSettings">Settings</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="openInfo()" class="nav-link">
          <div class="nav-link-content">
            <mat-icon class="icon">info</mat-icon>
            <span i18n="@@navAbout">About</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="logout()" class="nav-link">
          <div class="nav-link-content">
            <mat-icon class="icon">exit_to_app</mat-icon>
            <span i18n="@@navLogout">Logout</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary"
                 id="mobile-toolbar"
                 *ngIf="auth.loggedIn() && currentUserService.getCurrentUser()">

      <button mat-icon-button
              (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>
          <span *ngIf="isHomePage()" i18n="@@navHome">Home</span>
          <span *ngIf="isCurrentRoute('/chat')" i18n="@@navChat">Chat</span>
          <span *ngIf="isCurrentRoute('/projects')" i18n="@@navProjects">Projects</span>
          <span *ngIf="isCurrentRoute('/boards')" i18n="@@navBoards">Boards</span>
          <span *ngIf="isCurrentRoute('/jobs')" i18n="@@navJobs">Jobs</span>
          <span *ngIf="isCurrentRoute('/communities')" i18n="@@navCommunities">Communities</span>
          <span *ngIf="isCurrentRoute('/users')" i18n="@@navUsers">Users</span>
          <span *ngIf="isCurrentRoute('/settings')" i18n="@@navSettings">Settings</span>
        </span>

    </mat-toolbar>

    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
