<div id="message-dialog-component">

    <div>
        <img src="/assets/icons/failure.svg" alt="Error" *ngIf="failure">
        <img src="/assets/icons/success.svg" alt="Success" *ngIf="success">
    </div>

    <h3>
        {{message}}
    </h3>

    <div id="choice">
        <button mat-raised-button (click)="confirm()" *ngIf="actionRequired">OK</button>
    </div>

</div>
