.user-thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.thumbnail-content {
  padding-left: 24px;
  border-left: 1px solid #E0E0E0;
}

.user-chip-list{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-user-avatar-circle {
  width: 50px;
  height: 50px;
  margin-right: 24px;
}