.avatar-crop{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    line-height: initial;
    outline: none;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Modifier for comments */
    &.avatar-small {
      width: 35px !important;
      height: 35px !important;
    }
}
