@import "../../../assets/theme";

section{
  display: flex;
  flex-direction: column;

  label {
    margin: 10pt;
  }
}

.skill{
  margin: 10pt;
}

.form-part{
  margin-bottom: 10px;
}

h4, h5 {
  font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
  margin-bottom: 10px;
}

.select-visibility-option{
  margin: 5px;
  padding: 10px;
  line-height:36px;
  border-radius: 5px;
  transition-duration: 0.1s;
}

.select-visibility-option:hover{
  background-color: #E0E0E0;
  cursor: pointer;
  transition-duration: 0.1s;
}

.select-visibility-option-head{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-visibility-option-head > strong{
  margin-left: 20px;
}


.select-visibility-option-description{
  font-weight: 100;
}

.isSelected{
  background-color: #E0E0E0;
  transition-duration: 0.1s;
}

.confirm-delete {
  margin: 5px;
  display: none;
}

.shown{
  display: block;
}

#community-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

app-community-thumbnail {
  margin: .5em;

  &:hover{
    cursor: pointer;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    transition:all .1s ease-in-out;
  }
}

.selected {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 2px 15px rgba(0,0,0,.42);
  transition:all .1s ease-in-out;
}

mat-form-field {
  width: 100%;
}

.mat-progress-bar {
  margin-top: -1.25em;
}
