<h2 matDialogTitle i18n="@@projectEditTitle">Manage project</h2>

<mat-dialog-content>

  <section>
    <h4 i18n="@@projectEditGeneral">General Information</h4>
    <mat-form-field class="section">
      <input matInput placeholder="Title"
             i18n-placeholder="@@title"
             [(ngModel)]="projectDto.name"
             [disabled]="pendingChange">
    </mat-form-field>
    <mat-form-field class="section">
      <input matInput
             placeholder="Short description"
             i18n-placeholder="@@shortDescription"
             [(ngModel)]="projectDto.shortDescription"
             [disabled]="pendingChange">
      <mat-hint align="end">{{140 - projectDto.shortDescription.length}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="section">
      <textarea matInput
                placeholder="Full description of the project"
                rows="5"
                i18n-placeholder="@@projectCreateFullDescriptionPlaceholder"
                [(ngModel)]="projectDto.description"
                [disabled]="pendingChange"></textarea>
    </mat-form-field>
  </section>

  <div>
    <h4 i18n="@@projectEditSkills">Skills</h4>
    <treviz-chip-autocomplete
      placeholder="Add a skill"
      i18n-placeholder="@@addSkill"
      [elements]="skills"
      [selectedElements]="projectDto.skills"
      (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>
  </div>

  <div>
    <h4 i18n="@@projectEditTags">Tags</h4>
    <treviz-chip-autocomplete
      placeholder="Add a tag"
      i18n-placeholder="@@addTag"
      [elements]="tags"
      [selectedElements]="projectDto.tags"
      (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

  </div>

  <div class="form-part">
    <h3 i18n="@@projectEditVisibility">Visibility</h3>

    <div class="select-visibility">
        <div
          (click)="projectDto.isVisible = false"
          class="select-visibility-option"
          [class.isSelected]="!projectDto.isVisible">
          <div class="select-visibility-option-head">
            <mat-icon>not_interested</mat-icon>
            <strong i18n="@@private">Private</strong>
          </div>
          <div
            class="select-visibility-option-description"
            i18n="@@privateDescription">
            Only connected users members of the communities this project is linked to will be able to see it.
          </div>
        </div>

        <div
          (click)="projectDto.isVisible = true"
          class="select-visibility-option"
          [class.isSelected]="projectDto.isVisible">
          <div class="select-visibility-option-head">
            <mat-icon>public</mat-icon>
            <strong i18n="@@public">Public</strong>
          </div>
          <div
            class="select-visibility-option-description"
            i18n="@@publicDescription">
            Any connected user can see your project
          </div>
        </div>
      </div>
  </div>

  <div class="form-part">
    <h3 i18n="@@projectEditCommunities">Communities</h3>
    <div id="community-list">
      <mat-form-field>
        <input matInput placeholder="Search a community"
               i18n-placeholder="@@searchCommunity"
               #communityInput
               (keyup)="triggerCommunitySearch(communityInput.value)"
               [disabled]="pendingChange">
      </mat-form-field>
      <mat-progress-bar mode="indeterminate" *ngIf="searchingCommunities"></mat-progress-bar>
      <app-community-thumbnail
          *ngFor="let community of filteredCommunities"
          (click)="triggerSelect(community)"
          [class.selected]="community.isSelected"
          [selected]="community.isSelected"
          [community]="community"
          small></app-community-thumbnail>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="deleteProjectIntent()" [disabled]="pendingChange">
    <ng-container i18n="@projectEditDelete">Delete the project</ng-container>
  </button>
  <button mat-raised-button color="primary" class="validate-button" (click)="putProject()" [disabled]="pendingChange">
    <ng-container i18n="@projectEditValidate">Validate</ng-container>
  </button>
</mat-dialog-actions>
