<div *ngIf="project">

  <div id="project-header">

    <div class="project-actions">
      <button
        mat-icon-button
        [routerLink]="['/projects/create']"
        [queryParams]="{project: project.hash}">
        <mat-icon>call_split</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        *ngIf="userMembership?.hash"
        class="edit-button">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="openEditMode()"
          [disabled]="!hasPermission('UPDATE_PROJECT')">
          <mat-icon>mode_edit</mat-icon>
          <span i18n="@@projectDetailUpdate">Update project</span>
        </button>
        <button
          mat-menu-item
          (click)="openTeamManagementDialog()"
          [disabled]="!(hasPermission('MANAGE_ROLE') || hasPermission('MANAGE_MEMBERSHIP'))">
          <mat-icon>group_add</mat-icon>
          <span i18n="@@projectDetailManageTeam">Manage Team</span>
        </button>
        <button
          mat-menu-item
          (click)="openNotificationPreferencesDialog()">
          <mat-icon>settings</mat-icon>
          <span i18n="@@projectDetailNotificationPreferences">Notification preferences</span>
        </button>
      </mat-menu>
    </div>

    <div
      class="image-cropper"
      (click)="fileInput.click()">
        <div
          class="upload-zone-pending"
          [class.shown]="logoBeingUploaded">
          <mat-spinner></mat-spinner>
        </div>
        <div
          class="upload-zone"
          *ngIf="hasPermission('UPDATE_PROJECT')">
          <mat-icon>file_upload</mat-icon>
        </div>
        <input
          type="file"
          accept="image/png, image/jpeg, image/svg+xml"
          (change)="changeLogo($event)"
          #fileInput
          class="d-none">
        <img
          *ngIf="project.logoUrl"
          [src]="project.logoUrl"
          [alt]="project.name">
        <div
          *ngIf="!project.logoUrl"
          class="project-substitute-logo">
          {{project.name}}
        </div>
      </div>

    <div id="project-title">
      <div>
          <h1>{{project.name}}</h1>
          <div class="flex flex-column flex-md-row ml-md-2">
              <button
                mat-raised-button
                color="accent"
                class="m-05"
                *ngIf="userCandidacy == null && userMembership?.hash == null && userInvitation == null"
                (click)="openCandidacyDialog()">
                <ng-container i18n="@@projectDetailCandidate">Candidate</ng-container>
              </button>

              <button
                mat-raised-button
                color="accent"
                class="m-05"
                *ngIf="userCandidacy && !userMembership?.hash"
                (click)="declineCandidacy(userCandidacy)"
                [disabled]="pendingAction">
                <ng-container i18n="@@projectDetailDiscardCandidacy">Discard candidacy</ng-container>
              </button>

              <button
                mat-raised-button
                color="accent"
                class="m-05"
                *ngIf="userInvitation"
                (click)="acceptInvitation()"
                [disabled]="pendingAction">
                <ng-container i18n="@@projectDetailAcceptInvitation">Accept invitation</ng-container>
              </button>

              <button
                mat-raised-button
                color="accent"
                class="m-05"
                *ngIf="userInvitation"
                (click)="deleteInvitation(userInvitation)"
                [disabled]="pendingAction">
                <ng-container i18n="@@projectDetailRejectInvitation">Reject invitation</ng-container>
              </button>

              <button
                mat-raised-button
                class="m-05"
                *ngIf="userMembership?.hash"
                [matMenuTriggerFor]="membershipMenu">
                <ng-container i18n="@@projectDetailMember">Member</ng-container>
                <mat-icon>done</mat-icon>
              </button>

              <mat-menu #membershipMenu>
                <button
                  mat-menu-item
                  *ngIf="userMembership?.hash != null"
                  (click)="leaveProject()"
                  i18n="@@communityDetailLeaveButton">Leave</button>
              </mat-menu>
          </div>
      </div>
      <h5>{{project.shortDescription}}</h5>
    </div>
  </div>

  <mat-tab-group>

    <mat-tab label="General" i18n-label="@@general">

      <div class="tab-content">
        <mat-card id="project-about">

          <mat-card-title i18n="@@projectDetailAbout">About</mat-card-title>

          <mat-card-content>

            <ngx-md [data]="project.description"></ngx-md>

          </mat-card-content>

          <div id="project-tags">
            <div *ngIf="project.skills.length > 0">
              <h3 i18n="@@projectDetailSkills">Skills</h3>
              <mat-chip-list>
                <mat-chip *ngFor="let skill of project.skills">
                  {{skill.name}}
                </mat-chip>
              </mat-chip-list>
            </div>
            <div *ngIf="project.tags.length > 0">
              <h3 i18n="@@projectDetailTags">Tags</h3>
              <mat-chip-list>
                <mat-chip *ngFor="let tag of project.tags">
                  {{tag.name}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

        </mat-card>

        <app-post-list [project]="project" [canPost]="userMembership != null"></app-post-list>

      </div>

    </mat-tab>

    <mat-tab label="Team" i18n-label="@@team">

      <div class="tab-content flex-column" *ngIf="membershipsFetched">

        <div *ngIf="candidacies.length > 0 && hasPermission('READ_CANDIDACIES')" class="memberships-card">
          <h2 i18n="@@projectDetailCandidates">Candidates</h2>

          <app-project-candidacy-list
            [candidacies]="candidacies"
            [canApprove]="true"
            (onCandidacyAccepted)="handleCandidacyAccepted($event)"
            (onCandidacyRefused)="removeCandidacy($event)"></app-project-candidacy-list>
        </div>

        <div
          *ngIf="invitations.length > 0 && hasPermission('READ_INVITATIONS')"
          class="memberships-card">
          <h2 i18n="@@projectDetailInvitations">Invitations</h2>

          <mat-card
            *ngFor="let invitation of invitations"
            class="mt-1">
            <div class="user-invitation">
              <div class="user-avatar-name">
                <div class="avatar-search-crop">
                  <img
                    src="../../../assets/images/profile.svg"
                    *ngIf="!invitation.user.avatarUrl"
                    alt="avatar">
                  <img
                    [src]="invitation.user.avatarUrl"
                    *ngIf="invitation.user.avatarUrl"
                    alt="avatar">
                </div>
                {{invitation.user.firstName}} {{invitation.user.lastName}}
              </div>

              <div class="spacer"></div>

              <div>
                <div>
                  <button
                    mat-button
                    (click)="deleteInvitation(invitation)"
                    i18n="@@projectDetailRemoveInvitations">
                    Remove Invitation
                  </button>
                </div>
              </div>
            </div>
          </mat-card>

        </div>

        <h2 i18n="@@projectDetailMembers">Members</h2>
        <mat-card class="memberships-card">
          <table mat-table [dataSource]="membershipSource">

            <ng-container matColumnDef="user">
              <th mat-header-cell
                  i18n="@@projectDetailMemberTableUserColumn"
                  *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let membership">
                <div class="user-avatar-name">
                  <div class="avatar-search-crop hover">
                    <img src="../../../assets/images/profile.svg" *ngIf="!membership.user.avatarUrl" alt="avatar">
                    <img [src]="membership.user.avatarUrl" *ngIf="membership.user.avatarUrl" alt="avatar">
                  </div>
                  <a [routerLink]="['/users', membership.user.username]">{{membership.user.firstName}} {{membership.user.lastName}}</a>
                </div>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell
                  i18n="@@projectDetailMemberTableRoleColumn"
                  *matHeaderCellDef>
                Role
              </th>
              <td mat-cell *matCellDef="let membership"> {{membership.role.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="membershipsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: membershipsColumns;"></tr>
          </table>
        </mat-card>
      </div>

      <div class="load-spinner-tab" *ngIf="!membershipsFetched">
        <mat-spinner></mat-spinner>
      </div>

    </mat-tab>

    <mat-tab label="Jobs" i18n-label="@@jobs">
      <app-job-thumbnail-list [project]="project" [displayCreateButton]="hasPermission('MANAGE_JOBS')"></app-job-thumbnail-list>
    </mat-tab>

    <mat-tab label="Boards" *ngIf="membershipsFetched" i18n-label="@@boards">
      <app-board-list [project]="project" [membership]="userMembership"></app-board-list>
    </mat-tab>

    <mat-tab label="Documents" *ngIf="userMembership" i18n-label="@@documents">
      <app-document-list [project]="project"></app-document-list>
    </mat-tab>

  </mat-tab-group>

</div>

<div class="load-spinner" *ngIf="!project">
  <mat-spinner></mat-spinner>
</div>
