@import "~assets/theme/mixins.scss";

@media screen and (max-width: 768px) {
  .avatar-search-crop{
    display: none;
  }
}

#project-header{
  padding-top: 24px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.image-cropper{
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-left: 30px;
  margin-right: 10px;
  overflow: hidden;
}

.image-cropper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.project-substitute-logo{
  background-color: #00897B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#project-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 42px;

  @include media-breakpoint-small {
    align-items: flex-start;
  }

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include media-breakpoint-small {
      flex-direction: row;
    }

    h1 {
      margin: 6px 0;
    }

    #project-action {
      margin-left: 24px;

      > button{
        width: 100%;
      }
    }
  }
}

#project-about {
  margin-bottom: 2em;
}

.tab-content{
  padding: 1em;

  @include media-breakpoint-small {
    padding: 2em;
  }
}

#project-tags{
  margin-left: 10px;
  margin-right: 10px;
}

#project-tags > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-actions{
  position: absolute;
  top: 10px;
  right:0;
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;

  button {
    margin: 6px;
  }
}

.upload-zone{
  width: 100%;
  height: 100%;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  opacity: 0;
  transition-duration: .2s;
  z-index: 10;
}

.upload-zone:hover{
  background-color: #E91E63;
  opacity: 0.8;
  transition-duration: .2s;
  cursor: pointer;
  z-index: 10;
}

.upload-zone-pending{
  width: 100%;
  height: 100%;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  opacity: 0;
}

#news-header{
  margin-left: auto;
  margin-right:auto;
  font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #7986CB;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 12px;
  margin-bottom: 12px;
}

/*
 * Manage memberships
 */

.memberships-card {
  padding: 0;

  > table {
    width: 100%;
  }
}

.spacer{
  flex: 1 1 auto;
  height: 80px;
}

.avatar-search-crop{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.accept-button {
  background-color: #1B5E20;
  margin: 12px;
  color: white;
}
