@import "../../../../assets/theme";

#idea-list, #submit-idea, #filters{
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @include if-small-device {
    flex-direction: column;
  }

  @include if-smaller-device {
    flex-direction: column;
  }
}

#filters {
  margin: 2em auto 1em auto;

  .spacer {
    flex: 1;
  }
}

form {
  width: 100%;
  display: flex;
}

mat-form-field{
  width: 100%;
}

app-brainstorming-idea-card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;

  @include if-medium-device {
    width: 80%;
    padding: 24px;
  }

  @include if-large-device {
    width: 50%;
    padding: 24px;
  }

  @include if-larger-device {
    width: 33%;
    padding: 24px;
  }
}

mat-progress-spinner{
  width: 100%;
  margin: 24px auto;
}
