<mat-card id="submit-idea">
  <form #ideaForm="ngForm" (submit)="onSubmit()">
    <mat-form-field>
        <textarea matInput
                  required
                  name="idea"
                  placeholder="Describe your idea"
                  i18n-placeholder="@@brainstormingIdeaCreatePlaceholder"
                  [(ngModel)]="ideaDto.content"
                  [disabled]="ideaSubmitted || !session.isOpen"
                  rows="2"></textarea>
    </mat-form-field>
    <button
      mat-icon-button
      type="submit"
      [disabled]="!ideaForm.form.valid || ideaSubmitted || !session.isOpen">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</mat-card>

<div id="filters">
  <div class="spacer"></div>
  <button mat-button (click)="loadIdeas()" [disabled]="!ideasFetched">
    <mat-icon>refresh</mat-icon>
    <ng-container i18n="@@refresh">Refresh</ng-container>
  </button>
  <button mat-button (click)="filterByLike()">
    <ng-container i18n="@@BrainstormingListSortByLikes">Sort by likes</ng-container>
  </button>
  <button mat-button (click)="filterByScore()">
    <ng-container i18n="@@BrainstormingListSortByScore">Sort by score</ng-container>
  </button>
</div>

<div id="idea-list" *ngIf="ideasFetched; else loading">
  <app-brainstorming-idea-card *ngFor="let idea of ideas" [idea]="idea"
   (onIdeaSelect)="selectIdea($event)"
   (onIdeaUpdate)="updateIdea($event)"></app-brainstorming-idea-card>
</div>
<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
