<div id="boards-search-dialog">
    <mat-form-field id="search-input">
        <input matInput name="username" [formControl]="searchCtrl" placeholder="Search a project, a user..." i18n-placeholder="@@boardSearchPlaceholder"/>
    </mat-form-field>

    <section id="result">

        <h2
        *ngIf="filteredUsers.length == 0 && filteredProjects.length == 0 && usersFetched && projectsFetched"
        id="no-result"
        i18n="@@boardsSearchNoProjectFound">
            No project or user was found.
        </h2>

        <div *ngIf="filteredUsers.length > 0">
            <h2 i18n="@@boardSearchUsersTitle">Users</h2>
            <div>
                <div *ngFor="let user of filteredUsers" class="search-result-thumbnail" (click)="select(user)">
                    <div class="search-image-name">
                        <div class="image-crop">
                                <img src="../../../assets/images/profile.svg"
                                     *ngIf="!user.avatarUrl"
                                     [alt]="user.username">
                                <img [src]="user.avatarUrl"
                                      *ngIf="user.avatarUrl"
                                      [alt]="user.username">
                                </div>
                                {{user.firstName}} {{user.lastName}}
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="filteredProjects.length > 0">
            <h2 i18n="@@boardSearchProjectsTitle">Projects</h2>
            <div>
                <div *ngFor="let project of filteredProjects" class="search-result-thumbnail" (click)="select(project)">
                    <div class="search-image-name">
                        <div class="image-crop">
                                <img [src]="project.logoUrl" *ngIf="project.logoUrl" [alt]="project.name">
                        </div>
                        {{project.name}}
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
