<div *ngIf="community && membershipsFetched">

  <header>

    <!-- Display menu button to update the project, the roles, team... if the user has the rights to. -->

    <div *ngIf="userMembership">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="menu-trigger" >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="openEditMode()"
          [disabled]="!canUpdateCommunity">
          <mat-icon>mode_edit</mat-icon>
          <span i18n="@@communityDetailUpdateButton">Update community</span>
        </button>
        <button
          mat-menu-item
          (click)="openTeamManagementDialog()"
          [disabled]="!(canUpdateMemberships || canUpdateRoles)">
          <mat-icon>group</mat-icon>
          <span i18n="@@communityDetailManageTeamButton">Manage Team</span>
        </button>
        <button
          mat-menu-item
          (click)="openPreferencesDialog()">
            <mat-icon>settings</mat-icon>
            <span i18n="@@communityDetailNotificationPreferencesButton">Notification Preferences</span>
        </button>
      </mat-menu>
    </div>

    <div id="community-name">
      <h1>{{community.name}}</h1>
    </div>

    <div
      class="community-action-buttons"
      *ngIf="membershipsFetched && candidaciesFetched && invitationsFetched">
      <!-- Display the "change background" button only if the user has the rights to. -->
      <button
        mat-raised-button
        (click)="backgroundInput.click()"
        class="background-upload-button"
        [disabled]="backgroundBeingUploaded"
        *ngIf="canUpdateCommunity"
        i18n="@@communityDetailChangeBackgroundButton">
        Change Background
      </button>

      <!-- Actions regarding membership (candidate, accept invitation, leave project...)-->
      <button mat-raised-button color="accent"
      *ngIf="userCandidacy == null
        && userMembership == null
        && userInvitation == null
        && !community.open"
      (click)="openCandidacyDialog()"
      i18n="@@communityDetailCandidateButton">
        Candidate
      </button>

      <button mat-raised-button color="accent"
        *ngIf="userCandidacy == null
        && userMembership == null
        && userInvitation == null
        && community.open"
        (click)="joinCommunity()"
        i18n="@@communityDetailJoinButton">
        Join
      </button>

      <button
        mat-raised-button
        color="accent"
        *ngIf="userCandidacy"
        (click)="declineCandidacy(userCandidacy)"
        i18n="@@communityDetailCancelCandidacyButton">
        Cancel Candidacy
      </button>

      <button
        mat-raised-button
        color="accent"
        *ngIf="userInvitation"
        (click)="deleteInvitation(userInvitation)"
        i18n="@@communityDetailRejectInvitationButton">
          Reject invitation
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="userInvitation"
        (click)="acceptInvitation()"
        i18n="@@communityDetailAcceptInvitationButton">
        Accept invitation
      </button>

      <button
        mat-raised-button
        *ngIf="userMembership"
        [matMenuTriggerFor]="membershipMenu"
        id="membership-menu-trigger">
        <ng-container i18n="@@communityDetailMemberStatus">Member</ng-container>
        <mat-icon>done</mat-icon>
      </button>

      <mat-menu #membershipMenu>
        <button
        mat-menu-item
        *ngIf="userMembership !== null"
        (click)="leaveCommunity()"
        i18n="@@communityDetailLeaveButton">Leave</button>
      </mat-menu>
    </div>

    <input
      type="file"
      accept="image/png, image/jpeg, image/svg+xml"
      (change)="changeBackgroundPicture($event)"
      #backgroundInput
      class="d-none">

    <img [src]="community.backgroundImageUrl" *ngIf="community.backgroundImageUrl" id="community-background-image">

  </header>

  <mat-tab-group>
    <mat-tab
      label="General"
      i18n-label="@@general">

      <div
        *ngIf="community"
        class="community-general p-1">

        <!-- Display community description -->

        <div id="community-description">
          <h2 i18n="@@communityDetailAboutTitle">About</h2>
          <div>
            <ngx-md [data]="community.description"></ngx-md>
          </div>

          <!-- List community members: only show avatars, name & roles are displayed as tooltips -->

          <div *ngIf="membershipsFetched">
            <h3 [ngPlural]="memberships.length">
              <ng-template ngPluralCase="=0" i18n="@@communityDetailNoMember">No member</ng-template>
              <ng-template ngPluralCase="=1" i18n="@@communityDetailSingleMember">1 member</ng-template>
              <ng-template ngPluralCase="other" i18n="@@communityDetailManyMembers">{{memberships.length}} members</ng-template>
            </h3>
            <div class="member-list">
              <div *ngFor="let membership of memberships">
                <a class="avatar-search-crop"
                     *ngIf="membership.role != null"
                     [routerLink]="['/users', membership.user.username]"
                     matTooltip="{{membership.user.firstName}} {{membership.user.lastName}} - {{membership.role.name}}">
                  <img src="../../../assets/images/profile.svg" *ngIf="!membership.user.avatarUrl">
                  <img [src]="membership.user.avatarUrl" *ngIf="membership.user.avatarUrl">
                </a>
              </div>
            </div>
          </div>

          <!-- List invited members and candidates -->

          <div *ngIf="invitationsFetched && invitations.length > 0">
            <h3 [ngPlural]="invitations.length">
              <ng-template ngPluralCase="=0" i18n="@@communityDetailNoInvitation">No invitation</ng-template>
              <ng-template ngPluralCase="=1" i18n="@@communityDetailSingleInvitation">1 invitation</ng-template>
              <ng-template ngPluralCase="other" i18n="@@communityDetailManyInvitations">{{invitations.length}} invitations</ng-template>
            </h3>
            <div class="invitation-list">
              <div *ngFor="let invitation of invitations">
                <a class="avatar-search-crop"
                     [routerLink]="['/users', invitation.user.username]"
                     matTooltip="{{invitation.user.firstName}} {{invitation.user.lastName}}">
                  <img src="../../../assets/images/profile.svg" *ngIf="!invitation.user.avatarUrl">
                  <img [src]="invitation.user.avatarUrl" *ngIf="invitation.user.avatarUrl">
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="candidaciesFetched && candidacies.length > 0 && userMembership != null">
            <h3 [ngPlural]="candidacies.length">
              <ng-template ngPluralCase="=0" i18n="@@communityDetailNoCandidate">No candidate</ng-template>
              <ng-template ngPluralCase="=1" i18n="@@communityDetailSingleCandidate">1 candidate</ng-template>
              <ng-template ngPluralCase="other" i18n="@@communityDetailManyCandidates">{{candidacies.length}} candidates</ng-template>
            </h3>
            <app-community-candidacy-list
              [candidacies]="candidacies"
              [canApprove] = "canManageCandidacies"
              (onCandidacyRefused)="removeCandidacy($event)"
              (onCandidacyAccepted)="handleCandidacyAccepted($event)"></app-community-candidacy-list>
          </div>

        </div>

        <!-- Display posts, comments, allow user to create some, by including the PostListComponent -->

        <div id="post-list">
          <app-post-list [community]="community" [canPost]="userMembership != null"></app-post-list>
        </div>

      </div>

    </mat-tab>

    <mat-tab
      label="Projects"
      i18n-label="@@projects">

      <!-- Display projects by importing the "ProjectThumbnailList component" -->

      <app-project-thumbnail-list
        [community]="community.hash"></app-project-thumbnail-list>

    </mat-tab>

    <mat-tab label="Brainstorming" i18n-label="@@brainstorming">

      <!-- Display brainstorming sessions by importing the "BrainstormingSessionList" component -->

      <app-brainstorming [community]="community" [userMembership]="userMembership"></app-brainstorming>
    </mat-tab>

    <mat-tab label="Documents" i18n-label="@@documents">

      <!-- Display documents by importing the "DocumentList" component -->

      <app-document-list [community]="community"></app-document-list>
    </mat-tab>

  </mat-tab-group>

</div>

<div class="load-spinner" *ngIf="!community">
  <mat-spinner></mat-spinner>
</div>
