<h2 matDialogTitle>Manage community</h2>

<mat-dialog-content class="flex flex-column">

  <treviz-community-form
    #communityForm
    [community]="community"
    (onSubmit)="onSubmit($event)"
    (onStatusChange)="onStatusChange($event)"
    class="pb-1"></treviz-community-form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          [disabled]="pendingChange"
          (click)="deleteCommunityIntent()"
          color="accent"
          i18n="@@delete">Delete</button>

  <button mat-raised-button
          [disabled]="pendingChange || !isFormValid"
          (click)="communityForm.submit()"
          color="primary"
          i18n="@@updateCommunityBtn">Update Community</button>
</mat-dialog-actions>
