@import "../../../assets/theme";

/*
 * Header
 */

header{
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;

  @include if-smaller-device {
    height: 130px;
  }

  @include if-small-device {
    height: 160px;
  }

  @include if-medium-device {
    height: 190px;
  }

  @include if-large-device {
    height: 220px;
  }

  @include if-larger-device {
    height: 250px;
  }
}

#community-name{
  position: absolute;
  left: 48px;
  z-index: 5;
}

.menu-trigger{
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 5;
}

.community-action-buttons {
  z-index: 5;
  position: absolute;
  right: 24px;
  color: black;
  display: flex;
  flex-direction: row;

  button {
    margin-left: 12px;
  }

  @include if-smaller-device {
    top: 90px;
  }

  @include if-small-device {
    top: 100px;
  }

  @include if-medium-device {
    top: 130px;
  }

  @include if-large-device {
    top: 160px;
  }

  @include if-larger-device {
    top: 190px;
  }
}

#community-background-image {
  width: 100%;
  height:100%;
  object-fit: cover;
  filter: brightness(0.5);
}

/*
 * General information
 */
.community-general{
  display: flex;
  flex-direction: column;

  @include if-larger-device {
    flex-direction: row-reverse;
  }
}

#community-description{
  width: 100%;

  @include if-larger-device {
    width: 40%;
  }

}

#post-list{
  width: 100%;

  @include if-larger-device {
    width: 60%;
    padding-right: 1em;
  }

}

.member-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.candidacy-list {
  display: flex;
  flex-direction: column;
}

.candidacy-list, .invitation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-direction: row;

    button {
      margin: 0 6px;
    }
  }
}

#membership-menu-trigger span {
  display: flex;
  align-items: center;
}

.avatar-search-crop{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.avatar-search-crop > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-search-crop:hover {
  cursor: pointer;
}

/*
 * Project display
 */

#project-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;

   @include if-smaller-device {
     flex-direction: column;
     justify-content: center;
   }

   @include if-small-device {
     flex-direction: column;
     justify-content: center;
   }
}

/*
 * Other stuff
 */

#profile_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-logo{
  height: 100px;
  width: 100px;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills > button{
  margin: 5px;
}

mat-card{
  margin: 15px;
}

#project-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit-button{
  position: absolute;
  right: 20pt;
}

#profile-description{
  text-align: center;
}

.skill{
  margin: 5pt;
}

.skill-list{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: #7986CB;
}

.no-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-project span{
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.5em;
  font-weight: 100;
}

.list-icon{
  margin-right: 10px;
}

.menu-trigger{
  position: absolute;
  right: 25px;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  align-items:center;
}

table{
  width: 100%;
}

mat-form-field {
  width: 100%;
}
