<mat-dialog-content id="user-edit-form">
  <mat-form-field>
    <input matInput placeholder="Username" name="username" i18n-placeholder="@@username" [(ngModel)]="userDto.username">
  </mat-form-field>
  <div id="user-names-edit">
    <mat-form-field>
      <input matInput placeholder="First Name" name="firstName" i18n-placeholder="@@firstName" [(ngModel)]="userDto.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" name="lastName" i18n-placeholder="@@lastName" [(ngModel)]="userDto.lastName">
    </mat-form-field>
  </div>
  
  <mat-form-field class="section">
    <input
      matInput
      placeholder="Specify an organization"
      i18n-placeholder="@@userEditSpecifyOrg"
      [matAutocomplete]="autoOrganization"
      [formControl]="organizationCtrl">
  </mat-form-field>
  <mat-autocomplete #autoOrganization="matAutocomplete">
    <mat-option
      *ngFor="let organization of filteredOrganizations | async"
      [value]="organization.name">
      {{ organization.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Description"
      i18n-placeholder="@@description"
      name="username"
      [(ngModel)]="userDto.description"></textarea>
  </mat-form-field>

  <label i18n="@@skills">Skills</label>
  <treviz-chip-autocomplete
    placeholder="Add a skill"
    i18n-placeholder="@@addSkill"
    [elements]="skills"
    [selectedElements]="userDto.skills"
    (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>

  <label i18n="@@interests">Interests</label>
  <treviz-chip-autocomplete
    placeholder="Add an interest"
    i18n-placeholder="@@addTag"
    [elements]="tags"
    [selectedElements]="userDto.interests"
    (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

  <mat-checkbox [(ngModel)]="admin" *ngIf="data.admin" i18n="@@administrator">Administrator</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button type="submit" color="primary" (click)="onSubmit()" [disabled]="submitted" i18n="@@update">Update</button>
</mat-dialog-actions>
