@import "~assets/theme";

#user-edit-form{
  display: flex;
  flex-direction:column;
  scrollbar-width: thin;
}

#user-names-edit {
  width: 100%;
  display: flex;
  flex-direction: row;

  > mat-form-field {
    width: 50%;

    @include media-breakpoint-small {
      width: 100%;
    }
  }
}

mat-form-field{
  width: 100%;
  margin: 5px;
}

mat-chip-list {
  margin-bottom: 2em;
}

button {
  margin-top: 2em;
}
