#admin-organizations {
  padding: 1em 2em;

  p {
    margin-bottom: 2em;
  }
}

.actions {
  display: flex;
  flex-direction: row;

  .spacer {
    flex: 1 1 auto;
  }

  .main-action {
    width: 80%;
  }
}

table {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

  thead {
    text-align: left;
  }

  td, th {
    padding: 1em 2em !important;
  }

  mat-form-field {
    width: 100%;
  }

  #toggle-create-mode {
    text-align: center;
  }
}

