<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div id="admin-organizations">
  <div>
    <h1 i18n="@@organizations">Organizations</h1>
    <p i18n="@@organizationsDescription">
      Users in Treviz can come from various backgrounds: companies, schools, administrations, etc. To represent this
      diversity, the platform allows you to specify "organizations", which is the base structure the users can be
      affiliated to.
    </p>
    <p i18n="@@organizationsDescriptionManage">
      Here you can manage the various organizations that are available on your platform.
    </p>
  </div>

  <div>
    <table>
      <thead>
      <tr>
        <th i18n="@@organization">Organization</th>
        <th i18n="@@numberOfMembers">Number of members</th>
        <th></th>
        <th i18n="@@action">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let organization of organizations; let i = index">
        <td *ngIf="!isOrganizationEdited(i); else editName">
          <a [routerLink]="['/users']" [queryParams]="{organization: organization.name}">
            {{organization.name}}
          </a>
        </td>
        <td colspan="2" *ngIf="!isOrganizationEdited(i)">
          {{organization.nbMembers}}
        </td>
        <td *ngIf="!isOrganizationEdited(i); else editButtons">
          <button mat-icon-button (click)="toggleEditMode(i)" [disabled]="loading">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteDialog(i)" [disabled]="loading">
            <mat-icon>delete</mat-icon>
          </button>
        </td>

        <ng-template #editName>
          <td colspan="3">
            <mat-form-field *ngIf="organizationsToEdit[i]">
              <input type="text" matInput placeholder="Organization name" i18n-placeholder="@@orgName" [(ngModel)]="organizationsToEdit[i].name">
            </mat-form-field>
          </td>
        </ng-template>
        <ng-template #editButtons>
          <td>
            <button mat-icon-button (click)="toggleEditMode(i)" [disabled]="loading">
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button (click)="editOrganization(i)" [disabled]="loading">
              <mat-icon>check</mat-icon>
            </button>
          </td>
        </ng-template>
      </tr>

      <tr *ngIf="createModeEnabled; else enableCreateModeButton">
        <td colspan="3">
          <mat-form-field>
            <input type="text" matInput placeholder="Create a new organization" i18n-placeholder="@@organizationsCreatePlaceholder" [(ngModel)]="organization.name">
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="toggleCreateMode()" [disabled]="loading">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-icon-button (click)="createOrganization()" [disabled]="loading">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </tr>

      <ng-template #enableCreateModeButton>
        <tr>
          <td colspan="4" id="toggle-create-mode">
            <button mat-icon-button (click)="toggleCreateMode()">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

      </tbody>
    </table>
  </div>
</div>
