<button mat-icon-button (click)="close()" id="close">
  <mat-icon>clear</mat-icon>
</button>

<div id="board-edit">
  <form #createBoardForm="ngForm" (submit)="updateBoard()">
    <mat-form-field>
      <input matInput
             name="name"
             placeholder="Name of the board"
             i18n-placeholder="@@boardName"
             required
             id="board-name-input"
             [(ngModel)]="boardDto.name"/>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                name="description"
                placeholder="Description of the board"
                i18n-placeholder="@@boardDescription"
                required
                [(ngModel)]="boardDto.description"
                matAutosizeMinRows="2"></textarea>
    </mat-form-field>

    <div id="form-actions">
        <div class="spacer"></div>
        <button
          mat-raised-button
          type="button"
          color="warn"
          [disabled]="!createBoardForm || boardSubmitted"
          (click)="deleteBoard()">
          <mat-icon>delete</mat-icon>
          <span i18n="@@boardEditDelete">Delete Board</span>
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!createBoardForm || boardSubmitted">
          <ng-container i18n="@@boardEditUpdate">Update Board</ng-container>
        </button>
    </div>
  </form>

  <h4 *ngIf="board.labels.length > 0">Labels</h4>
  <div id="label-list">
    
    <mat-chip-list>
      <div *ngFor="let label of board.labels">
        <mat-chip [ngStyle]="{'background-color': label.color}"
          *ngIf="label !== labelToUpdate; else updateLabel"
          class="label">
          {{label.name}}
          <mat-icon matChipRemove (click)="triggerEditLabel(label)">edit</mat-icon>
          <mat-icon matChipRemove (click)="deleteLabel(label)">delete</mat-icon>
        </mat-chip>
        <ng-template #updateLabel>
            <div class="label-div">
              <mat-form-field>
                <input matInput name="name" [(ngModel)]="labelDto.name" placeholder="Name" i18n-placeholder="@@name"/>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Colour" i18n-placeholder="@@colour" [(value)]="labelDto.color">
                  <mat-option *ngFor="let color of availableLabelColors"
                              [value]="color.color"
                              [ngStyle]="{'background-color': color.color}">
                    {{ color.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button (click)="editLabel()" [disabled]="labelSubmitted"><mat-icon>check</mat-icon></button>
              <button mat-icon-button (click)="triggerEditLabel(label)" [disabled]="labelSubmitted"><mat-icon>clear</mat-icon></button>
            </div>
          </ng-template>
      </div>
    </mat-chip-list>
  </div>

  <div id="new-label-div">
    <h4 i18n="@@boardEditNewLabel">New Label</h4>
    <div class="label-div">
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="newLabel.name" placeholder="Name" i18n-placeholder="@@name"/>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Colour" i18n-placeholder="@@colour" [(value)]="newLabel.color">
          <mat-option *ngFor="let color of availableLabelColors"
                      [value]="color.color"
                      [ngStyle]="{'background-color': color.color}">
            {{ color.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="createLabel()" [disabled]="labelSubmitted"><mat-icon>check</mat-icon></button>
    </div>
  </div>
</div>
