@import "../../../../assets/theme";

#board-edit {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 24px;

  @include if-smaller-device {
    width: 260px;
  }

  @include if-small-device {
    width: 400px;
  }
}

form, mat-form-field {
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;

  #form-actions {
    display: flex;
    flex-direction: row;

    button {
      margin-left: 1em;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

#label-list {
  display: flex;
  flex-direction: column;
}

.label {
  color: white;
  padding: 10px 18px;
  font-weight: bold;

  mat-icon {
    color: white;
  }
}

.label-div{
  display: flex;
  flex-direction: row;
  align-items: center;

  > mat-form-field {
    padding: 6px;
  }
}

#board-name-input {
  font-size: 1.3em;
}

#close {
  float: right;
}
