<button mat-button class="back-button" routerLink="">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<mat-card class="center-card">
  <mat-card-title i18n="@@unauthorizedTitle">You do not have the rights to access this resource</mat-card-title>
  <mat-card-content>
    This resource is protected. To access it, please log in and check you have the appropriate access rights.
  </mat-card-content>
</mat-card>
