<div>

  <div *ngIf="projectInvitationsFetched && projectInvitations.length == 0
            && communityInvitationsFetched && communityInvitations.length == 0 && displayNoneMessage"
       id="no-invitation-messages">
    <h3 i18n="@@invitationListNoInvitation">No current invitation</h3>
  </div>
  <h3 *ngIf="projectInvitations?.length > 0 || communityInvitations?.length > 0" i18n="@@invitations">
    Invitations
  </h3>

  <app-invitation-thumbnail *ngFor="let invitation of projectInvitations"
                           [projectInvitation]="invitation"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onProjectInvitationRemoval)="manageProjectInvitation($event)"></app-invitation-thumbnail>

  <app-invitation-thumbnail *ngFor="let invitation of communityInvitations"
                           [communityInvitation]="invitation"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onCommunityInvitationRemoval)="manageCommunityInvitation($event)"></app-invitation-thumbnail>
</div>
