@import "../../../assets/theme";

#close-button{
  float: right;
  margin-right: 12px;
}

#community-manage-team-dialog{
  min-width: 75vw;
  min-height: 80vh;
  max-height: 90vh;
}

/*
 * Manage team members
 */

#manage-memberships{
  margin: 24px auto;
  width:80%;
}

#users-membership-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
  font-weight: bold;
}

.spacer{
  flex: 1 1 auto;
  height: 80px;
}

.user-membership{
  display: flex;
  flex-direction: row;
  align-items:center;
  > div {
    padding: 24px;
  }
}

.user-membership:hover{
  box-shadow: 0 2px 15px rgba(0,0,0,.26);
  transition:all .1s ease-in-out;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.active {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  transition:all .1s ease-in-out;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  align-items:center;

  span {
    margin-left: 1em;
  }
}

/*
 * Manage invitation and candidacies
 */

.manage-invitations{
  margin: 24px auto;
  width:80%;
}

#invitation-input {
  width: 80%;
  margin: auto;

  input {
    font-size: 3em;
    margin-top: 24px;
  }
}

.unfixedHeight{
  height: 100%;

  > mat-form-field {
    width: 100%;
  }
}

/*
 * Manage community roles
 */

#manage-roles{
  margin: 24px auto;
  width:80%;
  display: flex;
  flex-direction: row;

  @include if-smaller-device {
    flex-direction: column;
  }
}

#roles-list {
  width: 175px;
  margin-right: 24px;

  @include if-smaller-device {
    width: 100%;
  }

  @include if-small-device {
    width: 100%;
  }
}

.role-name {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

.role-name:hover {
  background-color: #BDBDBD;
  transition:all .1s ease-in-out;
}
