<!--component html goes here -->

<div id="community-manage-team-dialog">

  <button
    mat-icon-button
    (click)="dialogRef.close()"
    id="close-button">
    <mat-icon>close</mat-icon>
  </button>

  <mat-tab-group>

    <mat-tab
      *ngIf="canUpdateMemberships"
      label="Manage Team"
      i18n-label="@@manageTeam">

      <div id="manage-memberships" *ngIf="rolesFetched">

        <div id="users-membership-list-header">
          <span i18n="@@communityManageDialogMembers">Member</span>
          <span i18n="@@communityManageDialogRoles">Role</span>
        </div>

        <div *ngFor="let membership of memberships"
            class="user-membership"
            [class.active]="membership.hash === membershipToEdit.hash">

          <div class="user-avatar-name"
              (click)="editMembership(membership)">
            <app-user-avatar-circle [user]="membership.user"></app-user-avatar-circle>
            <span>{{membership.user.firstName}} {{membership.user.lastName}}</span>
          </div>

          <div class="spacer"
               (click)="editMembership(membership)"></div>

          <div>
            <div *ngIf="membershipToEdit.hash !== membership.hash"
                 (click)="editMembership(membership)">
             {{membership.role.name}}
            </div>

            <div *ngIf="membershipToEdit.hash === membership.hash">
              <mat-form-field>
                <mat-select [(ngModel)]="membershipToEdit.role.hash">
                  <mat-option *ngFor="let role of roles" [value]="role.hash">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-icon-button (click)="abortMembershipChange()"><mat-icon>clear</mat-icon></button>
              <button mat-icon-button (click)="saveMembershipChanges()"><mat-icon>check</mat-icon></button>
              <button mat-icon-button (click)="deleteMembership()"><mat-icon>delete</mat-icon></button>
            </div>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab
      *ngIf="canManageInvitations"
      label="Manage Invitations"
      i18n-label="@@manageInvitations">

      <div class="manage-invitations">

        <mat-form-field id="invitation-input">
          <input matInput name="username"
                 [formControl]="userCtrl"
                 placeholder="Username of the user you wish to invite"
                 i18n-placeholder="@@communityManageTeamInvitePlaceholder"/>
        </mat-form-field>

        <div *ngFor="let user of filteredUsers"
             class="user-membership"
             [class.active]="invitation.user === user.username">

          <div class="user-avatar-name">
            <app-user-avatar-circle [user]="user"></app-user-avatar-circle>
            <span>{{user.firstName}} {{user.lastName}}</span>
          </div>

          <div class="spacer" [class.unfixedHeight]="invitation.user === user.username">
            <mat-form-field *ngIf="invitation.user === user.username">
              <textarea
                placeholder="Send a message"
                i18n-placeholder="@@communityManageTeamSendMessagePlaceholder"
                matInput [(ngModel)]="invitation.message"></textarea>
            </mat-form-field>
          </div>

          <div>
            <div *ngIf="canInvite(user)">
              <div>
                <button
                  mat-raised-button
                  (click)="triggerInvitation(user)"
                  *ngIf="invitation.user !== user.username">Invite</button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="sendInvitation()"
                  *ngIf="invitation.user === user.username"
                  [disabled]="pendingInvitationSent"
                  i18n="@@communityManageDialogSendInvitation">
                    Send Invitation
                </button>
              </div>
            </div>
            <div *ngIf="!canInvite(user)">
              <button
                disabled
                mat-raised-button
                *ngIf="isCandidate(user)"
                i18n="@@communityManageDialogUserAlreadyCandidate">
                User is already candidate
              </button>
              <button
                disabled
                mat-raised-button
                *ngIf="isMember(user)"
                i18n="@@communityManageDialogUserAlreadyMember">
                User is already member
              </button>
            </div>
          </div>
        </div>

        <div *ngFor="let invitation of invitations"
             class="user-invitation">

          <div class="user-avatar-name">
            <app-user-avatar-circle [user]="invitation.user"></app-user-avatar-circle>
            <span>{{invitation.user.firstName}} {{invitation.user.lastName}}</span>
          </div>

          <div class="spacer"></div>

          <div>
            <div>
              <button
                mat-button
                (click)="removeInvitation(invitation)"
                [disabled]="pendingInvitationRemoval">
                <mat-icon>clear</mat-icon>
                <ng-container i18n="@@communityManageDialogRemoveInvitation">Remove</ng-container>
              </button>
            </div>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab
      *ngIf="canManageCandidacies"
      label="Manage Candidacies"
      i18n-label="@@manageCandidacies">

      <div class="manage-invitations">
          <app-community-candidacy-list
          [candidacies]="candidacies"
          [canApprove] = "true"
          (onCandidacyRefused)="removeCandidacy($event)"
          (onCandidacyAccepted)="candidacyAccepted($event)"></app-community-candidacy-list>
      </div>

    </mat-tab>

    <mat-tab
      *ngIf="canUpdateRoles"
      label="Manage Roles"
      i18n-label="@@manageRoles">

      <div id="manage-roles">

        <mat-list
          *ngIf="rolesFetched"
          id="roles-list">
          <mat-list-item>
            <button mat-button (click)="newRole()">
              <mat-icon>add</mat-icon>
              <ng-container i18n="@@communityManageDialogNewRole">New Role</ng-container>
            </button>
          </mat-list-item>
          <mat-list-item *ngFor="let role of roles">
            <button
              mat-button
              (click)="selectRole(role)"
              [disabled]="role === selectedRole">
              {{role.name}}
            </button>
          </mat-list-item>
        </mat-list>

        <div *ngIf="rolesFetched">
          <app-community-role-management
            [role]="selectedRole"
            [community]="community"
            (onRoleUpdate)="updateRole($event)"
            (onRoleDelete)="deleteRole($event)"></app-community-role-management>
        </div>

      </div>

    </mat-tab>

  </mat-tab-group>

</div>
