<mat-card
  class="project-thumbnail">

  <a
    [routerLink]="['/projects', project.hash]"
    class="thumbnail-illustration">
    <img [src]="project.logoUrl" *ngIf="project.logoUrl" [alt]="project.name">
    <div *ngIf="!project.logoUrl"> {{project.name}} </div>
  </a>

  <mat-card-content>

    <div class="thumbnail-description">
      <a [routerLink]="['/projects', project.hash]"><h4>{{project.name}}</h4></a>
      <mat-chip-list *ngIf="firstTags.length > 0">
        <mat-chip *ngFor="let el of firstTags">{{el}}</mat-chip>
        <mat-chip *ngIf="nbRemainingTags > 0">+{{nbRemainingTags}}</mat-chip>
      </mat-chip-list>
      <span>{{project.shortDescription}}</span>
    </div>

    <div class="thumbnail-footer">
      <span [ngPlural]="project.nbMembers">
        <img src="../../../../assets/icons/group-black-outline-18dp.svg" alt="Members">
        <ng-template ngPluralCase="=1" i18n="@@projectThumbnailOneMember"><strong>1</strong> member</ng-template>
        <ng-template ngPluralCase="other" i18n="@@projectThumbnailManyMembers"><strong>{{project.nbMembers}}</strong> members</ng-template>
      </span>
      <span [ngPlural]="project.nbJobsOpen">
        <mat-icon>work_outline</mat-icon>
        <ng-template ngPluralCase="=0" i18n="@@projectThumbnailNoJob">No remaining job</ng-template>
        <ng-template ngPluralCase="=1" i18n="@@projectThumbnailOneJob"><strong>1</strong> job to fill</ng-template>
        <ng-template ngPluralCase="other" i18n="@@projectThumbnailManyJobs"><strong>{{project.nbJobsOpen}}</strong> jobs to fill</ng-template>
      </span>
    </div>

  </mat-card-content>

</mat-card>
