// SCSS for Project Thumbnail
// Project thumbnail are larger on largest screens, making the illustration stand out.

@import "../../../../assets/theme";

.project-thumbnail{
  padding: 0;
  overflow: hidden;
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    color: black;
  }
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .thumbnail-description {
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;

    > span {
      margin-top: 1em;
    }
  }

  .thumbnail-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid $grey300;
    height: 4em;

    > span {
      display: flex;
      align-items: center;
      padding: .5em 1em;
      color: $grey700;

      > img, mat-icon {
        height: 24px;
        margin-right: .5em;
      }

      strong {
        color: black;
        font-weight: 100;
        margin-right: .4em;
      }
    }
  }
}


.thumbnail-illustration {
  height: 250px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  div {
    background-color: #00897B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
  }
}
