<h2 matDialogTitle i18n="@@chatRoomCreate">Create a discussion</h2>

<mat-dialog-content>

  <form #createForm="ngForm" class="flex flex-column">
    <label i18n="@@name">Name</label>
    <mat-form-field>
      <input matInput required [(ngModel)]="room.name" name="name">
    </mat-form-field>

    <label i18n="@@description">Description</label>
    <mat-form-field>
      <textarea matInput required [(ngModel)]="room.description" name="description" matAutosizeMinRows="4"></textarea>
    </mat-form-field>

    <label i18n="@@chatRoomCreateInvite">Invite members</label>
    <mat-form-field>
      <input matInput
             placeholder="Pseudo"
             i18n-placeholder="@@pseudo"
             [matAutocomplete]="usersAutocomplete"
             [formControl]="userCtrl"
             #name
             (keyup.enter)="addUserFromUsername(name.value); name.value = ''">
    </mat-form-field>

    <mat-autocomplete #usersAutocomplete="matAutocomplete">
      <mat-option *ngFor="let user of filteredUsers"
                 [value]="user.username"
                 (click)="addUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
            <img [src]="user.avatarUrl" *ngIf="user.avatarUrl">
          </div>
          <span>{{user.username}}</span>
        </div>
      </mat-option>
    </mat-autocomplete>

    <div class="user-invite-list">
      <button mat-raised-button *ngFor="let user of usersToInvite" (click)="removeUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!user.avatarUrl">
            <img [src]="user.avatarUrl" class="message-avatar" *ngIf="user.avatarUrl">
          </div>
        {{user.username}}
        </div>
      </button>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    (click)="onSubmit()"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!createForm.form.valid || isSubmitted"
    i18n="@@create">Create</button>
</mat-dialog-actions>
