<div id="file-drop"
     *ngIf="file == null; else filePreview"
     (dragover)="allowDrop($event)"
     (drop)="handleDrop($event)">

  <mat-icon>attach_file</mat-icon>
  <span i18n="@@dropFileToUpload">Drop here the file to upload</span>
  <a (click)="fileInput.click()" i18n="@@browseFileToUpload">or browse</a>

  <input type="file"
         #fileInput
         name="file"
         class="d-none"
         [accept]="mimeTypes"
         (change)="handleChange($event)"/>

</div>

<ng-template #filePreview>
  <mat-card *ngIf="file != null" id="file-preview">
    <img *ngIf="extension != null" [src]="extension | filePreview">
    <img *ngIf="imgUrl != null" [src]="imgUrl">
    <div class="flex flex-column ml-1">
      <strong>{{file.name}}</strong>
      <span class="subtitle">{{file | fileSize}}</span>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button (click)="removeFile()"><mat-icon>clear</mat-icon></button>
  </mat-card>
</ng-template>
