@import "~assets/theme/variables";

$height: 120px;

#file-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px dashed $grey700;
  height: $height;

  transition: all .3s ease-in-out;

  &:-moz-drag-over {
    background: $grey300;
  }

  a {
    cursor: pointer;
  }

}

#file-preview {
  display: flex;
  align-items: center;
  height: $height;
  background: white;
  border-radius: 5px;
  padding: 1em;
  word-break: break-word;

  > img {
    width: calc(120px - 2em);
    height: 100%;
    object-fit: cover;
  }
}
