<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <div *ngIf="displayErrorMessage" class="error-card">
      <button mat-icon-button (click)="closeErrorMessage()"><mat-icon>clear</mat-icon></button>
      <span *ngIf="isUsernameAlreadyTaken" i18n="@@registerComponentUsernameTaken">
        This username or email is already taken
      </span>
      <span *ngIf="!isUsernameAlreadyTaken" i18n="@@loginComponentGenericError">
        An error occurred, please try again later or contact the platform's administrator
      </span>
    </div>

    <mat-card *ngIf="!registrationSuccessFull" class="authentication-card">
      <h3 i18n="@@registerComponentTitle">Register</h3>
      <form
        class="credentials-inputs"
        (submit)="onRegister()"
        [formGroup]="registrationForm">
          <div class="credentials-row">
            <mat-form-field>
              <input
                matInput
                required
                type="text"
                placeholder="First name"
                name="firstName"
                i18n-placeholder="@@firstName"
                formControlName="firstName">
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                required
                type="text"
                placeholder="Last name"
                name="lastName"
                i18n-placeholder="@@lastName"
                formControlName="lastName">
            </mat-form-field>
          </div>
        <mat-form-field>
          <input
            matInput
            required
            type="text"
            placeholder="Username"
            name="username"
            i18n-placeholder="@@userName"
            minlength="3"
            maxlength="20"
            pattern="^[a-zA-Z0-9_-]{3,20}$"
            formControlName="username">
          <mat-error
            *ngIf="username.invalid"
            i18n-placeholder="@@registrationComponentUserNameError">
            It should be 3 to 20 characters long, with no special characters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            type="email"
            placeholder="E-mail"
            name="email"
            i18n-placeholder="@@email"
            formControlName="email">
          <mat-error
            *ngIf="email.invalid"
            i18n-placeholder="@@emailErrorMessage">
            Please prompt a valid mail, we need it to confirm your account
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            type="password"
            placeholder="Password"
            name="password"
            i18n-placeholder="@@password"
            formControlName="password">
        </mat-form-field>
        <mat-checkbox
          *ngIf="platformService.settings"
          name="termsOfService"
          required
          i18n="@@RegisterComponentAcceptToS"
          formControlName="agreedWithTerms">
          I agree with the <a [href]="platformService.settings.termsOfService">Terms of service</a>
        </mat-checkbox>
        <button mat-raised-button
                class="log-button"
                type="submit"
                i18n="@@createAccount"
                [disabled]="isSubmitted || !registrationForm.valid">Create account</button>
      </form>
    </mat-card>

    <mat-card class="link-card" *ngIf="!registrationSuccessFull">
      <span i18n="@@RegisterComponentGoToLogin">
        Already registered ? <a routerLink="/login" class="link">Sign in</a>
      </span>
    </mat-card>

    <mat-card *ngIf="registrationSuccessFull">
      <h3 i18n="@@RegisterComponentSuccess">Account successfully created !</h3>
      <span i18n="@@RegisterComponentGoToMailbox">Go to your mailbox to activate your account.</span>
    </mat-card>

  </div>

  <div>
    <ngx-md path="../../assets/home.md" class="markdown"></ngx-md>
    <div *ngIf="platformService.settings" id="info">
      <a [href]="platformService.settings.termsOfService" i18n="@@RegisterComponentTermsOfService">Terms of service</a>
      <a [href]="platformService.settings.privacyNotice" i18n="@@RegisterComponentPrivacyNotice">Privacy notice</a>
    </div>
  </div>

</div>
