@media screen and (min-width: 768px) {
  #logo{
    margin: auto;
    width: 150px;
  }

  .info-dialog{
    max-height: 500px;
    font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
  }
}

@media screen and (max-width: 768px) {
  #logo{
    margin: auto;
    width: 75px;

  }

  .info-dialog{
    font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
    padding:20px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
    overflow-y: scroll;
  }
}

h3{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: x-large;
}
