.comment{
  padding: 1em 1em .5em 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .comment-content {
    padding-left: 1em;
    width: 100%;

    .comment-header {
      align-items: center;
      height: 2em;

      a {
        font-weight: bold;
      }

      .comment-date{
        padding-left: .5em;
        color: gray;
      }
    }
  }
}
