<div class="comment">
  <app-user-avatar-circle
    [user]="comment.author"
    [small]="true">
  </app-user-avatar-circle>

  <div class="comment-content">
      <div class="comment-header flex">
        <a [routerLink]="['/users', comment.author.username]">{{comment.author.firstName}} {{comment.author.lastName}}</a>
        <span class="comment-date">{{comment.publicationDate | dateInterval }}</span>

        <span class="spacer"></span>

        <button
          *ngIf="isAuthor"
          mat-icon-button
          [matMenuTriggerFor]="appMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="openEditDialog()" i18n="@@update">Update</button>
          <button mat-menu-item (click)="deleteComment()" i18n="@@delete">Delete</button>
        </mat-menu>
      </div>
    <ngx-md [data]="comment.message"></ngx-md>
  </div>
</div>
