<h2 matDialogTitle i18n="@@boardCreateTitle">Create a new board</h2>

<form #createBoardForm="ngForm">
  <mat-form-field>
    <input matInput
           name="name"
           placeholder="Name of the board"
           i18n-placeholder="@@boardName"
           required
           [(ngModel)]="boardDto.name"/>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput
              name="name"
              placeholder="Description of the board"
              i18n-placeholder="@@boardDescription"
              required
              [(ngModel)]="boardDto.description"
              matAutosizeMinRows="2"></textarea>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!createBoardForm.valid || boardSubmitted"
    i18n="@@boardCreateSubmit">Create Board</button>
</mat-dialog-actions>
