<div id="account-preferences-admin">
  <h3 i18n="@@accountPreferencesTitle">Account Management</h3>

  <div class="actions">
    <section>
      <p i18n="@@accountPreferencesArchiveDescription">
        Treviz only keeps track of the information required to power the platform: your projects, tasks, messages, etc.
        We do not store any metadata regarding your location, devices, nor do we try to analyse your behaviour. If you
        want to download an archive containing all your personal data, simply click the button bellow.
      </p>
      <button mat-raised-button (click)="downloadArchive()"
              i18n="@@accountPreferencesArchiveButton">Download my archive</button>
    </section>
    <section>
      <p i18n="@@accountPreferencesDeleteDescription">
        If Treviz does not comply with your needs or hopes, you can delete your account. This action is irreversible. We will delete
        all your personal information, including you messages, tasks, feedback, or any kind of participation. Feel free to send
        us a mail telling us why you left the platform :)
      </p>
      <button mat-raised-button color="accent" (click)="deleteAccount()"
              i18n="@@accountPreferencesDeleteButton">Delete my account</button>
    </section>
  </div>
</div>
