<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <div *ngIf="displayErrorMessage" class="error-card mt-1">
      <button mat-icon-button (click)="closeErrorMessage()"><mat-icon>clear</mat-icon></button>
      <span *ngIf="invalidCredentials" i18n="@@loginComponentInvalidCredentials">
        Invalid username or password
      </span>
      <span *ngIf="!invalidCredentials" i18n="@@loginComponentGenericError">
        An error occurred, please try again later or contact the platform's administrator
      </span>
    </div>

    <mat-card class="authentication-card">
      <h3 i18n="@@loginComponentSignInTitle">Sign In</h3>
      <form class="credentials-inputs" (submit)="onLogin()" #loginForm="ngForm">
        <mat-form-field>
          <span matPrefix>
            <mat-icon>perm_identity</mat-icon>
            &nbsp;
          </span>
          <input matInput
                 type="text"
                 required
                 placeholder="Username or email"
                 i18n-placeholder="@@loginUsernamePlaceholder"
                 name="username" [(ngModel)]="credentials.username">
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>
            <mat-icon>lock_outline</mat-icon>
            &nbsp;
          </span>
          <input matInput
                 type="password"
                 required
                 placeholder="Password"
                 i18n-placeholder="@@password"
                 name="password"
                 [(ngModel)]="credentials.password">
          <mat-hint align="end">
            <a routerLink="/password-recover" i18n="@@loginComponentForgotPassword">
              Forgot your password ?
            </a>
          </mat-hint>
        </mat-form-field>

        <button mat-raised-button
                type="submit"
                class="log-button"
                [disabled]="isSubmitted || !loginForm.form.valid"
                i18n="@@loginComponentSignInButton">Sign in</button>
      </form>
    </mat-card>

    <mat-card class="link-card">
      <span i18n="@@loginComponentGoToRegister">
        No account yet ? <a routerLink="/register" class="link">Register</a>
      </span>
    </mat-card>

  </div>

  <div>
    <ngx-md path="../../assets/home.md" class="markdown"></ngx-md>
    <div *ngIf="platformService.settings" id="info">
      <a [href]="platformService.settings.termsOfService" i18n="@@loginComponentTermsOfService">Terms of service</a>
      <a [href]="platformService.settings.privacyNotice" i18n="@@loginComponentPrivacyNotice">Privacy notice</a>
    </div>
  </div>

</div>
