<mat-form-field>
  <input matInput placeholder="Role name" [(ngModel)]="role.name" [disabled]="role.global">
</mat-form-field>

<section>
  <mat-checkbox [(ngModel)]="role.defaultMember" [disabled]="role.global">
    <span class="permission-description"
          i18n="@@projectRoleManageDefault">Default role for any new member of the project ?</span>
  </mat-checkbox>

</section>

<mat-divider></mat-divider>

<section>

  <ng-container i18n="@@projectRoleManageRights">
    Specify the rights of the various roles you can give to the members of this project.
  </ng-container>

  <div>
    <h3 i18n="@@project">
      Project
    </h3>

    <mat-checkbox [(ngModel)]="permissions.UPDATE_PROJECT" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanUpdateProject">
        Can update the project (skills, tags, description, logo...)
      </span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.DELETE_PROJECT" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanDeleteProject">
        Can delete the project (this action cannot be undone)
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@memberships">Memberships</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_MEMBERSHIP" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanUpdateRoles">Can update the roles of the members, remove them from the project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@roles">Roles</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_ROLE" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanCreateRoles">Can create new roles, update those already existing, and remove the unnecessary ones.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@candidacies">Candidacies</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_CANDIDACIES" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanManageCandidacies">Can see users who candidates to the project, accept or deny them.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@invitations">Invitations</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_INVITATIONS" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanInvite">Can invite users to take part in this project, or remove existing invitations</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@posts">Posts</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_POST" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanManagePosts">Can moderate, delete the posts of this project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@documents">Documents</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_DOCUMENT" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanManageDocuments">Can moderate, delete the documents of this project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@kanban">Kanban</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_KANBAN" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanManageKanban">Can create new boards for the project, specify columns, labels. Any user can see and create tasks.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@jobs">Jobs</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_JOBS" [disabled]="role.global">
      <span class="permission-description"
            i18n="@@projectRoleManageCanManageJobs">Can create new jobs, update existing ones, specify which tasks are to be realised...</span>
    </mat-checkbox>
  </div>

  <div class="flex mt-1">
    <div class="spacer"></div>
    <button
      mat-raised-button
      color="warn"
      (click)="onDelete()"
      [disabled]="role.global || submitted">
      <mat-icon>delete</mat-icon>
      <ng-container i18n="@@delete">Delete</ng-container>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      class="ml-1"
      [disabled]="role.global || submitted">
      <mat-icon>check</mat-icon>
      <ng-container i18n="@@projectRoleManageSubmit">Save changes</ng-container>
    </button>

  </div>

</section>
