<mat-form-field>
  <input matInput
         [placeholder]="placeholder"
         [disabled]="elements.length === 0"
         #eltInput
         [matAutocomplete]="autoSkill"
         [formControl]="formCtrl"
         (keyup.enter)="add(eltInput.value); eltInput.value = ''">
</mat-form-field>
<mat-autocomplete #autoSkill="matAutocomplete">
  <mat-option
    *ngFor="let element of filteredElements | async"
    [value]="element"
    (click)="add(element); eltInput.value = ''">
    {{ element }}
  </mat-option>
</mat-autocomplete>

<mat-chip-list>
  <mat-chip *ngFor="let elt of selectedElements"
            selectable="false"
            removable="true"
            (removed)="remove(elt)">
    {{elt}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
