<div id="filters" [class.flex-sm-column]="displayFiltersOnLargeScreens">
  <mat-form-field>
    <input matInput
           type="text"
           #name
           [placeholder]="placeholder"
           (keyup)="search(name.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <treviz-chip-autocomplete placeholder="Filter by skill"
                            i18n-placeholder="@@filterBySkill"
                            *ngIf="!smallScreen && displayFiltersOnLargeScreens"
                            [elements]="skills"
                            [selectedElements]="params.skills"
                            (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>

  <treviz-chip-autocomplete placeholder="Filter by center of interest"
                            i18n-placeholder="@@filterByTag"
                            *ngIf="!smallScreen && displayFiltersOnLargeScreens"
                            [elements]="tags"
                            [selectedElements]="params.tags"
                            (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

  <button
    mat-icon-button
    [matBadge]="nbActiveFilters"
    matBadgePosition="below after"
    matBadgeSize="medium"
    *ngIf="smallScreen || !displayFiltersOnLargeScreens"
    [disabled]="skills.length === 0 && tags.length === 0"
    (click)="openFilterDialog()">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>
