<h2 matDialogTitle i18n="@@projectFilterTitle">Filters</h2>

<div id="filters">
  <treviz-chip-autocomplete placeholder="Skills"
                            i18n-placeholder="@@projectFilterSkills"
                            [elements]="skills"
                            [selectedElements]="params.skills"
                            (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>


  <treviz-chip-autocomplete placeholder="Interests"
                            i18n-placeholder="@@interests"
                            [elements]="tags"
                            [selectedElements]="params.tags"
                            (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>
</div>

<mat-dialog-actions align="end">
  <button mat-button
          (click)="emptyFilters()"
          i18n="@@projectFilterReset">
    Reset filters
  </button>
  <button mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
          i18n="@@projectFilterUpdate">
    Update filters
  </button>
</mat-dialog-actions>
