#filters {
  width: 300px;

  @media screen and (min-width: 768px) {
    #filters {
      width: 500px;
    }
  }

  @media screen and (min-width: 992px) {
    #filters {
      width: 700px;
    }
  }

}
