@import "mixins.scss";
@import "variables.scss";

a {
  word-break: break-word;
}

.load-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.load-spinner-tab{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.edit-dialog-form {
  min-width: 70vw;
  max-width: 1200px;
}

.user-invitation {
  display: flex;
  flex-direction: row;
  align-items:center;

  > div {
    padding: 1em;
  }
}

.mat-checkbox {
  display: block !important;
}

.top-progress-bar {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 2;

  @include media-breakpoint-small {
    top: 0;
  }
}

.mat-card-thumbnail-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid $grey300;
  height: 4em;

  > span {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    color: $grey700;

    > img, mat-icon {
      height: 24px;
      margin-right: .5em;
    }

    strong {
      color: black;
      font-weight: 100;
      margin-right: .4em;
    }
  }
}

.project-thumbnail-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include media-breakpoint-small {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: initial;
  }

  > app-project-thumbnail {
    margin: 1em auto;
  }
}
