@import "./variables.scss";
@import "./mixins.scss";

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-md-row {
  @include media-breakpoint-small {
    flex-direction: row;
  }
}

.flex-md-column {
  @include media-breakpoint-small {
    flex-direction: column;
  }
}

.spacer {
  flex: 1 1 auto;
}

.d-none {
  display: none;
}

.m-05 {
  margin: 0.5em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.mbe-1 {
  margin-block-end: 1em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.m-1 {
  margin: 1em !important;
}

.ml-md-2 {
  @include media-breakpoint-small {
    margin-left: 2em !important;
  }
}

.p-1 {
  padding: 1em !important;
}

.p-md-1 {
  @include media-breakpoint-small {
    padding: 1em !important;
  }
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.p-2 {
  padding: 2em !important;
}

.float-right {
  float: right;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.text-italic {
  font-style: italic;
}

.subtitle {
  color: $grey700;
  font-weight: 100;
}

.d-md-none {
  @include media-breakpoint-small {
    display: none;
  }
}

.d-md-flex {
  @include media-breakpoint-small {
    display: flex;
  }
}

.flex-sm-column {
  @include media-breakpoint-small {
    flex-direction: column !important;
  }
}
