$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

/* Those mixins aims at targeting specific display sizes */

@mixin if-smaller-device {
  @media screen and (max-width: $x-small) {
    @content;
  }
}

@mixin if-small-device {
  @media screen and (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin if-medium-device {
  @media screen and (min-width: $small) and (max-width: $medium) {
    @content;
  }
}

@mixin if-large-device {
  @media screen and (min-width: $medium) and (max-width: $large) {
    @content;
  }
}

@mixin if-larger-device {
  @media screen and (min-width: $large) {
    @content;
  }
}


/* Those mixins aims at targeting displays that are larger than a specific size */


@mixin media-breakpoint-small {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin media-breakpoint-medium {
  @media screen and (min-width: $medium){
    @content;
  }
}
