<mat-progress-bar mode="indeterminate" *ngIf="displayProgressBar"></mat-progress-bar>

<div id="admin-accounts">
  <div>
    <h1 i18n="@@accounts">Accounts</h1>
    <p i18n="@@accountsDescription">
      Here you can manage the accounts of your platform, add and remove new users.
    </p>
  </div>

  <div>
    <div class="actions">
      <mat-form-field class="main-action">
        <input
          matInput
          placeholder="Search a user"
          i18n-placeholder="@@searchUser"
          #search1
          (keyup)="search(search1.value)"
          [value]="name">
      </mat-form-field>
      <div class="spacer"></div>
      <div>
        <button mat-raised-button (click)="openAccountCreationDialog()">
          <mat-icon>person_add</mat-icon>
          <ng-container i18n="@@accountsCreateUser">New User</ng-container>
        </button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th i18n="@@username">Username</th>
          <th i18n="@@firstName">First Name</th>
          <th i18n="@@lastName">Last Name</th>
          <th i18n="@@organization">Organization</th>
          <th i18n="@@admin">Admin</th>
          <th></th>
          <th i18n="@@action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of displayedUsers; let i = index">
          <td>
            <a [routerLink]="['/users', user.username]">
              {{user.username}}
            </a>
          </td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>
            <a [routerLink]="['/users']" [queryParams]="{organization: user.organization}">
              {{user.organization}}
            </a>
          </td>
          <td colspan="2">
            <mat-icon *ngIf="isAdmin(user)">check</mat-icon>
          </td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="accountManagement">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #accountManagement="matMenu">
              <button mat-menu-item (click)="openEditDialog(i)">
                <mat-icon>edit</mat-icon>
                <ng-container i18n="@@update">Update</ng-container>
              </button>
              <button mat-menu-item (click)="openDeleteDialog(i)">
                <mat-icon>delete</mat-icon>
                <ng-container i18n="@@delete">Delete</ng-container>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <div class="spacer"></div>
      <button
        mat-icon-button
        (click)="goBack()"
        [disabled]="!canGoBack">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="goFurther()"
        [disabled]="!canGoFurther">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
