<h2 matDialogTitle>
  <ng-container
    *ngIf="isNew; else updateTitle"
    i18n="@@brainstormingSessionCreateTitle">Create a new brainstorming session</ng-container>
  <ng-template #updateTitle>
    <ng-container i18n="@@brainstormingSessionUpdateTitle">Update a brainstorming session</ng-container>
  </ng-template>
</h2>

<form #sessionForm="ngForm">

  <mat-form-field>
    <input
      matInput
      placeholder="Name of the session"
      i18n-placeholder="@@brainstormingSessionNamePlaceholder"
      required
      name="name"
      [(ngModel)]="sessionDto.name"/>
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Description of the session"
      i18n-placeholder="@@brainstormingSessionDescriptionPlaceholder"
      required
      [(ngModel)]="sessionDto.description" name="name"></textarea>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button
    *ngIf="!isNew"
    mat-raised-button
    color="warn"
    type="submit"
    (click)="toggleSession()"
    [disabled]="!sessionForm.valid || submitted">
    <ng-container
    *ngIf="sessionDto.isOpen; else openSession"
    i18n="@@brainstormingSessionClose">
      Close the session
    </ng-container>
    <ng-template #openSession>
      <ng-container i18n="@@brainstormingSessionOpen">
        Open the session
      </ng-container>
    </ng-template>
  </button>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!sessionForm.valid || submitted">
    <ng-container
      *ngIf="isNew; else saveBtn"
      i18n="@@brainstormingSessionCreateSubmit">
      Create session
    </ng-container>
    <ng-template #saveBtn>
      <ng-container i18n="@@update">
        Update
      </ng-container>
    </ng-template>
  </button>
</mat-dialog-actions>
