<mat-progress-bar mode="indeterminate" *ngIf="!(communitiesFetched && personalCommunitiesFetched)"></mat-progress-bar>

<div class="flex align-items-center p-1">
  <h3 i18n="@@communities">Communities</h3>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" routerLink="/communities/create">
    <mat-icon>add</mat-icon>
    <span i18n="@@newCommunity">New community</span>
  </button>
</div>


<ng-container *ngIf="personalCommunitiesFetched">

  <ng-container *ngIf="personalCommunities?.length > 0; else availableCommunities">
    <mat-tab-group>
      <mat-tab label="My communities" i18n-label="@@communityListMyCommunities">
        <div class="search-results" *ngIf="personalCommunities?.length > 0">
          <app-community-thumbnail
            *ngFor="let community of personalCommunities"
            [community]="community"></app-community-thumbnail>
        </div>
      </mat-tab>

      <mat-tab label="Explore all communities" i18n-label="@@communityListAvailableCommunities">
        <ng-container [ngTemplateOutlet]="availableCommunities"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

</ng-container>



<ng-template #availableCommunities>

  <div class="flex p-1">
    <mat-form-field class="spacer">
      <input matInput
             type="text"
             #name
             placeholder="Search a community"
             i18n-placeholder="@@searchCommunityByName"
             (keyup)="searchByName(name.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <section *ngIf="communities?.length > 0">
    <div class="search-results" *ngIf="communities.length > 0">
      <app-community-thumbnail
        *ngFor="let community of communities"
        [community]="community"></app-community-thumbnail>
    </div>
    <div class="no-result" *ngIf="communities.length === 0">
      <h3 i18n="@@communityListNoAvailableCommunities">No other community was found.</h3>
    </div>
  </section>

  <div *ngIf="communitiesFetched && communities.length === 0" id="no-community">
    <h2 i18n="@@communityListNoCommunities">No community was found.</h2>
    <button mat-button routerLink="/communities/create">
      <mat-icon>add</mat-icon>
      <span i18n="@@communityCreateCommunities">Create one</span>
    </button>
  </div>

  <button
    mat-button
    color="primary"
    (click)="loadMore()"
    class="load-more-button"
    *ngIf="communitiesFetched && moreToLoad"
    i18n="@@communityListLoadMore">
    Load more
  </button>

</ng-template>
