@import "../../../assets/theme";

mat-progress-bar {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 2;

  @include media-breakpoint-small {
    top: 0;
  }
}

.search-load-more{
  width: 50px;
  margin: auto;
}

app-community-thumbnail {
  margin: .5em;
}

.search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include if-smaller-device {
    flex-direction: column;
    align-items: center;
  }

}

.load-more-button {
  width: 100%;
  margin: 10px auto;
}

.no-result {
  margin-left: 24px;
}

#no-community {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
