<h2 matDialogTitle i18n="@@confirmDialogTitle">Please confirm your choice</h2>

<mat-dialog-content>

  <span *ngIf="messageId != null">
    <ng-container
      *ngIf="messageId === messageEnum.PROJECT_DELETE"
      i18n="@@confirmProjectDelete">
      Do you really want to delete this project ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.COMMUNITY_DELETE"
      i18n="@@updateCommunityConfirmDeletion">
      Are you sure you want to delete this community ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.COMMUNITY_LEAVE"
      i18n="@@confirmCommunityLeave">
      Are you sure you want to leave this community ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.PROJECT_LEAVE"
      i18n="@@confirmProjectLeave">
      Are you sure you want to leave this project ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.MAIL_DOMAIN_DELETE"
      i18n="@@confirmDomainDelete">
      Are you sure you want to delete this domain ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.ACCOUNT_DELETE"
      i18n="@@confirmAccountDelete">
      Are you sure you want to delete your account ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.USER_DELETE"
      i18n="@@confirmUserDelete">
      Are you sure you want to delete this user ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.ORGANIZATION_DELETE"
      i18n="@@confirmOrganizationDelete">
      Are you sure you want to delete this organization ? This action cannot be undone.
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.POST_DELETE"
      i18n="@@confirmPostDelete">
      Are you sure you want to delete this post ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.COMMENT_DELETE"
      i18n="@@confirmCommentDelete">
      Are you sure you want to delete this comment ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.MESSAGE_DELETE"
      i18n="@@confirmMessageDelete">
      Are you sure you want to delete this message ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.CHAT_ROOM"
      i18n="@@confirmChatRoomDelete">
      Are you sure you want to delete this chat room ?
    </ng-container>

    <ng-container
      *ngIf="messageId === messageEnum.QUIT_JOB"
      i18n="@@confirmQuitJob">
      Are you sure you want to quit this job ?
    </ng-container>
  </span>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button
    mat-button
    id="cancel-button"
    (click)="abort()"
    i18n="@@cancel">
    Cancel
  </button>
  <button
    mat-raised-button
    id="confirm-button"
    color="warn"
    (click)="confirm()"
    i18n="@@confirm">
    Confirm
  </button>
</mat-dialog-actions>
