@import "../../../../assets/theme/variables.scss";

.post {
  padding:0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.post-header{
  padding: 1em;
  display: flex;
  align-items: center;
}

.post-profile{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.post-content{
  padding-left: 1em;
  padding-right: 1em;
}

.post-author{
  font-weight: bold;
}

.post-date{
  color: gray;
}

.post-comments {
  background-color: $grey200;

  > div {
    display: flex;

    > button {
      margin: auto;
    }
  }
}

form {
  padding: 1em 2em 1em 2em;

  mat-form-field {
    width: 100%;
    padding: 0 1em;
  }

}
