<mat-card class="post">

  <div class="post-header">
    <app-user-avatar-circle
      [user]="post.author"
      [small]="false"></app-user-avatar-circle>
    <div class="post-profile">
      <span>
        <a class="post-author" [routerLink]="['/users', post.author.username]">
          {{post.author.firstName}} {{post.author.lastName}}
        </a>
        <span *ngIf="showOrigin && post.project">
          <ng-container i18n="@@postInProject">in project</ng-container>&nbsp;
          <a [routerLink]="['/projects', post.project.hash]">{{post.project.name}}</a>
        </span>
        <span *ngIf="showOrigin && post.community">
          <ng-container i18n="@@postInCommunity">in community</ng-container>&nbsp;
          <a [routerLink]="['/communities', post.community.hash]">{{post.community.name}}</a>
        </span>
        <span *ngIf="showOrigin && post.job">
          <ng-container i18n="@@postForJob">for job</ng-container>&nbsp;
          <a [routerLink]="['/jobs', post.job.hash]">{{post.job.name}}</a>
        </span>
        <span *ngIf="showOrigin && post.task">
          <ng-container i18n="@@postForTask">for task:</ng-container>&nbsp;
          {{post.task.name}}
        </span>
      </span>
      <div class="post-date">{{post.publicationDate | dateInterval}}</div>
    </div>
    <div class="spacer"></div>
    <div class="post-actions" *ngIf="isAuthor">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openEditDialog()" i18n="@@update">Update</button>
        <button mat-menu-item (click)="deletePost()" i18n="@@delete">Delete</button>
      </mat-menu>
    </div>
  </div>

  <ngx-md [data]="post.message" class="post-content"></ngx-md>

  <div class="post-comments">
    <div *ngIf="commentsIndex > 0" class="flex">
      <button mat-button (click)="displayMoreComments()" i18n="@@postLoadMoreComments">Load more comments</button>
    </div>
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      (onCommentDelete)="onCommentDelete($event)"
      (onCommentUpdate)="onCommentUpdate($event)"></app-comment>

    <mat-divider *ngIf="comments.length > 0"></mat-divider>

    <form class="flex" (submit)="submitComment()">
      <mat-form-field>
        <textarea matInput
                  name="comment"
                  placeholder="Add a comment"
                  i18n-placeholder="@@postAddCommentPlaceholder"
                  [(ngModel)]="comment.message"
                  rows="1"
                  [disabled]="submitted"></textarea>
      </mat-form-field>
      <button
        mat-icon-button
        type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>

</mat-card>
