<mat-card class="idea">
  <mat-card-content>
    <ngx-md>
      {{idea.content}}
    </ngx-md>
  </mat-card-content>
  <mat-card-actions class="idea-actions">
      <button mat-icon-button (click)="selectIdea()">
        <mat-icon>details</mat-icon>
      </button>

    <button mat-icon-button (click)="triggerLike()">
      <mat-icon *ngIf="currentUserLike()">favorite</mat-icon>
      <mat-icon *ngIf="!currentUserLike()">favorite_border</mat-icon>
    </button>

    <button mat-icon-button (click)="upvote()" [disabled]="currentVote() - 1 >= 0">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <span>{{idea.score}}</span>

    <button mat-icon-button (click)="downvote()" [disabled]="currentVote() + 1 <= 0">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div class="spacer">
    </div>
    <div class="idea-liked">
        <app-user-avatar-circle
          *ngFor="let user of idea.liked.slice(0, 2)"
          matTooltip="{{user.username}} liked this idea"
          i18n-matTooltip="@@brainstormingLikedIdeaTooltip"
          [user]="user"
          [small]="true"></app-user-avatar-circle>
    </div>
  </mat-card-actions>
</mat-card>
