@import "../../../../assets/theme";

.idea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.idea-actions{
  display: flex;
  align-items: center;
}

.spacer{
  flex: 1 1 auto;
}

.idea-liked{
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.idea-liked{
  display: inline-flex;
  align-items: center;
}
