<mat-card>

  <mat-card-content>
    <p *ngIf="projectCandidacy != null && canApprove && !projectCandidacy?.job">
      <a [routerLink]="['/users', projectCandidacy.user.username]">{{projectCandidacy.user.firstName}} {{projectCandidacy.user.lastName}}</a>
      <span i18n="@@candidacyThumbnailProject"> whishes to join this project:</span>
    </p>

    <p *ngIf="projectCandidacy?.project && !canApprove && !projectCandidacy?.job">
      <span i18n="@@candidacyThumbnailProjectOwn">You asked to join the project </span>
      <a [routerLink]="['/projects', projectCandidacy.project.hash]">{{projectCandidacy.project.name}}</a>:
    </p>

    <p *ngIf="projectCandidacy?.project && projectCandidacy?.job && !canApprove">
      <span i18n="@@candidacyThumbnailJobOwn">You candidated to the job </span>
      <a [routerLink]="['/jobs', projectCandidacy.job?.hash]">{{projectCandidacy?.job?.name}}</a>:
    </p>

    <p *ngIf="projectCandidacy != null && canApprove && projectCandidacy?.job != null">
      <a [routerLink]="['/users', projectCandidacy.user.username]">{{projectCandidacy.user.firstName}} {{projectCandidacy.user.lastName}}</a>
      <span i18n="@@candidacyThumbnailProjectJob"> candidated to the job: </span>
      <a [routerLink]="['/jobs', projectCandidacy.job?.hash]">{{projectCandidacy?.job?.name}}</a>:
    </p>

    <p *ngIf="communityCandidacy != null && canApprove">
      <a [routerLink]="['/users', communityCandidacy.user.username]">{{communityCandidacy.user.firstName}} {{communityCandidacy.user.lastName}}</a>
      <span i18n="@@candidacyThumbnailCommunity"> whishes to join this community:</span>
    </p>

    <p *ngIf="communityCandidacy?.community != null && canApprove">
      <span i18n="@@candidacyThumbnailCommunityOwn">You asked to join the community </span>
      <a [routerLink]="['/communities', communityCandidacy.community.hash]">{{communityCandidacy.community.name}}</a>
    </p>

    <p *ngIf="projectCandidacy?.message" class="text-italic">"{{projectCandidacy.message}}"</p>
    <p *ngIf="communityCandidacy?.message" class="text-italic">"{{communityCandidacy.message}}"</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <div *ngIf="canApprove">
      <button mat-button  color="primary" (click)="removeCandidacy()" [disabled]="submitted">
        <ng-container i18n="@@discard">Discard</ng-container>
      </button>
      <button mat-raised-button color="primary" (click)="acceptCandidacy()" [disabled]="submitted">
        <ng-container i18n="@@accept">Accept</ng-container>
      </button>
    </div>
    <div *ngIf="canDiscard && !canApprove">
      <button mat-button color="primary" (click)="removeCandidacy()" [disabled]="submitted">
        <ng-container i18n="@@remove">Remove</ng-container>
      </button>
    </div>
  </mat-card-actions>

</mat-card>
