@import "../../../assets/theme";

#auth-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include if-smaller-device {
    flex-direction: column;
    align-items: center;
  }

  @include if-small-device {
    flex-direction: column;
    align-items: center;
  }

  > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;

    @include if-smaller-device {
      width: 100%;
    }

    @include if-small-device {
      width: 100%;
    }
  }
}

#logo{
  width: 150px;
}

#confirmation-logo {
  width: 150px;
  margin-bottom: 5em;
}

.registration-page > div, .registration-page > mat-card {
  width: 90vw;

  @include if-small-device {
    width: 320px;
  }

  @include media-breakpoint-small {
    width: 380px
  }
}

.authentication-card{
  transition: all .4s;
  margin-top: 42px;
  width: 90vw;

  h3 {
    padding: .5em;
  }
}

.credentials-inputs{
  display: flex;
  flex-direction: column;

  > mat-form-field, mat-checkbox {
    margin: .3em 1em;
  }

  .credentials-row {
    display: flex;
    flex-direction: row;
    margin: 0 12px;
    justify-content: space-between;

    mat-form-field {
      width: 48%;
    }
  }
}

.link-card {
  margin-top: 1em;
  transition: all .4s;
}

.error{
  margin-top: 10px;
  color: #E91E63;
  font-weight: bold;
}

.error-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 380px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 5px;
  background-color: #D32F2F;
  color: white;
  padding: 12px 24px;
  align-items: center;

  span {
    margin-left: 1em;
  }

  @include if-smaller-device {
    width: 280px;
  }

  @include if-small-device {
    width: 300px;
  }
}

.markdown {
  width: 80%;
}

h1 {
  font-family: "Quicksand", "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
}

.log-button {
  color: white;
  background: #388E3C;
  transition: all .4s;
  margin: 1em;

  &:hover{
    background: #2E7D32;
    transition: all .4s;
  }

  &:disabled {
      background: #E0E0E0 !important;
  }
}

.back-button {
  position: absolute;
  top: 24px;
  left: 24px;
  color: black;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

#loading-spinner {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  width: 100%;
}
