<div class="candidacies"
     *ngIf="projectCandidaciesFetched && communityCandidaciesFetched">

  <div *ngIf="projectCandidacies.length == 0
            && communityCandidacies.length == 0
            && displayNoneMessage"
       id="no-candidacy-messages">
    <h3 i18n="@@candidacyListNoCurrentCandidacy">No current candidacy</h3>
  </div>
  <h3 *ngIf="projectCandidacies?.length > 0 || communityCandidacies?.length > 0" i18n="@@candidacies">
    Candidacies
  </h3>

  <app-candidacy-thumbnail *ngFor="let candidacy of projectCandidacies"
                           [projectCandidacy]="candidacy"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onProjectCandidacyAccepted)="manageProjectCandidacy($event)"
                           (onProjectCandidacyRemoval)="manageProjectCandidacy($event)"></app-candidacy-thumbnail>

  <app-candidacy-thumbnail *ngFor="let candidacy of communityCandidacies"
                           [communityCandidacy]="candidacy"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onCommunityCandidacyAccepted)="manageCommunityCandidacy($event)"
                           (onCommunityCandidacyRemoval)="manageCommunityCandidacy($event)"></app-candidacy-thumbnail>
</div>
