@import "../../../assets/theme";

#job-input {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-small {
    flex-direction: row;
  }
}

mat-form-field {
  width: 100%;
}

/*
 * General information regarding the job
 */

#job-name-input{
  font-size: 1.3em;
}

#general-job-info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-small {
    width: 50%;
    padding-right: .5em;
  }
}

/*
 * job contact and holder
 */

#job-relations {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-small {
    width: 50%;
    padding-left: .5em;
  }
}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;

  > span {
    margin-left: 12px;
  }
}

#job-actions > button {
  margin: .5em;
}
