<h2 mat-dialog-title i18n="@@jobEditManage">Manage Job</h2>

<mat-dialog-content>

  <div id="job-input">

    <div id="general-job-info">

      <mat-form-field>
        <input
          matInput
          name="name"
          [disabled]="jobSubmitted"
          placeholder="Job name"
          i18n-placeholder="@@jobName"
          id="job-name-input"
          [(ngModel)]="jobDto.name"/>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="name"
          [disabled]="jobSubmitted"
          placeholder="Description"
          i18n-placeholder="@@description"
          [(ngModel)]="jobDto.description">
        </textarea>
      </mat-form-field>

      <treviz-chip-autocomplete
        placeholder="Specify the skills required to this job"
        i18n-placeholder="@@jobManageSkillsPlaceholder"
        [elements]="skills"
        [selectedElements]="jobDto.skills"
        (onSelectionUpdate)="setSkills($event)"></treviz-chip-autocomplete>

      <treviz-chip-autocomplete
        placeholder="Specify the domains this job is linked to."
        i18n-placeholder="@@jobManageDomainsPlaceholder"
        [elements]="tags"
        [selectedElements]="jobDto.tags"
        (onSelectionUpdate)="setTags($event)"></treviz-chip-autocomplete>

    </div>

    <div id="job-relations">

      <!-- Select task contact -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Contact"
                 i18n-placeholder="@@contact"
                 [matAutocomplete]="contactAutocomplete"
                 [formControl]="contactCtrl"
                 #name
                 (keyup.enter)="setContact(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #contactAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredContact"
                      [value]="user.username"
                      (click)="setContact(user.username)">
            <div class="user-option">
              <app-user-avatar-circle [small]="true" [user]="user"></app-user-avatar-circle>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="contact">
          <app-user-avatar-circle [small]="true" [user]="contact"></app-user-avatar-circle>
          <span>{{contact.username}}</span>
          <button mat-icon-button (click)="removeContact()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

      <!-- Select task holder -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Holder"
                 i18n-placeholder="@@holder"
                 [matAutocomplete]="holderAutocomplete"
                 [formControl]="holderCtrl"
                 #name
                 (keyup.enter)="setHolder(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #holderAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredHolder"
                      [value]="user.username"
                      (click)="setHolder(user.username)">
            <div class="user-option">
              <app-user-avatar-circle [small]="true" [user]="user"></app-user-avatar-circle>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="holder">
          <app-user-avatar-circle [small]="true" [user]="holder"></app-user-avatar-circle>
          <span>{{holder.username}}</span>
          <button mat-icon-button (click)="removeHolder()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="warn"
    (click)="onDelete()"
    [disabled]="jobSubmitted"
    i18n="@@jobDeleteUpdate">
    Delete Job
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="jobSubmitted"
    i18n="@@jobEditUpdate">
    Update Job
  </button>
</mat-dialog-actions>
