#document-list-container {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

#create-document {
  position: absolute;
  top: 24px;
  right: 24px;
}

#document-list {
  margin-top: 64px;
}

#no-documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}