<div id="document-list-container">

  <div
    *ngIf="!loading && documents.length > 0"
    id="document-list">
    <mat-accordion>
        <app-document-panel
          *ngFor="let document of documents"
          [document]="document"
          (onDocumentDelete)="removeDocument($event)"></app-document-panel>
    </mat-accordion>

    <button
      mat-button
      (click)="openDocumentUploadDialog()"
      id="create-document">
      <mat-icon>add</mat-icon>
      <span i18n="@@documentListCreate">Add a document</span>
    </button>
  </div>

  <div *ngIf="!loading && documents.length === 0" id="no-documents">
    <h3 i18n="@@documentListNoDoc">No document was found.</h3>
    <button
      mat-button
      (click)="openDocumentUploadDialog()"
      i18n="@@documentListCreate">
      Add a document
    </button>
  </div>

</div>
