<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

      <button mat-button class="back-button" (click)="goToLogin()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <ng-container i18n="@@forgotPasswordBackButton">Back to login</ng-container>
      </button>

      <img src="../../../assets/images/treviz-logo.png" id="logo">

    <div *ngIf="displayErrorMessage" class="error-card">
      <button mat-icon-button (click)="closeErrorMessage()"><mat-icon>clear</mat-icon></button>
      <span *ngIf="invalidEmail" i18n="@@forgotPasswordInvalidUser">
        We could not find this user
      </span>
      <span *ngIf="!invalidEmail" i18n="@@loginComponentGenericError">
        An error occurred, please try again later or contact the platform's administrator
      </span>
    </div>

      <mat-card *ngIf="!emailSent" class="authentication-card">
        <h3 i18n="@@forgotPasswordTitle">Forgotten password</h3>

        <form class="credentials-inputs" (submit)="sendResetRequest()">
          <mat-form-field>
            <input matInput required type="email" placeholder="email" i18n-placeholder="@@email" name="email" [(ngModel)]="email">
          </mat-form-field>

          <button mat-raised-button
                  type="submit"
                  [disabled]="isSubmitted"
                  class="log-button"
                  i18n="@@forgotPasswordSendEmail">Send</button>
        </form>
      </mat-card>

      <mat-card *ngIf="emailSent" class="authentication-card">
        <h3 i18n="@@forgotPasswordEmailSentSuccess">Email sent !</h3>
      </mat-card>
  </div>

  <div>
    <ngx-md path="../../assets/home.md" class="markdown"></ngx-md>
  </div>

</div>
