@import "../../../../assets/theme";

#idea-detail{
  display: flex;
  flex-direction: column;

  @include if-larger-device {
    flex-direction: row-reverse;
  }
}

#back-button{
  position: absolute;
  left: 24px;
  top: 24px;
}

#idea-author{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;

  h4 {
    margin-left: 1em;
  }
}

#idea-meta{
  padding: 24px;
  min-width: 300px;
  width: 100%;

  @include if-larger-device {
    margin-top: -24px;
    width: 40%;
  }
}

.idea-meta-header{
  display: flex;
  flex-direction: row;
  @include if-larger-device {
    justify-content: space-around;
  }
}

#forked-project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include if-smaller-device {
    flex-direction: column;
    justify-content: center;
  }

  @include if-small-device {
    flex-direction: column;
    justify-content: center;
  }
}

app-project-thumbnail{
  margin: 24px;
}

#idea-enhancements {
  width: 100%;
  padding: 24px;

  @include if-larger-device {
    width: 100%;
    padding-top: 48px;
  }
}
