<section id="idea-detail">

  <button mat-button (click)="goBackToSession()" id="back-button">
    <mat-icon>chevron_left</mat-icon>
    <ng-container i18n="@@brainstormingIdeaDetailBack">Go back to the session</ng-container>
  </button>

  <!-- Left column on large displays, bottom row in smaller: Idea content, projects forked, people who liked it.-->

  <div id="idea-meta">
    <div *ngIf="idea.author != null">
      <h2 i18n="@@author">Author</h2>
      <div id="idea-author">
        <app-user-avatar-circle [user]="idea.author" [small]="true"></app-user-avatar-circle>
        <h4><a [routerLink]="['/users', idea.author.username]">{{idea.author.firstName}} {{idea.author.lastName}}</a></h4>
      </div>
    </div>

    <div *ngIf="idea.documents != null">
      <div class="idea-meta-header">
        <h4 i18n="@@documents" *ngIf="idea.documents.length > 0; else noDocumentsTitle">Documents</h4>
        <ng-template #noDocumentsTitle>
            <h4 i18n="@@brainstormingIdeaNoDoc">No Documents</h4>
        </ng-template>
        <button mat-button (click)="openDocumentUploadDialog()" i18n="@@addDoc">Add a document</button>
      </div>
      <div *ngIf="idea.documents.length > 0">
        <app-document-panel *ngFor="let document of idea.documents" [document]="document"></app-document-panel>
      </div>
    </div>

    <div>
      <div class="idea-meta-header" *ngIf="idea.forked != null">
        <h4  *ngIf="idea.forked.length > 0; else noForkedProjectTitle" i18n="@@brainstormingIdeaForkedProjects">
          Forked projects
        </h4>
        <ng-template #noForkedProjectTitle>
          <h4 i18n="@@brainstormingIdeaNoForkedProject">No forked project</h4>
        </ng-template>
        <button
          mat-button
          [routerLink]="['/projects/create']"
          [queryParams]="{idea: idea.hash}" i18n="@@brainstormingIdeaLaunchProject">Launch a project</button>
      </div>
      <div id="forked-project-list" *ngIf="idea.forked.length > 0">
        <app-project-thumbnail *ngFor="let project of idea.forked" [project]="project"></app-project-thumbnail>
      </div>
    </div>
  </div>

  <div id="idea-enhancements">
    <h3 i18n="@@description">Description</h3>
    <ngx-md [data]="idea.content"></ngx-md>
    <div>
      <app-brainstorming-enhancement-list [idea]="idea"></app-brainstorming-enhancement-list>
    </div>
  </div>

</section>
