#post-list {
  display: flex;
  flex-direction: column;
}

#create-post{
  display: flex;
  flex-direction: column;
}

app-post{
  margin-top: 1em;
}

.load-spinner-tab{
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn-load-more {
  margin-top: 2em;
}
