<div *ngIf="!(loading  && firstLoad)" id="post-list">

  <mat-card id="create-post" *ngIf="canPost">
    <mat-form-field>
      <textarea
        matInput
        name="post"
        placeholder="Write a new post"
        i18n-placeholder="@@newPostPlaceholder"
        [disabled]="submitted"
        [(ngModel)] = "postDto.message"></textarea>
    </mat-form-field>
    <button mat-button (click)="publishPost()" [disabled]="submitted" i18n="@@publish">Publish</button>
  </mat-card>

  <app-post
    *ngFor="let post of posts"
    [post]="post"
    [showOrigin]="showOrigin"
    (onPostUpdate)="updatePost($event)"
    (onPostDelete)="removePost($event)"></app-post>

  <button
    id="btn-load-more"
    (click)="loadPosts(posts.length)"
    mat-button
    color="primary"
    *ngIf="posts.length % 10 === 0 && !loading && posts.length > 0"
    i18n="@@loadMore">
    Load more
  </button>

</div>

<div class="load-spinner-tab" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
