<mat-card class="invitation">

  <mat-card-content>
    <p>
      <span *ngIf="projectInvitation != null && !canApprove" i18n="@@invitationThumbnailProject">
        Invitation to join the
        <a [routerLink]="['/projects', projectInvitation.project.hash]">{{projectInvitation.project.name}}</a>
        project:
      </span>

      <span *ngIf="projectInvitation != null && canApprove" i18n="@@invitationThumbnailProjectOwn">
        You have been invited to join the
        <a [routerLink]="['/projects', projectInvitation.project.hash]">{{projectInvitation.project.name}}</a>
        project:
      </span>

      <span *ngIf="communityInvitation != null && !canApprove" i18n="@@invitationThumbnailCommunity">
        Invitation to join the
        <a [routerLink]="['/communities', communityInvitation.community.hash]">{{communityInvitation.community.name}}</a>
        community:
      </span>

      <span *ngIf="communityInvitation != null && canApprove" i18n="@@invitationThumbnailCommunityOwn">
        You have been invited to join the
        <a [routerLink]="['/communities', communityInvitation.community.hash]">{{communityInvitation.community.name}}</a>
        community:
      </span>
    </p>

    <p *ngIf="projectInvitation != null" class="text-italic">"{{projectInvitation.message}}"</p>
    <p *ngIf="communityInvitation != null" class="text-italic">"{{communityInvitation.message}}"</p>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="removeInvitation()" color="primary"  *ngIf="canDiscard" [disabled]="pending" i18n="@@decline">Decline</button>
    <button mat-raised-button (click)="acceptInvitation()" color="primary" *ngIf="canApprove" [disabled]="pending" i18n="@@accept">Accept</button>
  </mat-card-actions>

</mat-card>
