<h2 matDialogTitle i18n="@@documentUploadTitle">Upload a document</h2>

<mat-dialog-content class="file-upload-dialog">

  <form
    #uploadForm="ngForm"
    class="flex flex-column mb-1">

    <mat-form-field>
      <input matInput
             type="text"
             placeholder="Title"
             i18n-placeholder="@@title"
             name="doc-name"
             [(ngModel)]="documentDto.name">
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        i18n-placeholder="@@description"
        name="doc-name"
        [(ngModel)]="documentDto.description"></textarea>
    </mat-form-field>

    <strong i18n="@@documentUploadSelectFile">Select File (20MB max)</strong>

    <treviz-file-field
      [file]="documentDto.file"
      class="mt-1"
      (onFileDrop)="setFile($event)"></treviz-file-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          type="submit"
          color="primary"
          (click)="onSubmit()"
          [disabled]="!uploadForm.form.valid || documentDto.file == null || submitted" i18n="@@send">Send</button>
</mat-dialog-actions>
