<mat-card class="job-thumbnail">

  <a class="thumbnail-illustration" *ngIf="displayImage" [routerLink]="['/jobs', job.hash]">
    <img [src]="job?.project?.logoUrl" *ngIf="job?.project?.logoUrl" [alt]="job?.project.name">
    <div *ngIf="!job?.project.logoUrl"> {{job?.project.name}} </div>
  </a>

  <div class="p-1 spacer">
    <div class="flex">
      <div>
        <a class="subtitle" [routerLink]="['/projects', job.project.hash]">{{job.project.name}}</a>
        <h4><a [routerLink]="['/jobs', job.hash]">{{job.name}}</a></h4>
      </div>
      <div class="spacer"></div>
      <app-user-avatar-circle *ngIf="job.holder != null"
                              [user]="job.holder"
                              [small]="true"
                              [matTooltip]="job.holder.username"
                              matTooltipPosition="after"></app-user-avatar-circle>
    </div>

    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags">{{tag}}</mat-chip>
        <mat-chip *ngIf="nbRemainingTags > 0">+{{nbRemainingTags}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

</mat-card>
