@import "~assets/theme.scss";

.job-thumbnail {
  width: 350px;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include media-breakpoint-small {
    width: 100%;
    height: 150px;
    flex-direction: row;
    align-items: center;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-illustration {
  height: 200px;

  @include media-breakpoint-small {
    height: 100%;
    width: 200px;
  }

  div {
    background-color: #00897B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
  }
}


a {
  text-decoration: none;
  color: $grey900;
}

