<mat-form-field>
  <input matInput placeholder="Role name" i18n-placeholder="@@roleName" [(ngModel)]="role.name">
</mat-form-field>

<section>
  <mat-checkbox [(ngModel)]="role.defaultMember" [disabled]="role.global">
    <span class="permission-description" i18n="@@communityRoleManagementDefaultRole">
      Default role for any new member of the community ?
    </span>
  </mat-checkbox>

</section>

<mat-divider></mat-divider>

<section>

    <ng-container i18n="@@communityRoleManagementDescription">
        Specify the rights of the various roles you can give to the members of this community.
    </ng-container>

  <div>
    <h3 i18n="@@communityRoleManagementCommunity">
      Community
    </h3>

    <mat-checkbox [(ngModel)]="permissions.UPDATE_COMMUNITY" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanUpdateCommunity">
        Can update the community (skills, tags, description, logo...)
      </span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.DELETE_COMMUNITY" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanDeleteCommunity">
        Can delete the community (this action cannot be undone)
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementMemberships">Memberships</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_MEMBERSHIP" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanUpdateRoles">
        Can update the roles of the members, remove them from the community.
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementRoles">Roles</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_ROLE" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanCreateRoles">
        Can create new roles, update those already existing, and remove the unnecessary ones.
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementCandidacies">Candidacies</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_CANDIDACIES" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanManageCandidacies">
        Can see users who candidates to the community, accept or deny them.
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementInvitations">Invitations</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_INVITATIONS" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanInvite">
        Can invite users to take part in this community, or remove existing invitations
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementPosts">Posts</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_POST" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanManagePosts">
        Can moderate, delete the posts of this community.
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementDocuments">Documents</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_DOCUMENT" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanManageDocuments">
        Can moderate, delete the documents of this community.
      </span>
    </mat-checkbox>
  </div>

  <div>
    <h3 i18n="@@communityRoleManagementBrainstormings">Brainstorming</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_BRAINSTORMING_SESSION" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanManageBrainstormings">
        Can create, update, close brainstorming sessions for this community.
      </span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_BRAINSTORMING_IDEAS" [disabled]="role.global">
      <span class="permission-description" i18n="@@communityRoleManagementCanManageIdeas">
        Can manage the ideas and enhancements made in brainstorming sessions.
      </span>
    </mat-checkbox>
  </div>

  <div class="flex mt-1">
    <div class="spacer"></div>

    <button
      mat-raised-button
      color="warn"
      (click)="onDelete()"
      [disabled]="role.global || submitted">
      <mat-icon>delete</mat-icon>
      <ng-container i18n="@@delete">Delete</ng-container>
    </button>

    <button
      mat-raised-button
      color="primary"
      class="ml-1"
      (click)="onSubmit()"
      [disabled]="submitted || role.global">
      <mat-icon>check</mat-icon>
      <ng-container i18n="@@communityRoleManagementUpdateButton">Save changes</ng-container>
    </button>
  </div>

</section>
