.column-list {
  display: flex;
  flex-direction: row;
}

app-column {
  margin: 24px 24px 24px 0;
}

.new-column {
  margin: 24px 24px 24px 0;
  width: 250px;
  padding: 6px 18px;
  height: 75px;

  > mat-form-field {
    width: 100%;
  }
}

.loading {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
