<div id="task-detail">

  <form (submit)="onSubmit()">

    <div id="task-input">
      <div id="task-general-info">

        <mat-form-field *ngIf="edit.name; else elseName">
          <input matInput name="name" type="text" placeholder="Task" i18n-placeholder="@@task" [(ngModel)]="taskDto.name"/>
        </mat-form-field>
        <ng-template #elseName>
          <div (click)="editTask('name')" class="task-element" [class.updatable]="canEdit">
            <h3>
              {{taskDto.name}}
            </h3>
          </div>
        </ng-template>

        <mat-form-field *ngIf="edit.description; else elseDescription">
          <textarea matInput name="description" [(ngModel)]="taskDto.description" placeholder="Task description" i18n-placeholder="@@taskDescription"></textarea>
        </mat-form-field>
        <ng-template #elseDescription>
          <div (click)="editTask('description')" class="task-element" [class.updatable]="canEdit">
            <h4 i18n="@@taskDetailDescription">Description: </h4>
            <ngx-md *ngIf="task.description; else noDescription">
              {{taskDto.description}}
            </ngx-md>
            <ng-template #noDescription i18n="@@taskDetailAddDescription">
              Add a description
            </ng-template>
          </div>
        </ng-template>

        <mat-form-field *ngIf="edit.deadline; else elseDeadline">
          <input matInput [matDatepicker]="myDatepicker" name="deadline" placeholder="Deadline" i18n-placeholder="@@deadline" [(ngModel)]="taskDto.deadline">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <ng-template #elseDeadline>
          <div (click)="editTask('deadline')" class="task-element" [class.updatable]="canEdit">
            <h4 i18n="@@taskDetailDeadline">Deadline: </h4>
            <span *ngIf="task.deadline; else noDeadline">
            {{taskDto.deadline | date}}
            </span>
            <ng-template #noDeadline i18n="@@taskDetailAddDeadline">
              Add a deadline
            </ng-template>
          </div>
        </ng-template>
      </div>

      <div id="task-relations">

        <!-- Select task supervisor -->
        <div *ngIf="edit.supervisor; else elseSupervisor">
          <label i18n="@@taskDetailSelectTaskSupervisor">Select task supervisor</label>
          <mat-form-field>
            <input matInput
                   placeholder="Supervisor"
                   i18n-placeholder="@@supervisor"
                   [matAutocomplete]="supervisorAutocomplete"
                   [formControl]="supervisorCtrl"
                   #name
                   (keyup.enter)="setSupervisor(name.value); name.value = ''">
          </mat-form-field>
          <mat-autocomplete #supervisorAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of filteredSupervisor"
                        [value]="user.username"
                        (click)="setSupervisor(user.username)">
              <div class="user-option">
                <div class="image-cropper">
                  <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl" alt="avatar">
                  <img [src]="user.avatarUrl" *ngIf="user.avatarUrl" alt="avatar">
                </div>
                <span>{{user.username}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="user-option" *ngIf="supervisor">
            <div class="image-cropper">
              <img src="../../../../assets/images/profile.svg" *ngIf="!supervisor.avatarUrl" alt="avatar">
              <img [src]="supervisor.avatarUrl" *ngIf="supervisor.avatarUrl" alt="avatar">
            </div>
            <span>{{supervisor.username}}</span>
            <button mat-icon-button (click)="removeSupervisor()"><mat-icon>clear</mat-icon></button>
          </div>
        </div>
        <ng-template #elseSupervisor>
          <div (click)="editTask('supervisor')" class="task-element" [class.updatable]="canEdit">
            <h3 i18n="@@taskDetailSupervisor">Supervisor</h3>
            <div *ngIf="supervisor; else noSupervisor" class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!supervisor.avatarUrl" alt="avatar">
                <img [src]="supervisor.avatarUrl" *ngIf="supervisor.avatarUrl" alt="avatar">
              </div>
              <span>{{supervisor.username}}</span>
            </div>
            <ng-template #noSupervisor i18n="@@taskDetailSelectSupervisor">
              Select a supervisor
            </ng-template>
          </div>
        </ng-template>

        <!-- Select task assignee -->
        <div *ngIf="edit.assignee; else elseAssignee">
          <label i18n="@@taskDetailSelectTaskAssignee">Select task assignee</label>
          <mat-form-field>
            <input matInput
                   placeholder="Assignee"
                   i18n-placeholder="@@assignee"
                   [matAutocomplete]="assigneeAutocomplete"
                   [formControl]="assigneeCtrl"
                   #name
                   (keyup.enter)="setAssignee(name.value); name.value = ''">
          </mat-form-field>
          <mat-autocomplete #assigneeAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of filteredAssignee"
                        [value]="user.username"
                        (click)="setAssignee(user.username)">
              <div class="user-option">
                <div class="image-cropper">
                  <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl" alt="avatar">
                  <img [src]="user.avatarUrl" *ngIf="user.avatarUrl" alt="avatar">
                </div>
                <span>{{user.username}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="user-option" *ngIf="assignee">
            <div class="image-cropper">
              <img src="../../../../assets/images/profile.svg" *ngIf="!assignee.avatarUrl" alt="avatar">
              <img [src]="assignee.avatarUrl" *ngIf="assignee.avatarUrl" alt="avatar">
            </div>
            <span>{{assignee.username}}</span>
            <button mat-icon-button (click)="removeAssignee()"><mat-icon>clear</mat-icon></button>
          </div>
        </div>
        <ng-template #elseAssignee>
          <div (click)="editTask('assignee')" class="task-element" [class.updatable]="canEdit">
            <h3 i18n="@@taskDetailAssignee">Assignee</h3>
            <div *ngIf="assignee; else noAssignee" class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!assignee.avatarUrl" alt="avatar">
                <img [src]="assignee.avatarUrl" *ngIf="assignee.avatarUrl" alt="avatar">
              </div>
              <span>{{assignee.username}}</span>
            </div>
            <ng-template #noAssignee i18n="@@taskDetailSelectAssignee">
              Select an assignee
            </ng-template>
          </div>
        </ng-template>

        <!-- Select task labels -->
        <div>
          <h3 i18n="@@taskDetailLabels">Labels</h3>
          <mat-chip-list *ngIf="edit.labels; else elseLabels">
            <mat-chip *ngFor="let label of labels"
                  class="label"
                  [ngStyle]="{'background-color': label.color}"
                  (click)="triggerLabelSelect(label)">
              {{label.name}}
              <mat-icon *ngIf="isSelectedLabel(label)">check</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <ng-template #elseLabels>
            <div (click)="editTask('labels')" class="task-element" [class.updatable]="canEdit">
              <mat-chip-list *ngIf="task.labels.length > 0; else noLabel">
                <mat-chip class="label" *ngFor="let label of task.labels" [ngStyle]="{'background-color': label.color}">
                  {{label.name}}
                </mat-chip>
              </mat-chip-list>
              <ng-template #noLabel i18n="@@taskDetailSelectLabels">
                Select labels
              </ng-template>
            </div>
          </ng-template>
        </div>

      </div>
    </div>

    <button *ngIf="canDelete && !task.pendingApproval"
            mat-raised-button
            color="warn"
            type="button"
            [disabled]="taskSubmitted"
            (click)="deleteTask()"
            i18n="@@taskDetailDelete">
      Delete
    </button>
    <button *ngIf="canDelete && !task.pendingApproval"
            mat-button
            type="button"
            [disabled]="taskSubmitted"
            (click)="archiveTask()" color="primary" i18n="@@taskDetailArchive">
      Archive
    </button>
    <button *ngIf="canSubmit"
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="taskSubmitted"
            (click)="submitForApproval()" i18n="@@taskDetailSubmit">
      Submit for approval
    </button>
    <button *ngIf="task.pendingApproval && !canEdit"
            mat-button
            type="button"
            disabled
            i18n="@@taskDetailSubmittedForApproval">
      Task submitted for approval
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="taskSubmitted"
      *ngIf="pendingUpdate()"
      i18n="@@taskDetailUpdate">
      Update Task
    </button>

  </form>

  <form *ngIf="task.pendingApproval && canDelete" id="task-feedback">
    <h3 i18n="@@taskDetailSubmittedForApproval">Task submitted for approval</h3>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Send feedback alongside your decision"
        i18n-placeholder="@@taskDetailSendFeedbackPlaceholder"
        name="feedback" [(ngModel)]="feedback.feedback" required>
      </textarea>
    </mat-form-field>
    <div class="flex flex-column flex-md-row">
      <button mat-button type="submit" [disabled]="taskSubmitted || feedback.feedback == null" *ngIf="canEdit"
              id="dismiss-button" (click)="dismissSubmission()"
              i18n="@@taskDetailSubmittedDismiss">
        Dismiss the submission
      </button>
      <button
        mat-button
        type="submit"
        [disabled]="taskSubmitted || feedback.feedback == null"
        *ngIf="canEdit"
        color="primary"
        (click)="approveTask(false)"
        i18n="@@taskDetailSubmittedApprove">
        Approve the task
      </button>
      <button
        mat-button
        type="submit"
        [disabled]="taskSubmitted || feedback.feedback == null"
        *ngIf="canEdit"
        color="accent"
        (click)="approveTask(true)">
        <mat-icon>start</mat-icon>
        <ng-container i18n="@@taskDetailSubmittedPraise">Approve and praise</ng-container>
      </button>
    </div>
  </form>

  <app-post-list [task]="task"></app-post-list>

</div>
