@import "../../../../assets/theme";

#task-detail{
  width: 800px;
  max-height: 80vh;

  @include if-smaller-device {
    width: 300px;
  }

  @include if-small-device {
    width: 400px;
  }

  @include if-medium-device {
    width: 600px;
  }
}

#task-input {
  display: flex;
  flex-direction: row;

  @include if-smaller-device {
    flex-direction: column;
  }

  @include if-small-device {
    flex-direction: column;
  }

  @include if-medium-device {
    flex-direction: column;
  }
}

#task-general-info {
  padding: 12px;
  display: flex;
  flex-direction: column;

  min-width: 60%;
}

#task-relations {
  padding: 12px;
  display: flex;
  flex-direction: column;

  min-width: 40%;
}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;

  > span {
    margin-left: 12px;
  }
}

.image-cropper{
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}

.task-element {
  padding: 6px;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.updatable{
  &:hover {
    cursor: pointer;
    background-color: #E0E0E0;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }
}

.label {
  color: white;
  transition: all .2s ease-in-out;
}

label {
  display: block;
}

#task-feedback {
  display: flex;
  flex-direction: column;

  button {
    margin: 6px;
  }

}

button {
  margin-right: 1em;
}

form {
  margin-bottom: 1em;
}
