<div id="job-detail" *ngIf="jobFetched; else loading">

  <div id="job-intrinsic" *ngIf="job">
    <div>
      <div id="job-action">
        <h1>{{job.name}}</h1>
        <button mat-raised-button *ngIf="userCandidacy" (click)="removeCandidacy()">
          <ng-container i18n="@@jobDetailDeleteApplication">Delete application</ng-container>
        </button>
        <button mat-raised-button *ngIf="!userCandidacy && !canEdit && !isHolder" (click)="openCandidacyDialog()">
          <ng-container i18n="@@jobDetailApply">Apply to job</ng-container>
        </button>
        <button mat-raised-button color="warn" *ngIf="isHolder" (click)="quitJob()">
          <ng-container i18n="@@jobDetailQuit">Quit</ng-container>
        </button>
        <button mat-raised-button *ngIf="canEdit" (click)="openJobManagementDialog()">
          <ng-container i18n="@@jobDetailManage">Manage job</ng-container>
        </button>
      </div>
      <ngx-md [data]="job.description"></ngx-md>
    </div>

    <div *ngIf="job.skills.length > 0">
      <h3 i18n="@@jobDetailSkills">Skills</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of job.skills">{{skill.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <div *ngIf="job.tags.length > 0">
      <h3 i18n="@@jobDetailTags">Tags</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of job.tags">{{tag.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <app-post-list [job]="job"></app-post-list>

  </div>

  <div id="job-relations">
    <div *ngIf="job.contact">
      <h3 i18n="@@jobDetailContact">Contact</h3>
      <div class="user-display">
        <app-user-avatar-circle [user]="job.contact"></app-user-avatar-circle>
        <a [routerLink]="['/users', job.contact.username]">{{job.contact.firstName}} {{job.contact.lastName}}</a>
      </div>
    </div>

    <div *ngIf="job.holder">
      <h3 i18n="@@jobDetailJobHolder">Job Holder</h3>
      <div class="user-display">
        <app-user-avatar-circle [user]="job.holder"></app-user-avatar-circle>
        <a [routerLink]="['/users', job.holder.username]">{{job.holder.firstName}} {{job.holder.lastName}}</a>
      </div>
    </div>

    <div *ngIf="job.project">
      <h3 i18n="@@jobDetailProject">Project</h3>
      <app-project-thumbnail [project]="job.project"></app-project-thumbnail>
    </div>

    <div *ngIf="job.tasks.length > 0">
      <h3 i18n="@@jobDetailTasks">Tasks</h3>
      <div id="task-list">
        <app-task *ngFor="let task of job.tasks" [task]="task"></app-task>
      </div>
    </div>

    <div *ngIf="job.nbApplications > 0 && canEdit">
      <app-candidacy-thumbnail-list
        [job]="job"
        [canApprove]="canEdit"
        [canDiscard]="canEdit"
        (onCandidacyAccepted)="fetchData()"></app-candidacy-thumbnail-list>
    </div>
  </div>

</div>

<ng-template #loading>
  <div class="load-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
