@import '../../../assets/theme';

/*
 * On large screens, display information in two columns: on the left, intrinsic project properties. On the right, relationships.
 */

#job-detail{
  display: flex;
  flex-direction: column;

  @include if-large-device {
    flex-direction: row;
  }

  @include if-larger-device {
    flex-direction: row;
  }
}

#job-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#job-intrinsic {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include if-large-device {
    width: 70%;
  }

  @include if-larger-device {
    width: 70%;
  }
}

app-post-list {
  margin-top: 24px;
}

#job-relations{
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include if-large-device {
    width: 30%;
  }

  @include if-larger-device {
    width: 30%;
  }
}

.user-display {
  display: flex;
  flex-direction: row;
  align-items: center;

  > a {
    margin-left: 12px;
    color: #1F1F1F;
    font-size: 1.3em;
  }
}

#task-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > app-task {
    margin: 6px;
  }
}
