<div *ngIf="community !== undefined">

  <!--Display community brainstorming sessions if a community is given -->
  <app-brainstorming-sessions-list *ngIf="selectedIdea === undefined && selectedSession === undefined && community !== undefined"
                                   [community]="community"
                                   [userMembership]="userMembership"
                                   (onSessionSelection)="selectSession($event)"></app-brainstorming-sessions-list>

  <!-- When a brainstorming session is selected, show its details -->

  <app-brainstorming-session-detail *ngIf="selectedIdea === undefined && selectedSession !== undefined"
                                    [session]="selectedSession"
                                    (onSessionUnselect)="unSelectSession()"
                                    (onSessionUpdate)="updateSession($event)"></app-brainstorming-session-detail>

</div>
