<mat-progress-bar mode="indeterminate" *ngIf="displayProgressBar"></mat-progress-bar>

<div>

  <!-- DISPLAY FILTERS -->

  <div id="search-filters">

    <treviz-filter-component
      placeholder="Search a user"
      i18n-placeholder="@@searchUser"
      [displayFiltersOnLargeScreens]="true"
      (onFiltersUpdate)="search($event)"></treviz-filter-component>

    <treviz-chip-autocomplete
      placeholder="Filter by organization"
      i18n-placeholder="@@filterByOrg"
      [elements]="organizations"
      [selectedElements]="params.organization.length > 0 ? [params.organization] : []"
      (onSelectionUpdate)="selectOrganization($event)">
    </treviz-chip-autocomplete>

  </div>

  <!-- USERS TO DISPLAY -->

  <div id="search-results">

    <app-user-thumbnail *ngFor="let user of users"
                        [user]="user"
                        class="mb-1"></app-user-thumbnail>

    <h2 *ngIf="users.length == 0 && !displayProgressBar" i18n="@@userListNoUser">No user could be found for your query</h2>

    <button mat-button
            color="primary"
            (click)="getUsers()"
            class="load-more-button"
            *ngIf="moreToLoad"
            [disabled]="displayProgressBar" i18n="@@loadMore">Load More</button>

  </div>

</div>
