@import "~assets/theme.scss";

app-user-thumbnail, mat-form-field, button {
  width: 100%;
}

#search-filters {
  padding: 1em;

  @include media-breakpoint-medium {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
  }
}

#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  @include media-breakpoint-medium {
    width: calc(100vw - 420px);
  }
}
