<form (submit)="onSubmit()">

  <mat-form-field>
    <textarea matInput
              matAutosizeMinRows="4"
              [(ngModel)]="message"
              name="message"
              placeholder="Send a message alongside your candidacy"
              i18n-placeholder="@@candidacyDialogMessagePlaceholder">

    </textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="submitted"
    i18n="@@candidacyDialogSubmit">Submit Candidacy</button>

</form>
