#brainstorming-section{
  margin: 24px;
}

header {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

app-brainstorming-idea-list {
  width: 100%;
  margin: 24px;
}

