<section id="brainstorming-section">

  <div *ngIf="selectedIdea === undefined">
    <button
      mat-button
      (click)="goBack()">
      <mat-icon>chevron_left</mat-icon>
      <ng-container i18n="@@brainstormingSessionDetailBack">Back to sessions</ng-container>
    </button>

    <button
      mat-icon-button
      class="float-right"
      *ngIf="canEdit"
      (click)="editSession()">
      <mat-icon>edit</mat-icon>
    </button>
    <header>
      <h3>{{session.name}}</h3>
      <p>{{session.description}}</p>
    </header>

    <app-brainstorming-idea-list
      [session]="session"
      (onIdeaSelect)="selectIdea($event)">
    </app-brainstorming-idea-list>
  </div>

  <app-brainstorming-idea-detail *ngIf="selectedIdea !== undefined"
                                 [idea]="selectedIdea"
                                 (onIdeaUnselect)="unselectIdea()"></app-brainstorming-idea-detail>

</section>
