<mat-card>
  <mat-card-header>
    <h3 mat-card-title>{{session.name}}</h3>
    <p mat-card-subtitle>{{session.description}}</p>
  </mat-card-header>

  <div class="mat-card-thumbnail-footer">
    <span>
      <ng-container *ngIf="session.isOpen ; else sessionClosed">
        <mat-icon>lock_open</mat-icon>
        <span i18n="@@BrainstormingSessionCardOpen">Open</span>
      </ng-container>
      <ng-template #sessionClosed>
        <mat-icon>lock</mat-icon>
        <span i18n="@@BrainstormingSessionCardClosed">Closed</span>
      </ng-template>
    </span>

    <span>
      <img src="../../../../assets/icons/light_bulb.svg" alt="ideas">
      <span [ngPlural]="session.nbIdeas">
        <ng-template ngPluralCase="=0" i18n="@@BrainstormingSessionCardNoIdeas">No idea</ng-template>
        <ng-template ngPluralCase="=@" i18n="@@BrainstormingSessionCardOneIdea">1 idea</ng-template>
        <ng-template ngPluralCase="other" i18n="@@BrainstormingSessionCardIdeas">{{session.nbIdeas}} ideas</ng-template>
      </span>
    </span>
  </div>
</mat-card>
