<mat-progress-bar
  mode="indeterminate"
  *ngIf="!personalProjectsFetched || !projectsFetched"
  class="top-progress-bar"></mat-progress-bar>

<div class="flex align-items-center p-1">
  <h3 i18n="@@projects">Projects</h3>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" routerLink="/projects/create">
    <mat-icon>add</mat-icon>
    <span i18n="@@newProject">New project</span>
  </button>
</div>

<ng-container *ngIf="personalProjectsFetched">
  <!-- Display the projects the user takes part in -->
  <mat-tab-group *ngIf="personalProjects?.length > 0; else availableProjects">
    <mat-tab label="My Projects" i18n-label="@@projectListMyProjects">
      <section *ngIf="personalProjects?.length > 0">
        <div class="project-thumbnail-list">
          <app-project-thumbnail *ngFor="let project of personalProjects" [project]="project"></app-project-thumbnail>
        </div>
      </section>
    </mat-tab>

    <mat-tab label="Explore all projects" i18n-label="@@projectListAvailableProjects">
      <!-- Display the projects available to the user -->
      <ng-container [ngTemplateOutlet]="availableProjects"></ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #availableProjects>
  <section class="flex flex-column">
    <treviz-filter-component
      placeholder="Search a project"
      i18n-placeholder="@@searchProjectByName"
      class="p-1"
      [displayFiltersOnLargeScreens]="false"
      (onFiltersUpdate)="search($event)"></treviz-filter-component>

    <div class="project-thumbnail-list" *ngIf="projects.length > 0">
      <app-project-thumbnail *ngFor="let project of projects" [project]="project"></app-project-thumbnail>
    </div>

    <div *ngIf="projectsFetched && projects.length === 0" id="no-project">
      <h2 i18n="@@projectListNoProjects">No project was found.</h2>
      <button mat-button routerLink="/projects/create">
        <mat-icon>add</mat-icon>
        <ng-container i18n="@@projectListCreateOne">Create One</ng-container>
      </button>
    </div>

    <button mat-button
            color="primary"
            (click)="loadMore()"
            class="load-more-button" *ngIf="projectsFetched && moreToLoad">
      <ng-container i18n="@@loadMore">Load more</ng-container>
    </button>
  </section>
</ng-template>
