@import "../../../assets/theme";

.section-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;

  button {
    margin-left: 24px;
  }
}

.load-more-button {
  width: 100%;
  margin: 10px auto;
}

#no-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(50vh - 280px);
}
