<div id="home" *ngIf="!(currentUserService.loading | async).loadingUser; else loadingUser">

  <div id="first-column">
    <h3 i18n="@@homeSupervisedNewsTitle">News</h3>
    <app-post-list [showOrigin]="true"></app-post-list>
  </div>

  <div id="second-column">
    <div id="invitations">
      <app-invitation-thumbnail-list [user]="currentUserService.getCurrentUser()"
                                     [canApprove]="true"
                                     [canDiscard]="true"
                                     [displayNoneMessage]="false"></app-invitation-thumbnail-list>
    </div>

    <div id="candidacies">
      <app-candidacy-thumbnail-list [user]="currentUserService.getCurrentUser()"
                                    [canDiscard]="true"
                                    [displayNoneMessage]="false"></app-candidacy-thumbnail-list>
    </div>


    <h3 [ngPlural]="tasks.length" *ngIf="tasksFetched && tasks.length > 0">
      <ng-template ngPluralCase="=0"></ng-template>
      <ng-template ngPluralCase="=1" i18n="@@homeAffectedTasksSingle">You have 1 affected task</ng-template>
      <ng-template ngPluralCase="other" i18n="@@homeAffectedTasksPlural">You have {{tasks.length}} affected tasks</ng-template>
    </h3>
    <div class="tasks" *ngIf="tasksFetched">
      <mat-card *ngFor="let task of tasks.slice(0, 10)">
        <app-task [task]="task"></app-task>
      </mat-card>
    </div>

    <h3 *ngIf="supervisedTasksLoaded && supervisedTasks.length > 0" i18n="@@homeSupervisedTasksTitle">Supervised Tasks</h3>
    <div class="tasks" *ngIf="tasksFetched">
      <mat-card *ngFor="let task of supervisedTasks.slice(0, 10)">
        <app-task [task]="task" (onTaskUpdate)="updateTask($event)" (onTaskDelete)="deleteTask($event)"></app-task>
      </mat-card>
    </div>

  </div>

</div>

<ng-template #loadingUser>
  <div class="load-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
