@import "../../assets/theme";

#home {
  display: flex;
  flex-direction: row;

  @include if-smaller-device {
    flex-direction: column-reverse;
  }
  @include if-small-device {
    flex-direction: column-reverse;
  }
  @include if-medium-device {
    flex-direction: column-reverse;
  }

  @include media-breakpoint-small {
    padding: 24px;
  }
}

#first-column {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#second-column {
  padding: 0 1em;

  @include if-large-device {
    width: 300px;
  }

  @include if-larger-device {
    width: 550px;
  }
}



.tasks {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  @include media-breakpoint-small {
    flex-wrap: wrap;
  }

  > mat-card {
    padding: 0;
    width: 250px;
    flex-shrink: 0;
    margin-bottom: .5em;
    margin-right: 1em;

    @include media-breakpoint-small {
      margin-bottom: 1em;
      margin-right: 0.5em;
    }
  }
}
