<mat-dialog-content id="welcome-dialog">
    <header>
        <div id="bar"></div>
        <h1 i18n="@@welcomeHomeDialogTitle">Welcome, {{getUserFullName()}}</h1>
    </header>

    <section>
        <p i18n="@@welcomeHomeDialogMessage">
          Thank you for joining Treviz ! Here is a few things you can do on the platform.
        </p>
        <div id="actions">
            <div>
                <img src="../../assets/icons/profile.svg" alt="Profile">
                <h3 i18n="@@welcomeHomeDialogCompleteProfileHeader">
                  Complete your profile
                </h3>
                <p i18n="@@welcomeHomeDialogCompleteProfileMessage">
                  and let other people know what you want to work on
                </p>
            </div>
            <div>
                <img src="../../assets/icons/group.svg" alt="Profile">
                <h3 i18n="@@welcomeHomeDialogJoinCommunityHeader">
                  Join a community
                </h3>
                <p i18n="@@welcomeHomeDialogJoinCommunityMessage">
                  and start brainstorming about various subjects
                </p>
            </div>
            <div>
                <img src="../../assets/icons/work.svg" alt="Profile">
                <h3 i18n="@@welcomeHomeDialogJoinProjectHeader">
                  Take part in a project
                </h3>
                <p i18n="@@welcomeHomeDialogJoinProjectMessage">
                  or build a team around a new one and do valuable work
                </p>
            </div>
        </div>
    </section>

    <section i18n="@@welcomeHomeDialogBetaWarning">
        PS: We are still currently in beta, so do not hesitate to contact us at bastien@treviz.xyz
        if you encounter any bug, or if you feel a feature is missing ;)
    </section>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-checkbox [(ngModel)]="displayOnStartup" i18n="@@welcomeHomeDialogShowOnStartup">
    Show on start up
  </mat-checkbox>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="submitted"
    i18n="@@welcomeHomeDialogGotIt">
    Got it!
  </button>
</mat-dialog-actions>
