@import "../../assets/theme";

#welcome-dialog {
  width: 100vw;

  @include media-breakpoint-small {
    max-width: 860px;
  }
}

header {
    margin: 1em 2em;
    text-align: center;
}

section {
    margin: 2em;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;

  @include media-breakpoint-small {
    flex-direction: row;
  }

    div {
        text-align: center;

        img {
            height: 100px;
        }

        h3 {
            margin-bottom: 0;
        }

        p {
            width: 75%;
            margin: .5em auto 0;
        }
    }
}

#bar {
    height: .5em;
    background: linear-gradient(90deg, #DF4E85, #886BC7);
    border-radius: .25em;
    width: 250px;
    margin: auto;
}
