@import "~assets/theme.scss";

#no-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
app-job-thumbnail {
  margin: auto;

  @include media-breakpoint-small {
    width: 100%;
  }
}
