<div *ngIf="jobsFetched; else loading" class="p-1">

  <header class="flex align-items-center">
    <h3>Jobs</h3>
    <div class="spacer"></div>
    <button
      mat-button
      (click)="openNewJobDialog()"
      *ngIf="project && displayCreateButton">
      <mat-icon>add</mat-icon>
      <span i18n="@@jobTListCreateJob">Create job</span>
    </button>
  </header>
  <div *ngIf="jobs.length > 0; else noJobs">

    <div class="flex flex-column align-items-center">
      <app-job-thumbnail *ngFor="let job of jobs"
                         [displayImage]="project == null"
                         [job]="job"
                         class="mb-1"></app-job-thumbnail>
    </div>

    <button mat-button *ngIf="moreToLoad" (click)="loadJobs()" i18n="@@loadMore">Load More</button>
  </div>

  <ng-template #noJobs>
    <div id="no-jobs">
      <h3 i18n="@@jobListNone">No job was found</h3>
      <button mat-button (click)="openNewJobDialog()" *ngIf="project && displayCreateButton">
        <ng-container i18n="@@jobListCreate">Create a job</ng-container>
      </button>
    </div>
  </ng-template>

</div>
<ng-template #loading>
  <div id="loading">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</ng-template>
