@import "../../assets/theme";

.boards-content{
  margin: 24px;

  section {

    .section-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 24px;

      .spacer {
        flex: 1 1 auto;
      }

      button {
        margin-left: 24px;
        background: #E0E0E0;
      }
    }

    .project-boards {
      margin: 24px;

      .project-boards-list {
        h4 {
          color: #424242;
        }
      }
    }
  }

}

.no-content {
    text-align: center;
    margin-top: calc(50vh - 33px) !important;
    transform: translateY(-50%);
}

.hidden {
  opacity: 0;
}
