<mat-progress-bar mode="indeterminate"
    *ngIf="!(boardsFetched && personalBoardsFetched)
         || (selectedElement != null && !selectedElementBoardsFetched)">
</mat-progress-bar>

<div class="boards-content" *ngIf="selectedElement == null">

    <section *ngIf="personalBoardsFetched && !query && groupedPersonalBoards.length > 0">
      <section class="section-head">
        <h2 i18n="@@boardsComponentTitle">My Boards</h2>
        <div class="spacer"></div>

        <button mat-icon-button
                (click)="openSearchDialog()"
                class="toggleBoardSearch">
          <mat-icon>search</mat-icon>
        </button>
      </section>
        <div *ngFor="let projectBoards of groupedPersonalBoards" class="project-boards">
            <h3><a [routerLink]="['/projects', projectBoards.project.hash]">{{projectBoards.project.name}}</a></h3>
            <div *ngFor="let board of projectBoards.boards" class="project-boards-list">
                <h4>{{board.name}}</h4>
                <app-board [board]="board"></app-board>
            </div>
        </div>
    </section>

    <section *ngIf="boardsFetched  && groupedBoards.length > 0">
        <div class="section-head">
          <h2 i18n="@@boardsComponentAvailableBoards">Available Boards</h2>
        </div>
        <div *ngFor="let projectBoards of groupedBoards" class="project-boards">
            <h3><a [routerLink]="['/projects', projectBoards.project.hash]">{{projectBoards.project.name}}</a></h3>
            <div *ngFor="let board of projectBoards.boards" class="project-boards-list">
                <h4>{{board.name}}</h4>
                <app-board [board]="board"></app-board>
            </div>
        </div>
    </section>

    <h2 class="no-content"
        *ngIf="boardsFetched &&
        personalBoardsFetched &&
        groupedBoards.length === 0 &&
        groupedPersonalBoards.length === 0"
        i18n="@@boardsComponentNothingFound">No board could be found.</h2>
</div>

<div class="boards-content" *ngIf="selectedElement != null">
    <section *ngIf="selectedElementBoardsFetched && selectedElement.boards.length != 0">
      <div class="section-head">
        <h2 *ngIf="selectedElement.project != null" i18n="@@boardsComponentProjectsBoards">{{selectedElement.project.name}}'s boards</h2>
        <h2 *ngIf="selectedElement.user != null" i18n="@@boardsComponentUsersBoards">{{selectedElement.user.firstName}} {{selectedElement.user.lastName}}'s boards</h2>

        <div class="spacer"></div>
        <button mat-icon-button
                (click)="openSearchDialog()"
                class="toggleBoardSearch">
          <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button
                (click)="clearSearch()"
                class="clearSearchButton">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="project-boards">
        <div *ngFor="let board of selectedElement.boards" class="project-boards-list">
          <h3>{{board.name}}</h3>
          <app-board [board]="board"></app-board>
        </div>
      </div>
    </section>

  <section *ngIf="selectedElementBoardsFetched && selectedElement.boards.length === 0">
    <div class="section-head">
      <h2
        i18n="@@boardsComponentNothingFound">
        No board could be found.
      </h2>

      <div class="spacer"></div>
      <button mat-icon-button
              (click)="openSearchDialog()"
              class="toggleBoardSearch">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-icon-button
              (click)="clearSearch()"
              class="clearSearchButton">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </section>


</div>
