@import "../../assets/theme";

#settings {
  height: 100vh;

  #settings-nav {
    display: flex;
    flex-direction: column;
    background-color: #313131;
    color: white;
    width: 4em;

    @include media-breakpoint-small {
      width: 245px;
    }

    section {
      header, span {
        display: none;
      }

      @include media-breakpoint-small {
        header {
          display: block;
          font-size: 1.2em;
          line-height: 2em;
          padding: 1em 2em;
        }

        span {
          display: inline;
        }

        mat-icon {
          margin-right: .5em;
        }
      }

      .setting {
        height: 4em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;

        @include media-breakpoint-small {
          padding: 1em 2em;
          justify-content: left;
        }

        &:hover {
          cursor: pointer;
          background: #212121;
        }
      }

      .active {
        background: #252525;
      }

    }
  }
}

#divider {
  border-bottom: 1px solid #212121;
}
