<mat-drawer-container id="settings">

  <mat-drawer mode="side" opened id="settings-nav">
    <section id="user-settings">
      <header i18n="@@settingsUser">
        User settings
      </header>
      <div class="flex flex-column">
        <div class="setting" (click)="goTo('account')" [class.active]="isActive('/account') || isActive('')">
          <mat-icon>face</mat-icon>
          <span i18n="@@account">Account</span>
        </div>
        <div class="setting" (click)="goTo('notifications')" [class.active]="isActive('/notifications')">
          <mat-icon>notifications</mat-icon>
          <span i18n="@@notifications">Notifications</span>
        </div>
      </div>
    </section>

    <div id="divider"></div>

    <section id="organization-settings" *ngIf="isAdmin">
      <header i18n="@@administration">
        Administration
      </header>
      <div class="flex flex-column">
        <div class="setting" (click)="goTo('accounts')" [class.active]="isActive('/accounts')">
          <mat-icon>people</mat-icon>
          <span i18n="@@accounts">Accounts</span>
        </div>
        <div class="setting" (click)="goTo('organizations')" [class.active]="isActive('/organizations')">
          <mat-icon>business</mat-icon>
          <span i18n="@@organizations">Organizations</span>
        </div>
        <div class="setting"
             (click)="goTo('domains')"
             [class.active]="isActive('/domains')"
             *ngIf="platformService.settings != null">
          <mat-icon>mail</mat-icon>
          <span>
          <ng-container *ngIf="platformService.settings.open; then blackList else whiteList"></ng-container>
          <ng-template #whiteList i18n="@@settingsWhitelistMail">Whitelist mail domains</ng-template>
          <ng-template #blackList i18n="@@settingsBlacklistMail">Blacklist mail domains</ng-template>
          </span>
        </div>
      </div>
    </section>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
