<div *ngIf="sessionsFetched; else loading" class="flex flex-column">

  <div *ngIf="sessions.length > 0; else noSessionPlaceholder">
    <div class="flex">
      <div class="spacer"></div>
      <button mat-button (click)="openSessionCreation()" id="create-session-button" *ngIf="canCreateSession()">
        <mat-icon>add</mat-icon>
        <ng-container i18n="@@brainstormingListCreate">Create a new session</ng-container>
      </button>
    </div>

    <div id="session-list">
      <app-brainstorming-session-card *ngFor="let session of sessions"
                                      [session]="session"
                                      (click)="selectSession(session)">
      </app-brainstorming-session-card>
    </div>
  </div>

  <ng-template #noSessionPlaceholder>
    <div id="empty-sessions">
      <h3 i18n="@@brainstormingListNoSession">No brainstorming session was found for this community</h3>
      <button mat-raised-button color="primary" (click)="openSessionCreation()" *ngIf="canCreateSession()">
        <mat-icon>add</mat-icon>
        <ng-container i18n="@@brainstormingListCreate">Create a new session</ng-container>
      </button>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
