@import "~assets/theme";

#empty-sessions {
  padding: 3em;
  text-align: center;

  button {
    margin-top: 2em;
  }
}

#filters {
  padding: 2em 0 1em 0;
  float: right;
}

#create-session-button {
  float: right;
  margin: 24px;
}

#session-list{
  margin: 1em;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-small {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

app-brainstorming-session-card {
  margin: 1em;

  &:hover{
    cursor: pointer;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transition:all .1s ease-in-out;
  }
}
